openapi: 3.1.0

info:
  title: Katana Public API
  version: 1.0.0
  description: |
    Public API for Katana Manufacturing Resource Planning (MRP) platform.

    This OpenAPI specification provides comprehensive access to Katana's manufacturing,
    inventory, sales, and purchasing capabilities.

    **Key Features:**
    - Complete CRUD operations for all business objects
    - Real-time inventory management and tracking
    - Manufacturing order and BOM (Bill of Materials) management
    - Sales and purchase order processing
    - Webhook event notifications for real-time integrations
    - Rate limiting with retry headers for reliable API usage
    - Comprehensive pagination support for list endpoints

    **API Limits:**
    - Rate limit: 60 requests per 60 seconds
    - Max page size: 250 records per request
    - Default page size: 50 records per request

    **Webhook Events:**
    Subscribe to real-time notifications for 50+ event types including sales orders,
    manufacturing orders, inventory changes, and more.
  license:
    name: MIT
    url: https://opensource.org/license/mit/

servers:
  - url: https://api.katanamrp.com/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    ids:
      name: ids
      in: query
      description: Filters results by an array of IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    location_ids:
      name: location_ids
      in: query
      description: Filters results by an array of location IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    variant_ids:
      name: variant_ids
      in: query
      description: Filters results by an array of variant IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    extend:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response.
      schema:
        type: array
        items:
          type: string
          enum:
            - variant
            - location
    location_id:
      name: location_id
      in: query
      description: Filters results by a location ID.
      required: false
      schema:
        type: integer
    resource_type:
      name: resource_type
      in: query
      description: Filters results by resource type.
      required: false
      schema:
        type: string
        enum:
          - PurchaseOrderRow
          - PurchaseOrderRecipeRow
          - SalesOrderRow
          - ManufacturingOrderRecipeRow
          - StockAdjustmentRow
          - StockTransferRow
          - ManufacturingOrder
          - SystemGenerated
    resource_id:
      name: resource_id
      in: query
      description: Filters results by a resource ID.
      required: false
      schema:
        type: integer
    caused_by_order_no:
      name: caused_by_order_no
      in: query
      description: Filters results by the causing order number.
      required: false
      schema:
        type: string
    caused_by_resource_id:
      name: caused_by_resource_id
      in: query
      description: Filters results by the causing resource ID.
      required: false
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Number of records to return per page.
      required: false
      schema:
        type: integer
        default: 50
    page:
      name: page
      in: query
      description: Page number to return.
      required: false
      schema:
        type: integer
        default: 1
    created_at_min:
      name: created_at_min
      in: query
      description: Minimum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    created_at_max:
      name: created_at_max
      in: query
      description: Maximum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_min:
      name: updated_at_min
      in: query
      description: Minimum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_max:
      name: updated_at_max
      in: query
      description: Maximum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    batch_id:
      name: batch_id
      in: query
      description: Filters results by a valid batch id.
      schema:
        type: integer
    batch_number:
      name: batch_number
      in: query
      description: Filters results by a valid batch number.
      schema:
        type: string
    variant_id:
      name: variant_id
      in: query
      description: Filters results by a valid variant id.
      schema:
        type: integer
    include_archived:
      name: include_archived
      in: query
      required: false
      description: Includes archived results.
      schema:
        type: boolean
    batch_barcode:
      name: batch_barcode
      in: query
      description: Filter results by batch barcode.
      schema:
        type: string
    batch_created_at_min:
      name: batch_created_at_min
      in: query
      description: Minimum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    batch_created_at_max:
      name: batch_created_at_max
      in: query
      description: Maximum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    include_empty:
      name: include_empty
      in: query
      description: Include empty records in result.
      schema:
        type: boolean
    name:
      name: name
      in: query
      required: false
      description: Filters records by name.
      schema:
        type: string
    include_deleted:
      name: include_deleted
      in: query
      required: false
      description: Soft-deleted data is excluded from result set by default. Set to true to include it.
      schema:
        type: boolean
    legal_name:
      name: legal_name
      in: query
      description: Filters results by a legal name.
      required: false
      schema:
        type: string
    address_id:
      name: address_id
      in: query
      description: Filters results by an address ID.
      required: false
      schema:
        type: integer
    sales_allowed:
      name: sales_allowed
      in: query
      description: Filters results by whether sales are allowed.
      required: false
      schema:
        type: boolean
    manufacturing_allowed:
      name: manufacturing_allowed
      in: query
      description: Filters results by whether manufacturing is allowed.
      required: false
      schema:
        type: boolean
    purchases_allowed:
      name: purchases_allowed
      in: query
      description: Filters results by whether purchases are allowed.
      required: false
      schema:
        type: boolean
    rank:
      name: rank
      in: query
      description: Filters results by a rank value.
      required: false
      schema:
        type: integer
    bin_name:
      name: bin_name
      in: query
      required: false
      description: Filters storage bins by name.
      schema:
        type: string
    uom:
      name: uom
      required: false
      description: Filters records by unit of measure.
      schema:
        type: string
      in: query
    default_supplier_id:
      name: default_supplier_id
      required: false
      description: Filters records by default supplier ID.
      schema:
        type: integer
      in: query
    is_sellable:
      name: is_sellable
      required: false
      description: Filters records by whether they are sellable.
      schema:
        type: boolean
      in: query
    batch_tracked:
      name: batch_tracked
      required: false
      description: Filters records by whether they are batch tracked.
      schema:
        type: boolean
      in: query
    purchase_uom:
      name: purchase_uom
      required: false
      description: Filters records by purchase unit of measure.
      schema:
        type: string
      in: query
    purchase_uom_conversion_rate:
      name: purchase_uom_conversion_rate
      required: false
      description: Filters records by purchase unit of measure conversion rate.
      schema:
        type: number
      in: query
    sku:
      name: sku
      required: false
      description: Filters results by a sku
      schema:
        type: string
      in: query
    sku_list:
      name: sku
      required: false
      description: Filters results by list of skus
      schema:
        type: array
        items:
          type: string
      in: query
    category:
      name: category
      required: false
      description: Filters negative stock by a category
      schema:
        type: string
      in: query
    is_producible:
      name: is_producible
      required: false
      description: Filters products by an is_producible
      schema:
        type: boolean
      in: query
    is_purchasable:
      name: is_purchasable
      required: false
      description: Filters products by an is_purchasable
      schema:
        type: boolean
      in: query
    is_auto_assembly:
      name: is_auto_assembly
      required: false
      description: Filters products by an is_auto_assembly
      schema:
        type: boolean
      in: query
    serial_tracked:
      name: serial_tracked
      required: false
      description: Filters products by a serial_tracked
      schema:
        type: boolean
      in: query
    operations_in_sequence:
      name: operations_in_sequence
      required: false
      description: Filters products by a operations_in_sequence
      schema:
        type: boolean
      in: query
    order_no:
      name: order_no
      required: false
      description: Filters purchase orders by an order number
      schema:
        type: string
      in: query
    entity_type:
      name: entity_type
      required: false
      description: Filters purchase orders by an entity type
      schema:
        type: string
        enum:
          - regular
          - outsourced
      in: query
    po_status:
      name: status
      required: false
      description: Filters purchase orders by a status
      schema:
        enum:
          - NOT_RECEIVED
          - PARTIALLY_RECEIVED
          - RECEIVED
      in: query
    billing_status:
      name: billing_status
      required: false
      description: Filters purchase orders by a billing status
      schema:
        enum:
          - BILLED
          - NOT_BILLED
          - PARTIALLY_BILLED
      in: query
    currency:
      name: currency
      required: false
      description: Filters purchase orders by a currency
      schema:
        type: string
      in: query
    tracking_location_id:
      name: tracking_location_id
      required: false
      description: Filters purchase orders by a tracking location
      schema:
        type: number
      in: query
    supplier_id:
      name: supplier_id
      required: false
      description: Filters purchase orders by a supplier
      schema:
        type: number
      in: query
    group_id:
      name: group_id
      required: false
      description: Filters purchase order additional cost rows by group id
      schema:
        type: number
      in: query
    additional_cost_id:
      name: additional_cost_id
      required: false
      description: Filters purchase order additional cost rows by additional cost id
      schema:
        type: number
      in: query
    tax_rate_id:
      name: tax_rate_id
      required: false
      description: Filters purchase order additional cost rows by tax rate id
      schema:
        type: number
      in: query
    distribution_method:
      name: distribution_method
      required: false
      description: Filters purchase order additional cost rows by an distribution method
      schema:
        type: string
        enum:
          - BY_VALUE
          - NON_DISTRIBUTED
      in: query
    purchase_order_id:
      name: purchase_order_id
      required: false
      description: Filters purchase order rows by purchase order id
      schema:
        type: number
      in: query
    mo_status:
      name: status
      required: false
      description: Filters manufacturing orders by a status.
      schema:
        enum:
          - NOT_STARTED
          - BLOCKED
          - IN_PROGRESS
          - PAUSED
          - COMPLETED
      in: query
    manufacturing_order_id:
      name: manufacturing_order_id
      required: false
      description: Filters manufacturing orders by location.
      schema:
        type: number
      in: query
    received_items_group_id:
      name: received_items_group_id
      required: false
      description: Filters purchase order accounting metadata by received items group id
      schema:
        type: number
      in: query
    email:
      name: email
      required: false
      description: Filters suppliers by an email
      schema:
        type: string
      in: query
    phone:
      name: phone
      required: false
      description: Filters suppliers by a phone number
      schema:
        type: string
      in: query
    supplier_ids:
      name: supplier_ids
      required: false
      description: Filters supplier addresses by an array of supplier IDs
      schema:
        type: array
        items:
          type: integer
      in: query
    line_1:
      name: line_1
      required: false
      description: Filters supplier addresses by a line_1
      schema:
        type: string
      in: query
    line_2:
      name: line_2
      required: false
      description: Filters supplier addresses by a line_2
      schema:
        type: string
      in: query
    city:
      name: city
      required: false
      description: Filters supplier addresses by a city
      schema:
        type: string
      in: query
    state:
      name: state
      required: false
      description: Filters supplier addresses by a state
      schema:
        type: string
      in: query
    zip:
      name: zip
      required: false
      description: Filters supplier addresses by a zip
      schema:
        type: string
      in: query
    country:
      name: country
      required: false
      description: Filters supplier addresses by a country
      schema:
        type: string
      in: query
    ingredient_availability:
      name: ingredient_availability
      required: false
      description: Filters manufacturing orders by an ingredient availability.
      schema:
        enum:
          - PROCESSED
          - IN_STOCK
          - NOT_AVAILABLE
          - EXPECTED
          - NO_RECIPE
          - NOT_APPLICABLE
      in: query
    rate:
      name: rate
      required: false
      description: Filters tax rates by rate
      schema:
        type: number
      in: query
    is_default_sales:
      name: is_default_sales
      required: false
      description: Filters tax rates by an is_default_sales
      schema:
        type: boolean
      in: query
    is_default_purchases:
      name: is_default_purchases
      required: false
      description: Filters tax rates by an is_default_purchases
      schema:
        type: boolean
      in: query
    product_id:
      name: product_id
      required: false
      description: Filters variants by a product id
      schema:
        type: integer
      in: query
    material_id:
      name: material_id
      required: false
      description: Filters variants by a material id
      schema:
        type: integer
      in: query
    sales_price:
      name: sales_price
      required: false
      description: Filters variants by a sales price
      schema:
        type: number
      in: query
    purchase_price:
      name: purchase_price
      required: false
      description: Filters variants by a purchase price
      schema:
        type: number
      in: query
    internal_barcode:
      name: internal_barcode
      required: false
      description: Filters variants by an internal barcode
      schema:
        type: string
        minLength: 3
        maxLength: 40
      in: query
    registered_barcode:
      name: registered_barcode
      required: false
      description: Filters variants by a registered barcode
      schema:
        type: string
        maxLength: 120
      in: query
    supplier_item_codes:
      name: supplier_item_codes
      required: false
      description: Filters variants by supplier item codes. Returns the variants that match with any of the codes in the array.
      schema:
        type: array
        items:
          type: string
          minLength: 1
      in: query
    url:
      name: url
      required: false
      description: Filters webhooks by an url
      schema:
        type: string
      in: query
    enabled:
      name: enabled
      required: false
      description: Filters webhooks by enabled flag
      schema:
        type: boolean
      in: query
    is_linked_to_sales_order:
      name: is_linked_to_sales_order
      required: false
      description: Filters based on whether a manufacturing order is linked to a sales order or not.
      schema:
        type: boolean
      in: query
    manufacturing_order_ids:
      name: manufacturing_order_ids
      required: false
      description: Filters manufacturing order productions by manufacturing order ids.
      schema:
        type: array
        items:
          type: integer
      in: query

  # Reusable headers
  headers:
    X-Pagination:
      description: Pagination metadata containing page information for paginated responses
      schema:
        type: object
        properties:
          total_records:
            type: integer
            description: Total number of records in the result set matching the filters
          total_pages:
            type: integer
            description: Number of pages in the result set
          offset:
            type: integer
            description: The offset from 0 for the start of this page
          page:
            type: integer
            description: The current page number being requested
          first_page:
            type: boolean
            description: Whether the requested page is the first one in the collection
          last_page:
            type: boolean
            description: Whether the requested page is the last one in the collection
        required:
          - total_records
          - total_pages
          - offset
          - page
          - first_page
          - last_page
        example:
          total_records: 142
          total_pages: 8
          offset: 50
          page: 2
          first_page: false
          last_page: false
    X-Ratelimit-Limit:
      description: Number of requests available for this application (default 60 per minute)
      schema:
        type: integer
        example: 60
    X-Ratelimit-Remaining:
      description: Number of requests remaining in current rate limit window
      schema:
        type: integer
        example: 45
    X-Ratelimit-Reset:
      description: The timestamp (milliseconds since epoch) when the rate limit quota will reset
      schema:
        type: integer
        format: int64
        example: 1640995199000
    Retry-After:
      description: Number of seconds to wait before making another request when rate limited
      schema:
        type: integer
        example: 15
    X-Katana-Retry-Num:
      description: Webhook retry attempt number (1, 2, or 3)
      schema:
        type: integer
        minimum: 1
        maximum: 3
        example: 1
    X-Sha2-Signature:
      description: HMAC SHA-256 signature for webhook verification
      schema:
        type: string
        example: "sha256=a8f5f167f44f4964e6c998dee827110c"

  # Reusable error responses
  responses:
    NoContent:
      description: Object deleted successfully
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 204
            name: NotContent
            message: No content

    UnauthorizedError:
      description: Make sure you've entered your API token correctly.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 401
            name: UnauthorizedError
            message: Unauthorized

    NotFoundError:
      description: Not found.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 404
            name: NotFoundError
            message: Not found

    UnprocessableEntityError:
      description: Validation failed.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DetailedErrorResponse"
          example:
            statusCode: 422
            name: UnprocessableEntityError
            message: The request body is invalid.
            code: VALIDATION_FAILED
            details:
              - path: .name
                code: maxLength
                message: should NOT be longer than 10 characters
                info:
                  limit: 10

    TooManyRequests:
      description: Rate limit exceeded - too many requests sent within the rate limit window (60 requests per 60 seconds)
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 429
            name: TooManyRequests
            message: Too Many Requests

    InternalServerError:
      description: Internal Server Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 500
            name: InternalServerError
            message: Internal Server Error

    BadRequestError:
      description: Bad Request Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 400
            name: BadRequest
            message: Bad Request

  schemas:
    # Common error response schemas
    ErrorResponse:
      type: object
      description: Base error message schema
      properties:
        statusCode:
          type: number
          description: HTTP status code
        name:
          type: string
          description: Error name/type
        message:
          type: string
          description: Human-readable error message

    CodedErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            code:
              type: [string, "null"]
              description: Application-specific error code
      required:
        - statusCode
        - name
        - message

    DetailedErrorResponse:
      allOf:
        - $ref: "#/components/schemas/CodedErrorResponse"
        - type: object
          properties:
            details:
              type: array
              description: Detailed validation error information
              items:
                $ref: "#/components/schemas/ValidationErrorDetail"

    ValidationErrorDetail:
      type: object
      description: Individual validation error detail
      properties:
        path:
          type: string
          description: JSON path to the field with the error
        code:
          type: string
          description: Validation error code
        message:
          type: string
          description: Human-readable validation error message
        info:
          type: object
          description: Additional validation context
          additionalProperties: true
      required:
        - path
        - code

    # Common Schema

    BaseEntity:
      type: object
      description: Base entity with unique identifier
      properties:
        id:
          type: integer
          description: Unique identifier
      required:
        - id
      example:
        id: 12345

    UpdatableEntity:
      type: object
      description: Common fields for entities that can be updated
      properties:
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"

    ArchivableEntity:
      allOf:
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          description: Common fields for entities that can be archived
          properties:
            archived_at:
              type: [string, "null"]
              format: date-time
              description: Nullable archive timestamp - when the entity was archived
              example: null

    DeletableEntity:
      allOf:
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          description: Common fields for entities that can be deleted
          properties:
            deleted_at:
              type: [string, "null"]
              format: date-time
              description: Nullable deletion timestamp
          example:
            deleted_at: null

    # Common Sub-schemas

    CustomField:
      type: object
      description: A custom field with name-value pair
      additionalProperties: false
      properties:
        field_name:
          type: string
          description: Name of the custom field
        field_value:
          type: string
          description: Value of the custom field
      required:
        - field_name
        - field_value
      example:
        field_name: "Priority"
        field_value: "High"

    CustomFieldsArray:
      type: array
      description: Array of custom fields for additional entity metadata
      items:
        $ref: "#/components/schemas/CustomField"
      example:
        - field_name: "Priority"
          field_value: "High"
        - field_name: "Department"
          field_value: "Production"

    ConfigAttribute:
      type: object
      description: A configuration attribute with name-value pair
      additionalProperties: false
      properties:
        config_name:
          type: string
          description: Name of the configuration attribute
        config_value:
          type: string
          description: Value of the configuration attribute
      required:
        - config_name
        - config_value
      example:
        config_name: "Color"
        config_value: "Blue"

    ConfigAttributesArray:
      type: array
      description: Array of configuration attributes for product variants (size, color, etc.)
      items:
        $ref: "#/components/schemas/ConfigAttribute"
      example:
        - config_name: "Color"
          config_value: "Blue"
        - config_name: "Size"
          config_value: "Medium"

    # Main Entities
    AdditionalCost:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            name:
              type: string
          required:
            - name
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 1
        name: "Shipping Cost"
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null

    AdditionalCostListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AdditionalCost"
      example:
        data:
          - id: 1
            name: "Shipping Cost"
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 2
            name: "Import Duty"
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null

    Batch:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          description: Manufacturing batch tracking with expiration and traceability management
          additionalProperties: false
          required:
            - batch_number
            - variant_id
          properties:
            batch_number:
              type: string
              description: Unique batch number identifier for manufacturing traceability
              example: "BATCH-ALU6061-240315"
            expiration_date:
              type: string
              format: date-time
              description: Batch expiration date for quality control (ISO 8601)
              example: "2025-03-15T23:59:59.000Z"
            batch_created_date:
              type: string
              format: date-time
              description: Batch production completion date (ISO 8601)
              example: "2024-03-15T10:30:00.000Z"
            variant_id:
              type: integer
              maximum: 2147483647
              description: ID of the product variant this batch represents
              example: 3001
            batch_barcode:
              type: [string, "null"]
              minLength: 3
              maxLength: 40
              description: Scannable barcode for warehouse operations
              example: "ALU6061240315"
          example:
            id: 4001
            batch_number: "BATCH-ALU6061-240315"
            expiration_date: "2025-03-15T23:59:59.000Z"
            batch_created_date: "2024-03-15T10:30:00.000Z"
            variant_id: 3001
            batch_barcode: "ALU6061240315"
            created_at: "2024-03-15T10:30:00.000Z"
            updated_at: "2024-03-15T10:30:00.000Z"

    BatchStock:
      allOf:
        - $ref: "#/components/schemas/Batch"
        - type: object
          description: Batch inventory status with location and quantity tracking
          properties:
            location_id:
              type: integer
              description: ID of the warehouse location where the batch is stored
              example: 101
            quantity_in_stock:
              type: string
              description: Current quantity available for this batch
              example: "150.00000"
          example:
            id: 4001
            batch_number: "BATCH-ALU6061-240315"
            batch_created_date: "2024-03-15T10:30:00.000Z"
            expiration_date: "2025-03-15T23:59:59.000Z"
            variant_id: 3001
            batch_barcode: "ALU6061240315"
            location_id: 101
            quantity_in_stock: "150.00000"
            created_at: "2024-03-15T10:30:00.000Z"
            updated_at: "2024-03-15T10:30:00.000Z"

    BatchStockListResponse:
      type: object
      description: Response containing batch inventory levels across multiple batches
      properties:
        data:
          type: array
          description: Array of batch stock records with expiration and quantity tracking
          items:
            $ref: "#/components/schemas/BatchStock"
      example:
        data:
          - id: 4001
            batch_number: "BATCH-ALU6061-240315"
            batch_created_date: "2024-03-15T10:30:00.000Z"
            expiration_date: "2025-03-15T23:59:59.000Z"
            variant_id: 3001
            batch_barcode: "ALU6061240315"
            location_id: 101
            quantity_in_stock: "150.00000"
            created_at: "2024-03-15T10:30:00.000Z"
            updated_at: "2024-03-15T10:30:00.000Z"
          - id: 4002
            batch_number: "BATCH-SS316-240314"
            batch_created_date: "2024-03-14T14:15:00.000Z"
            expiration_date: "2026-03-14T23:59:59.000Z"
            variant_id: 3005
            batch_barcode: "SS316240314"
            location_id: 101
            quantity_in_stock: "75.50000"
            created_at: "2024-03-14T14:15:00.000Z"
            updated_at: "2024-03-14T14:15:00.000Z"

    BatchStockUpdate:
      type: object
      additionalProperties: false
      properties:
        batch_number:
          type: string
          description: Updated batch number
        expiration_date:
          type: string
          format: date-time
          description: Updated expiration date (ISO 8601)
        batch_created_date:
          type: string
          format: date-time
          description: Updated batch creation date (ISO 8601)
        batch_barcode:
          type: [string, "null"]
          minLength: 3
          maxLength: 40
          description: Updated barcode for the batch
      example:
        batch_number: "BAT-2024-001-UPDATED"
        expiration_date: "2025-12-31T23:59:59.000Z"
        batch_barcode: "0317-V2"

    BatchResponse:
      allOf:
        - $ref: "#/components/schemas/Batch"
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/UpdatableEntity"
      example:
        id: 1109
        batch_number: "BAT-2024-001"
        expiration_date: "2025-10-23T10:37:05.085Z"
        batch_created_date: "2024-01-15T08:00:00.000Z"
        created_at: "2024-01-15T08:00:00.000Z"
        updated_at: "2024-01-15T08:00:00.000Z"
        variant_id: 1001
        batch_barcode: "0317"

    StorageBin:
      type: object
      description: Core storage bin business properties
      additionalProperties: false
      required:
        - bin_name
        - location_id
      properties:
        bin_name:
          type: string
          description: Name of the storage bin
        location_id:
          type: integer
          description: Unique identifier of the location where storage bin is located
      example:
        bin_name: "A-01-SHELF-1"
        location_id: 1

    StorageBinResponse:
      allOf:
        - $ref: "#/components/schemas/StorageBin"
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 12345
        bin_name: "A-01-SHELF-1"
        location_id: 1
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null

    StorageBinUpdate:
      type: object
      description: Storage bin fields for update operations (all optional for PATCH)
      additionalProperties: false
      properties:
        bin_name:
          type: string
          description: Name of the storage bin
        location_id:
          type: integer
          description: Unique identifier of the location where storage bin is located
      example:
        bin_name: "A-01-SHELF-2"
        location_id: 2

    StorageBinListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/StorageBinResponse"
      example:
        data:
          - id: 12345
            bin_name: "A-01-SHELF-1"
            location_id: 1
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 12346
            bin_name: "A-02-SHELF-1"
            location_id: 1
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null

    InventoryMovement:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          description: Details of a single inventory movement record tracking stock changes over time.
          properties:
            variant_id:
              type: integer
              description: Identifier of the product variant associated with the movement.
              example: 3001
            location_id:
              type: integer
              description: Identifier of the location where the movement occurred.
              example: 12001
            resource_type:
              type: string
              description: The type of resource that caused the movement.
              enum:
                - PurchaseOrderRow
                - PurchaseOrderRecipeRow
                - SalesOrderRow
                - ManufacturingOrderRecipeRow
                - StockAdjustmentRow
                - StockTransferRow
                - ManufacturingOrder
                - SystemGenerated
              example: PurchaseOrderRow
            resource_id:
              oneOf:
                - type: integer
                - type: "null"
              description: Identifier of the resource that initiated the movement.
              example: 50001
            caused_by_order_no:
              oneOf:
                - type: string
                - type: "null"
              description: Order number that triggered the movement.
              example: "PO-2024-001"
            caused_by_resource_id:
              oneOf:
                - type: integer
                - type: "null"
              description: Identifier for the resource that caused the movement.
              example: 50001
            movement_date:
              type: string
              format: date-time
              description: Date and time when the inventory movement occurred.
              example: "2024-01-15T10:30:00Z"
            quantity_change:
              type: number
              description: The change in quantity as a result of the movement (positive for increases, negative for decreases).
              example: 50.0
            balance_after:
              type: number
              description: The quantity balance after the movement.
              example: 125.0
            value_per_unit:
              type: number
              description: The value per unit for the movement.
              example: 25.50
            value_in_stock_after:
              type: number
              description: The total value in stock after the movement.
              example: 3187.50
            average_cost_after:
              type: number
              description: The average cost per unit after the movement.
              example: 25.50
            rank:
              type: integer
              description: A rank or order index for the movement within a sequence.
              example: 1
          required:
            - variant_id
            - location_id
            - resource_type
            - movement_date
            - quantity_change
            - balance_after
            - value_per_unit
            - value_in_stock_after
            - average_cost_after

    InventoryMovementListResponse:
      type: object
      description: Response containing historical inventory movements for audit and tracking
      properties:
        data:
          type: array
          description: Array of inventory movement records showing all stock changes over time
          items:
            $ref: "#/components/schemas/InventoryMovement"
      example:
        data:
          - id: 10001
            variant_id: 3005
            location_id: 101
            resource_type: "PurchaseOrderRow"
            resource_id: 5001
            caused_by_order_no: "PO-240315-001"
            caused_by_resource_id: 5001
            movement_date: "2024-03-15T10:30:00.000Z"
            quantity_change: 100.0
            balance_after: 250.0
            value_per_unit: 42.50
            value_in_stock_after: 10625.00
            average_cost_after: 42.50
            rank: 1
            created_at: "2024-03-15T10:30:00.000Z"
            updated_at: "2024-03-15T10:30:00.000Z"
          - id: 10002
            variant_id: 3005
            location_id: 101
            resource_type: "SalesOrderRow"
            resource_id: 8001
            caused_by_order_no: "SO-240315-001"
            caused_by_resource_id: 8001
            movement_date: "2024-03-15T14:45:00.000Z"
            quantity_change: -45.0
            balance_after: 205.0
            value_per_unit: 42.50
            value_in_stock_after: 8712.50
            average_cost_after: 42.50
            rank: 2
            created_at: "2024-03-15T14:45:00.000Z"
            updated_at: "2024-03-15T14:45:00.000Z"
      required:
        - data

    Variant:
      description: A variant represents a specific SKU that can be associated with either a product or material, containing unique pricing, barcode, and configuration information
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            sku:
              type: string
              description: Unique stock keeping unit identifier for this variant
            sales_price:
              type: [number, "null"]
              description: Price at which this variant is sold to customers
            product_id:
              type: [integer, "null"]
              description: ID of the associated product (null if this is a material variant)
            material_id:
              type: [integer, "null"]
              description: ID of the associated material (null if this is a product variant)
            purchase_price:
              type: number
              description: Price at which this variant is purchased from suppliers
            product_or_material_name:
              type: string
              description: Name of the associated product or material
            type:
              type: string
              description: Type of variant indicating whether it's associated with a product or material
            internal_barcode:
              type: string
              description: Internal barcode used within the organization
            registered_barcode:
              type: string
              description: Official registered barcode (UPC, EAN, etc.)
            supplier_item_codes:
              type: array
              items:
                type: string
              description: List of supplier-specific item codes for this variant
            lead_time:
              type: [integer, "null"]
              description: Lead time in days for obtaining this variant
            minimum_order_quantity:
              type: [number, "null"]
              description: Minimum quantity that must be ordered from suppliers
            custom_fields:
              $ref: "#/components/schemas/CustomFieldsArray"
            config_attributes:
              $ref: "#/components/schemas/ConfigAttributesArray"
          required:
            - sku
          example:
            id: 2018016
            sku: "SHIRT-BLUE-M"
            sales_price: 29.99
            product_id: 1418016
            material_id: null
            purchase_price: 15.50
            product_or_material_name: "Cotton T-Shirt"
            type: "product"
            internal_barcode: "INT-SHIRT-BLUE-M"
            registered_barcode: "1234567890123"
            supplier_item_codes: ["SUPP-SHIRT-BLU-M", "ALT-SHIRT-BLUE-MED"]
            lead_time: 14
            minimum_order_quantity: 50
            custom_fields:
              - field_name: "Season"
                field_value: "Summer 2024"
              - field_name: "Brand"
                field_value: "EcoWear"
            config_attributes:
              - config_name: "Color"
                config_value: "Blue"
              - config_name: "Size"
                config_value: "Medium"
            created_at: "2024-01-15T09:30:00.000Z"
            updated_at: "2024-02-10T14:22:00.000Z"
            deleted_at: null

    # Base address schema with common address fields (not an entity)
    BaseAddress:
      type: object
      properties:
        line_1:
          type: string
          description: The first line of the address (street name and house number)
        line_2:
          type: string
          description: The second line of the address (apartment, suite, unit, or building)
        city:
          type: string
          description: The city of the address
        state:
          type: string
          description: The state of the address
        zip:
          type: string
          description: The zip code of the address
        country:
          type: string
          description: The country of the address

    # Location-specific address (inherits BaseAddress + BaseEntity)
    LocationAddress:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/BaseAddress"

    Location:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            name:
              type: string
              description: Name of the location
            legal_name:
              type: string
              description: This name is added to the "Ship to" information when a purchase order for this location is printed or saved as PDF
            address_id:
              type: integer
              description: ID of the location's address
            address:
              $ref: "#/components/schemas/LocationAddress"
            is_primary:
              type: boolean
              description: Indicates if the location is your primary location
            sales_allowed:
              type: boolean
              description: If true, Katana enables you to select the location for sales orders and manage location-specific list for those orders
            purchase_allowed:
              type: boolean
              description: If true, Katana enables you to select the location for purchase orders and manage location-specific list for those orders
            manufacturing_allowed:
              type: boolean
              description: If true, Katana enables you to select the location for manufacturing orders and manage location-specific list for those orders for manufacturing orders
          required:
            - name
      example:
        data:
          - id: 1
            name: Main location
            legal_name: Amazon
            address_id: 1
            address:
              id: 1
              city: New York
              country: United States
              line_1: "10 East 20th Example St"
              line_2: ""
              state: New York
              zip: "10000"
            is_primary: true
            sales_allowed: true
            purchase_allowed: true
            manufacturing_allowed: true
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 2
            name: Secondary location
            legal_name: Amazon
            address_id: null
            address: null
            is_primary: false
            sales_allowed: false
            purchase_allowed: true
            manufacturing_allowed: false
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null

    Inventory:
      type: object
      description: Real-time inventory status showing stock levels, commitments, and availability
      properties:
        variant_id:
          type: integer
          description: ID of product or material variant tracked in inventory
          example: 3005
        location_id:
          type: integer
          description: ID of the warehouse location of the inventory
          example: 101
        safety_stock_level:
          type: [number, "null"]
          description: Minimum stock threshold to prevent stockouts during lead time
          example: 75.0
        reorder_point:
          type: [number, "null"]
          description: "(Deprecated - queries safety_stock_level instead) The reorder point for this variant"
          example: 75.0
        average_cost:
          type: [number, "null"]
          description: >
            Current weighted average cost per unit in stock.
            Calculated as total value divided by quantity in stock.
            Uses average cost methodology for accurate cost tracking
          example: 42.50
        value_in_stock:
          type: [number, "null"]
          description: >
            Total monetary value of inventory at average cost.
            Based on purchase cost for materials and manufacturing cost for products.
            Excludes expected/committed stock value
          example: 6375.00
        quantity_in_stock:
          type: [number, "null"]
          description: >
            Physical quantity currently available in warehouse.
            Updated real-time from sales orders, manufacturing orders,
            purchase orders, and manual stock adjustments
          example: 150.0
        quantity_committed:
          type: [number, "null"]
          description: >
            Quantity allocated to open orders and production requirements.
            Includes materials for manufacturing orders and products for sales orders.
            Reduces available stock for new commitments
          example: 45.0
        quantity_expected:
          type: [number, "null"]
          description: >
            Incoming stock from open orders and scheduled production.
            Materials expected from purchase orders, products from manufacturing orders.
            Increases projected future availability
          example: 100.0
        quantity_missing_or_excess:
          type: [number, "null"]
          description: >
            Stock balance relative to optimal levels.
            Formula: (in_stock - committed + expected - safety_stock).
            Negative values indicate procurement needs
          example: 130.0
        quantity_potential:
          type: [number, "null"]
          description: >
            Maximum sellable units considering component availability.
            For assemblies: calculates based on limiting component stock.
            Accounts for current commitments and multi-level BOMs
          example: 105.0
        variant:
          $ref: "#/components/schemas/Variant"
          description: Detailed variant information including SKU and product data
        location:
          $ref: "#/components/schemas/Location"
          description: Warehouse location details and address information
      required:
        - variant_id
        - location_id
      example:
        variant_id: 3005
        location_id: 101
        safety_stock_level: 75.0
        reorder_point: 75.0
        average_cost: 42.50
        value_in_stock: 6375.00
        quantity_in_stock: 150.0
        quantity_committed: 45.0
        quantity_expected: 100.0
        quantity_missing_or_excess: 130.0
        quantity_potential: 105.0

    InventoryListResponse:
      type: object
      description: Response containing real-time inventory status across multiple variants
      properties:
        data:
          type: array
          description: Array of inventory status records showing stock levels and availability
          items:
            $ref: "#/components/schemas/Inventory"
      example:
        data:
          - variant_id: 3005
            location_id: 101
            safety_stock_level: 75.0
            reorder_point: 75.0
            average_cost: 42.50
            value_in_stock: 6375.00
            quantity_in_stock: 150.0
            quantity_committed: 45.0
            quantity_expected: 100.0
            quantity_missing_or_excess: 130.0
            quantity_potential: 105.0
          - variant_id: 3008
            location_id: 101
            safety_stock_level: 25.0
            reorder_point: 25.0
            average_cost: 85.75
            value_in_stock: 1715.00
            quantity_in_stock: 20.0
            quantity_committed: 12.0
            quantity_expected: 50.0
            quantity_missing_or_excess: 33.0
            quantity_potential: 8.0
      required:
        - data

    InventoryReorderPoint:
      type: object
      additionalProperties: false
      required:
        - location_id
        - variant_id
        - value
      properties:
        location_id:
          type: integer
          maximum: 2147483647
        variant_id:
          type: integer
          maximum: 2147483647
        value:
          type: number
          maximum: 100000000000000000

    InventoryReorderPointResponse:
      allOf:
        - $ref: "#/components/schemas/InventoryReorderPoint"
        - $ref: "#/components/schemas/DeletableEntity"

    InventorySafetyStockLevel:
      type: object
      additionalProperties: false
      required:
        - location_id
        - variant_id
        - value
      properties:
        location_id:
          type: integer
          maximum: 2147483647
        variant_id:
          type: integer
          maximum: 2147483647
        value:
          type: number
          maximum: 100000000000000000

    InventorySafetyStockLevelResponse:
      allOf:
        - $ref: "#/components/schemas/InventorySafetyStockLevel"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        variant_id: 1
        location_id: 1
        value: 10
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"

    CreateManufacturingOrderRequest:
      type: object
      description: Request object for creating a new manufacturing order
      required:
        - variant_id
        - planned_quantity
        - location_id
      properties:
        variant_id:
          type: integer
          description: The ID of the product variant being produced
        planned_quantity:
          type: number
          description: The quantity planned to produce with the manufacturing order
        location_id:
          type: integer
          description: The ID of the location to which items are produced
        order_created_date:
          type: string
          format: date-time
          description: The timestamp of creating the document. ISO 8601 format with time and timezone must be used
        production_deadline_date:
          type: string
          format: date-time
          description: The timestamp of the production deadline for the manufacturing order. ISO 8601 format with time and timezone must be used
        additional_info:
          type: string
          description: A string attached to the object to add any internal comments, links to external files, additional instructions, etc
      example:
        variant_id: 1418016
        planned_quantity: 1
        location_id: 2327
        order_created_date: "2021-09-01T07:49:29.000Z"
        production_deadline_date: "2021-10-18T08:00:00.000Z"
        additional_info: ""

    ManufacturingOrder:
      description: A manufacturing order represents a production order in the system
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            status:
              type: string
              enum: [NOT_STARTED, BLOCKED, IN_PROGRESS, DONE]
              description: Status of the order
            order_no:
              type: string
              description: A unique, identifying string used in the UI and controlled by the user
            variant_id:
              type: integer
              description: The ID of the product variant being produced
            planned_quantity:
              type: number
              description: The quantity planned to produce with the manufacturing order
            actual_quantity:
              type: [number, "null"]
              description: The actual quantity of the product made with the manufacturing order
            location_id:
              type: integer
              description: The ID of the location to which items are produced
            order_created_date:
              type: string
              format: date-time
              description: The timestamp of creating the document. ISO 8601 format with time and timezone must be used
            done_date:
              type: [string, "null"]
              format: date-time
              description: The timestamp of completing the manufacturing order. ISO 8601 format with time and timezone must be used
            production_deadline_date:
              type: string
              format: date-time
              description: The timestamp of the production deadline for the manufacturing order. ISO 8601 format with time and timezone must be used
            additional_info:
              type: string
              description: A string attached to the object to add any internal comments, links to external files, additional instructions, etc
            is_linked_to_sales_order:
              type: boolean
              description: If a manufacturing order was made to order, it can be linked to a sales order
            sales_order_id:
              type: [integer, "null"]
              description: The ID of the sales order that is linked to the manufacturing order
            sales_order_row_id:
              type: [integer, "null"]
              description: The ID of the sales order row that is linked to the manufacturing order
            sales_order_delivery_deadline:
              type: [string, "null"]
              format: date-time
              description: Delivery deadline of the sales order that is linked to the manufacturing order
            ingredient_availability:
              type: string
              enum: [PROCESSED, IN_STOCK, NOT_AVAILABLE, EXPECTED, NO_RECIPE, NOT_APPLICABLE]
              description: The stock status of required materials or subassemblies listed in the manufacturing order recipe rows
            total_cost:
              type: number
              description: The total cost of manufacturing the selected quantity of the product
            total_actual_time:
              type: number
              description: The actual time for completing the manufacturing order operations measured in seconds
            total_planned_time:
              type: number
              description: The planned duration of manufacturing order operations measured in seconds
            material_cost:
              type: number
              description: The total cost of materials used to make the product. Calculated once the manufacturing order is marked as DONE
            subassemblies_cost:
              type: number
              description: The total cost of subassemblies used to make the product. Calculated once the manufacturing order is marked as DONE
            operations_cost:
              type: number
              description: The total cost of operations for making the product. Calculated once the manufacturing order is marked as DONE
            batch_transactions:
              type: array
              description: An array of batch transactions and their quantities. A manufacturing order will always contain one batch transaction since it supports producing into a single batch
              items:
                type: object
                properties:
                  batch_id:
                    type: integer
                    description: ID of the batch for the manufactured product
                  quantity:
                    type: number
                    description: The quantity produced in a particular batch
            serial_numbers:
              type: array
              description: Array of serial numbers associated with this manufacturing order
              items:
                $ref: "#/components/schemas/SerialNumber"
      example:
        id: 21400
        status: NOT_STARTED
        order_no: "SO-2 / 1"
        variant_id: 1418016
        planned_quantity: 1
        actual_quantity: null
        location_id: 2327
        order_created_date: "2021-09-01T07:49:29.000Z"
        done_date: null
        production_deadline_date: "2021-10-18T08:00:00.000Z"
        additional_info: ""
        is_linked_to_sales_order: true
        sales_order_id: 1
        sales_order_row_id: 1
        sales_order_delivery_deadline: "2021-09-01T07:49:29.813Z"
        ingredient_availability: IN_STOCK
        total_cost: 0
        total_actual_time: 0
        total_planned_time: 18000
        material_cost: 10
        subassemblies_cost: 10
        operations_cost: 10
        batch_transactions:
          - batch_id: 12345
            quantity: 1
        serial_numbers:
          - id: 1
            transaction_id: "eb4da756-0842-4495-9118-f8135f681234"
            serial_number: "SN1"
            resource_type: "Production"
            resource_id: 2
            transaction_date: "2023-02-10T10:06:14.435Z"
        created_at: "2021-09-01T07:49:29.813Z"
        updated_at: "2021-10-15T14:05:47.625Z"
        deleted_at: null

    UpdateManufacturingOrderRequest:
      type: object
      description: Request object for updating an existing manufacturing order
      properties:
        planned_quantity:
          type: number
          description: The quantity planned to produce with the manufacturing order
        additional_info:
          type: string
          description: A string attached to the object to add any internal comments, links to external files, additional instructions, etc
        production_deadline_date:
          type: string
          format: date-time
          description: The timestamp of the production deadline for the manufacturing order. ISO 8601 format with time and timezone must be used
      example:
        planned_quantity: 2
        additional_info: "Updated production requirements"
        production_deadline_date: "2021-10-20T08:00:00.000Z"

    CreateManufacturingOrderProductionRequest:
      type: object
      description: Request object for creating a new manufacturing order production
      required:
        - manufacturing_order_id
        - quantity
        - production_date
      properties:
        manufacturing_order_id:
          type: integer
          description: The ID of the manufacturing order this production belongs to
        quantity:
          type: number
          description: The quantity being produced in this production run
        production_date:
          type: string
          format: date-time
          description: The date and time when production is scheduled/completed
        ingredients:
          type: array
          description: List of ingredients used in this production
          items:
            $ref: "#/components/schemas/ManufacturingOrderProductionIngredient"
        operations:
          type: array
          description: List of operations performed in this production
          items:
            $ref: "#/components/schemas/ManufacturingOrderOperationRow"
      example:
        manufacturing_order_id: 21400
        quantity: 5
        production_date: "2021-09-01T07:49:29.000Z"
        ingredients: []
        operations: []

    UpdateManufacturingOrderProductionRequest:
      type: object
      description: Request object for updating an existing manufacturing order production
      properties:
        quantity:
          type: number
          description: The quantity being produced in this production run
        production_date:
          type: string
          format: date-time
          description: The date and time when production is scheduled/completed
        ingredients:
          type: array
          description: List of ingredients used in this production
          items:
            $ref: "#/components/schemas/UpdateManufacturingOrderProductionIngredientRequest"
        operations:
          type: array
          description: List of operations performed in this production
          items:
            $ref: "#/components/schemas/UpdateManufacturingOrderOperationRowRequest"
      example:
        quantity: 3
        production_date: "2021-09-01T08:00:00.000Z"
        ingredients: []
        operations: []

    ManufacturingOrderProduction:
      description: A manufacturing order production represents a production run for a manufacturing order
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            manufacturing_order_id:
              type: integer
              description: The ID of the manufacturing order this production belongs to
            quantity:
              type: number
              description: The quantity being produced in this production run
            production_date:
              type: string
              format: date-time
              description: The date and time when production is scheduled/completed
            ingredients:
              type: array
              description: List of ingredients used in this production
              items:
                $ref: "#/components/schemas/ManufacturingOrderProductionIngredient"
            operations:
              type: array
              description: List of operations performed in this production
              items:
                $ref: "#/components/schemas/ManufacturingOrderOperationProduction"
            serial_numbers:
              type: array
              description: Array of serial numbers associated with this production
              items:
                $ref: "#/components/schemas/SerialNumber"
      example:
        id: 3001
        manufacturing_order_id: 21400
        quantity: 5
        production_date: "2021-09-01T07:49:29.000Z"
        ingredients: []
        operations: []
        serial_numbers: []
        created_at: "2021-09-01T07:49:29.813Z"
        updated_at: "2021-09-01T08:15:30.000Z"
        deleted_at: null

    ManufacturingOrderProductionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderProduction"

    ManufacturingOrderProductionIngredient:
      description: An ingredient consumed in a manufacturing order production
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            location_id:
              type: integer
              description: The ID of the location where the ingredient is consumed
            variant_id:
              type: integer
              description: The ID of the variant being consumed as an ingredient
            manufacturing_order_id:
              type: integer
              description: The ID of the manufacturing order this ingredient belongs to
            manufacturing_order_recipe_row_id:
              type: integer
              description: The ID of the recipe row this ingredient is based on
            production_id:
              type: integer
              description: The ID of the production run this ingredient is used in
            quantity:
              type: number
              description: The quantity of the ingredient consumed
            production_date:
              type: string
              format: date-time
              description: The date and time when the ingredient was consumed
            cost:
              type: number
              description: The cost of the ingredient consumed
      example:
        id: 4001
        location_id: 2327
        variant_id: 1418017
        manufacturing_order_id: 21400
        manufacturing_order_recipe_row_id: 50123
        production_id: 3001
        quantity: 2.5
        production_date: "2021-09-01T07:49:29.000Z"
        cost: 25.50
        created_at: "2021-09-01T07:49:29.813Z"
        updated_at: "2021-09-01T07:50:15.000Z"
        deleted_at: null

    UpdateManufacturingOrderProductionIngredientRequest:
      type: object
      description: Request object for updating a manufacturing order production ingredient
      properties:
        quantity:
          type: number
          description: The quantity of the ingredient consumed
        production_date:
          type: string
          format: date-time
          description: The date and time when the ingredient was consumed
        cost:
          type: number
          description: The cost of the ingredient consumed
      example:
        quantity: 3.0
        production_date: "2021-09-01T08:00:00.000Z"
        cost: 30.00

    # Manufacturing Order Operation Row Schemas
    ManufacturingOrderOperationRow:
      description: An operation row in a manufacturing order representing a specific operation step
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            status:
              type: string
              enum: [IN_PROGRESS, COMPLETED, PAUSED]
              description: Status of the operation
            type:
              type: string
              description: Type of the operation
            rank:
              type: number
              description: Order/rank of this operation in the manufacturing sequence
            manufacturing_order_id:
              type: integer
              description: The ID of the manufacturing order this operation belongs to
            operation_id:
              type: integer
              description: The ID of the operation template
            operation_name:
              type: string
              description: Name of the operation
            resource_id:
              type: integer
              description: The ID of the resource/workstation used for this operation
            resource_name:
              type: string
              description: Name of the resource/workstation
            assigned_operators:
              type: array
              description: List of operators assigned to this operation
              items:
                $ref: "#/components/schemas/Operator"
            completed_by_operators:
              type: array
              description: List of operators who completed this operation
              items:
                $ref: "#/components/schemas/Operator"
            active_operator_id:
              type: [number, "null"]
              description: ID of the currently active operator
            planned_time_per_unit:
              type: number
              description: Planned time per unit in seconds
            planned_time_parameter:
              type: number
              description: Planned time parameter for calculations
            total_actual_time:
              type: number
              description: Total actual time spent on this operation in seconds
            planned_cost_per_unit:
              type: number
              description: Planned cost per unit for this operation
            total_actual_cost:
              type: number
              description: Total actual cost for this operation
            cost_per_hour:
              type: number
              description: Cost per hour for this operation
            cost_parameter:
              type: number
              description: Cost parameter for calculations
            group_boundary:
              type: number
              description: Group boundary for operation grouping
            is_status_actionable:
              type: boolean
              description: Whether the status of this operation can be changed
            completed_at:
              type: [string, "null"]
              format: date-time
              description: Timestamp when the operation was completed
      example:
        id: 5001
        status: COMPLETED
        type: "Manual Assembly"
        rank: 1
        manufacturing_order_id: 21400
        operation_id: 501
        operation_name: "Final Assembly"
        resource_id: 301
        resource_name: "Assembly Station A"
        assigned_operators: []
        completed_by_operators: []
        active_operator_id: null
        planned_time_per_unit: 1800
        planned_time_parameter: 1.0
        total_actual_time: 1900
        planned_cost_per_unit: 15.00
        total_actual_cost: 16.25
        cost_per_hour: 30.00
        cost_parameter: 1.0
        group_boundary: 0
        is_status_actionable: true
        completed_at: "2021-09-01T09:49:29.000Z"
        created_at: "2021-09-01T07:49:29.813Z"
        updated_at: "2021-09-01T09:50:00.000Z"
        deleted_at: null

    CreateManufacturingOrderOperationRowRequest:
      type: object
      description: Request object for creating a new manufacturing order operation row
      required:
        - manufacturing_order_id
        - operation_id
        - time
      properties:
        manufacturing_order_id:
          type: integer
          description: The ID of the manufacturing order this operation belongs to
        operation_id:
          type: integer
          description: The ID of the operation template
        time:
          type: number
          description: Time allocated for this operation in seconds
      example:
        manufacturing_order_id: 21400
        operation_id: 501
        time: 1800

    UpdateManufacturingOrderOperationRowRequest:
      type: object
      description: Request object for updating a manufacturing order operation row
      properties:
        completed_by_operators:
          type: array
          description: List of operators who completed this operation
          items:
            $ref: "#/components/schemas/Operator"
        total_actual_time:
          type: number
          description: Total actual time spent on this operation in seconds
      example:
        completed_by_operators: []
        total_actual_time: 1900

    ManufacturingOrderOperationRowResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/ManufacturingOrderOperationRow"

    ManufacturingOrderOperationProduction:
      allOf:
        - type: object
          properties:
            id:
              type: integer
            location_id:
              type: integer
            manufacturing_order_id:
              type: integer
            manufacturing_order_operation_id:
              type: integer
            production_id:
              type: integer
            time:
              type: number
            production_date:
              type: string
              format: date-time
            cost:
              type: number
        - $ref: "#/components/schemas/DeletableEntity"

    # Manufacturing Order Recipe Row Schemas
    CreateManufacturingOrderRecipeRowRequest:
      description: Request object for creating a new manufacturing order recipe row
      type: object
      required:
        - manufacturing_order_id
        - variant_id
        - planned_quantity_per_unit
      properties:
        manufacturing_order_id:
          type: integer
          description: The ID of the manufacturing order this recipe row belongs to
        variant_id:
          type: integer
          description: The ID of the variant/material required for this recipe row
        notes:
          type: string
          description: Additional notes or instructions for this ingredient
        planned_quantity_per_unit:
          type: number
          description: Planned quantity of this ingredient per unit of production
        total_actual_quantity:
          type: number
          description: Total actual quantity consumed of this ingredient
        ingredient_availability:
          type: string
          description: The stock status of this ingredient
        ingredient_expected_date:
          type: string
          format: date-time
          description: Expected date when the ingredient will be available
        batch_transactions:
          type: array
          description: List of batch transactions for this ingredient
          items:
            type: object
            required:
              - batch_id
              - quantity
            properties:
              batch_id:
                type: integer
                description: ID of the batch
              quantity:
                type: number
                description: Quantity from this batch
        cost:
          type: number
          description: Total cost of this ingredient
      example:
        manufacturing_order_id: 21400
        variant_id: 1418017
        notes: "Pay close attention to this"
        planned_quantity_per_unit: 1.2
        total_actual_quantity: 12
        ingredient_availability: IN_STOCK
        ingredient_expected_date: "2021-03-18T12:33:39.957Z"
        batch_transactions:
          - batch_id: 11
            quantity: 7.4
          - batch_id: 12
            quantity: 4.6
        cost: 50.4

    UpdateManufacturingOrderRecipeRowRequest:
      description: Request object for updating an existing manufacturing order recipe row
      type: object
      properties:
        notes:
          type: string
          description: Additional notes or instructions for this ingredient
        planned_quantity_per_unit:
          type: number
          description: Planned quantity of this ingredient per unit of production
        total_actual_quantity:
          type: number
          description: Total actual quantity consumed of this ingredient
        ingredient_availability:
          type: string
          description: The stock status of this ingredient
        ingredient_expected_date:
          type: string
          format: date-time
          description: Expected date when the ingredient will be available
        batch_transactions:
          type: array
          description: List of batch transactions for this ingredient
          items:
            type: object
            properties:
              batch_id:
                type: integer
                description: ID of the batch
              quantity:
                type: number
                description: Quantity from this batch
        cost:
          type: number
          description: Total cost of this ingredient
      example:
        notes: "Updated preparation instructions"
        planned_quantity_per_unit: 1.5
        total_actual_quantity: 15
        ingredient_availability: IN_STOCK
        ingredient_expected_date: "2021-03-20T12:33:39.957Z"
        batch_transactions:
          - batch_id: 13
            quantity: 8.5
          - batch_id: 14
            quantity: 6.5
        cost: 62.5

    ManufacturingOrderRecipeRow:
      description: A recipe row in a manufacturing order representing an ingredient/material requirement
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/DeletableEntity"
        - type: object
          properties:
            manufacturing_order_id:
              type: integer
              description: The ID of the manufacturing order this recipe row belongs to
            variant_id:
              type: integer
              description: The ID of the variant/material required for this recipe row
            notes:
              type: string
              description: Additional notes or instructions for this ingredient
            planned_quantity_per_unit:
              type: number
              description: Planned quantity of this ingredient per unit of production
            total_actual_quantity:
              type: number
              description: Total actual quantity consumed of this ingredient
            ingredient_availability:
              type: string
              enum: [PROCESSED, IN_STOCK, NOT_AVAILABLE, EXPECTED, NO_RECIPE, NOT_APPLICABLE]
              description: The stock status of this ingredient
            ingredient_expected_date:
              type: [string, "null"]
              format: date-time
              description: Expected date when the ingredient will be available
            batch_transactions:
              type: array
              description: List of batch transactions for this ingredient
              items:
                type: object
                properties:
                  batch_id:
                    type: integer
                    description: ID of the batch
                  quantity:
                    type: number
                    description: Quantity from this batch
            cost:
              type: number
              description: Total cost of this ingredient
      example:
        id: 6001
        manufacturing_order_id: 21400
        variant_id: 1418017
        notes: "Pay close attention to this"
        planned_quantity_per_unit: 1.2
        total_actual_quantity: 12
        ingredient_availability: IN_STOCK
        ingredient_expected_date: "2021-03-18T12:33:39.957Z"
        batch_transactions:
          - batch_id: 11
            quantity: 7.4
          - batch_id: 12
            quantity: 4.6
        cost: 50.4
        created_at: "2021-02-18T12:33:39.957Z"
        updated_at: "2021-02-18T12:33:39.957Z"
        deleted_at: null

    ManufacturingOrderRecipeRowListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderRecipeRow"

    # Serial Number Schema
    SerialNumber:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          description: Serial number tracking for individual item traceability
          properties:
            transaction_id:
              type: string
              description: Unique identifier for the transaction that created this serial number
              example: "TXN-240315-001"
            serial_number:
              type: string
              description: Unique serial number for item identification and warranty tracking
              example: "SN24031500001"
            resource_type:
              type: string
              description: Type of operation that generated this serial number
              enum:
                - ManufacturingOrder
                - Production
                - StockAdjustmentRow
                - StockTransferRow
                - PurchaseOrderRow
                - SalesOrderRow
              example: "ManufacturingOrder"
            resource_id:
              type: integer
              description: ID of the resource that created this serial number
              example: 7001
            transaction_date:
              type: string
              format: date-time
              description: Date and time when the serial number was generated
              example: "2024-03-15T14:22:00.000Z"
          required:
            - transaction_id
            - serial_number
            - resource_type
            - resource_id
            - transaction_date
          example:
            id: 9001
            transaction_id: "TXN-240315-001"
            serial_number: "SN24031500001"
            resource_type: "ManufacturingOrder"
            resource_id: 7001
            transaction_date: "2024-03-15T14:22:00.000Z"
            created_at: "2024-03-15T14:22:00.000Z"
            updated_at: "2024-03-15T14:22:00.000Z"

    SerialNumberListResponse:
      type: object
      description: Response containing serial numbers for traceability and warranty tracking
      properties:
        data:
          type: array
          description: Array of serial number records linked to specific transactions
          items:
            $ref: "#/components/schemas/SerialNumber"
      example:
        data:
          - id: 9001
            transaction_id: "TXN-240315-001"
            serial_number: "SN24031500001"
            resource_type: "ManufacturingOrder"
            resource_id: 7001
            transaction_date: "2024-03-15T14:22:00.000Z"
            created_at: "2024-03-15T14:22:00.000Z"
            updated_at: "2024-03-15T14:22:00.000Z"
          - id: 9002
            transaction_id: "TXN-240315-002"
            serial_number: "SN24031500002"
            resource_type: "SalesOrderRow"
            resource_id: 8001
            transaction_date: "2024-03-15T16:45:00.000Z"
            created_at: "2024-03-15T16:45:00.000Z"
            updated_at: "2024-03-15T16:45:00.000Z"

    ManufacturingOrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrder"

    UnlinkManufacturingOrderRequest:
      type: object
      additionalProperties: false
      required:
        - sales_order_row_id
      properties:
        sales_order_row_id:
          type: number

    ManufacturingOrderProductionIngredientResponse:
      type: object
      properties:
        id:
          type: integer
        location_id:
          type: integer
        variant_id:
          type: integer
        manufacturing_order_id:
          type: integer
        manufacturing_order_recipe_row_id:
          type: integer
        production_id:
          type: integer
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        cost:
          type: number

    ManufacturingOrderOperationRowListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderOperationRow"

    CreateMaterialRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - variants
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        is_sellable:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
        purchase_uom_conversion_rate:
          type: number
          maximum: 1000000000000
        configs:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - values
            properties:
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        variants:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Variant"

    Material:
      description: A material represents a raw material, component, or supply item used in manufacturing processes or sold directly to customers
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - $ref: "#/components/schemas/ArchivableEntity"
        - type: object
          properties:
            name:
              type: string
              description: Name of the material
            uom:
              type: string
              description: Unit of measure for this material (e.g., kg, pcs, meters)
            category_name:
              type: string
              description: Category this material belongs to for organization purposes
            default_supplier_id:
              type: integer
              description: ID of the default supplier for this material
            additional_info:
              type: string
              description: Additional notes or information about this material
            batch_tracked:
              type: boolean
              description: Whether this material requires batch tracking for traceability
            is_sellable:
              type: boolean
              description: Whether this material can be sold directly to customers
            type:
              type: string
              description: Type classification of the material
            purchase_uom:
              type: string
              description: Unit of measure used when purchasing this material from suppliers
            purchase_uom_conversion_rate:
              type: number
              description: Conversion rate between purchase UOM and base UOM
            variants:
              type: array
              items:
                $ref: "#/components/schemas/Variant"
              description: List of variants available for this material
            configs:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: Unique identifier for this configuration
                  name:
                    type: string
                    description: Name of the configuration attribute
                  values:
                    type: array
                    items:
                      type: string
                    description: Available values for this configuration
                  product_id:
                    type: integer
                    description: Associated product ID for this configuration
              description: Configuration options for this material (specifications, grades, etc.)
            custom_field_collection_id:
              type: integer
              description: ID of the custom field collection applied to this material
            supplier:
              $ref: "#/components/schemas/Supplier"
              description: Default supplier information for this material
          required:
            - name
          example:
            id: 301
            name: "Organic Cotton Fabric"
            uom: "yard"
            category_name: "Textiles"
            default_supplier_id: 150
            additional_info: "100% organic cotton, GOTS certified, suitable for apparel manufacturing"
            batch_tracked: true
            is_sellable: false
            type: "raw_material"
            purchase_uom: "roll"
            purchase_uom_conversion_rate: 50.0
            configs:
              - id: 1
                name: "Weight"
                values: ["150gsm", "180gsm", "210gsm"]
                product_id: 301
              - id: 2
                name: "Color"
                values: ["Natural", "White", "Black"]
                product_id: 301
            custom_field_collection_id: 5
            supplier:
              id: 150
              name: "EcoTextiles Ltd"
              email: "orders@ecotextiles.com"
            created_at: "2024-01-10T08:15:00.000Z"
            updated_at: "2024-02-05T11:30:00.000Z"
            archived_at: null

    MaterialListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Material"

    UpdateMaterialRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        is_sellable:
          type: boolean
        is_archived:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
          description: If used, then purchase_uom_conversion_rate must have a value as well.
        purchase_uom_conversion_rate:
          type: number
          description: If used, then purchase_uom must have a value as well.
          maximum: 1000000000000
        configs:
          type: array
          minItems: 1
          description: |-
            When updating configs, all configs and values must be provided. Existing ones are matched,
                    new ones are created, and configs not provided in the update are deleted.
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - values
            properties:
              id:
                type: integer
                description: If config ID is used to map the config, then name is ignored.
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        custom_field_collection_id:
          type: [integer, "null"]
          maximum: 2147483647

    NegativeStock:
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          description: Inventory shortage tracking for variants with negative stock balances
          properties:
            variant_id:
              type: integer
              description: ID of the variant experiencing stock shortage
              example: 3005
            location_id:
              type: integer
              description: ID of the location with insufficient inventory
              example: 101
            latest_negative_stock_date:
              type: string
              format: date-time
              description: Most recent date when stock balance became negative
              example: "2024-03-14T16:45:00.000Z"
            name:
              type: string
              description: Product or material name for identification
              example: "Stainless Steel Grade 316 Sheet"
            sku:
              type: string
              description: Stock keeping unit for the affected variant
              example: "SS316-SHEET-3MM"
            category:
              type: string
              description: Product category for inventory classification
              example: "Raw Materials"
          required:
            - variant_id
            - location_id
            - latest_negative_stock_date
            - name
            - sku
            - category
          example:
            id: 8001
            variant_id: 3005
            location_id: 101
            latest_negative_stock_date: "2024-03-14T16:45:00.000Z"
            name: "Stainless Steel Grade 316 Sheet"
            sku: "SS316-SHEET-3MM"
            category: "Raw Materials"

    NegativeStockListResponse:
      type: object
      description: Response containing a list of variants with negative stock
      properties:
        data:
          type: array
          description: Array of variants experiencing inventory shortages
          items:
            $ref: "#/components/schemas/NegativeStock"
      example:
        data:
          - id: 8001
            variant_id: 3005
            location_id: 101
            latest_negative_stock_date: "2024-03-14T16:45:00.000Z"
            name: "Stainless Steel Grade 316 Sheet"
            sku: "SS316-SHEET-3MM"
            category: "Raw Materials"
          - id: 8002
            variant_id: 3008
            location_id: 102
            latest_negative_stock_date: "2024-03-13T11:20:00.000Z"
            name: "Titanium Alloy Rod 10mm"
            sku: "TI-ROD-10MM"
            category: "Raw Materials"

    CreateProductRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - variants
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        is_sellable:
          type: boolean
        is_producible:
          type: boolean
        is_purchasable:
          type: boolean
        is_auto_assembly:
          type: boolean
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        serial_tracked:
          type: boolean
        operations_in_sequence:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
        purchase_uom_conversion_rate:
          type: number
          maximum: 1000000000000
        lead_time:
          type: [integer, "null"]
          maximum: 999
        minimum_order_quantity:
          type: number
          maximum: 999999999
          minimum: 0
        configs:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - values
            properties:
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        custom_field_collection_id:
          type: [integer, "null"]
          maximum: 2147483647
        variants:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Variant"

    UpdateProductRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        is_sellable:
          type: boolean
        is_producible:
          type: boolean
        is_purchasable:
          type: boolean
        is_auto_assembly:
          type: boolean
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        serial_tracked:
          type: boolean
        operations_in_sequence:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
        purchase_uom_conversion_rate:
          type: number
          maximum: 1000000000000
        configs:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              name:
                type: string
              values:
[...]
