openapi: 3.1.0

info:
  title: Katana Public API
  version: 1.0.0
  description: |
    Public API for Katana Manufacturing Resource Planning (MRP) platform.

    This OpenAPI specification provides comprehensive access to Katana's manufacturing,
    inventory, sales, and purchasing capabilities.

    **Key Features:**
    - Complete CRUD operations for all business objects
    - Real-time inventory management and tracking
    - Manufacturing order and BOM (Bill of Materials) management
    - Sales and purchase order processing
    - Webhook event notifications for real-time integrations
    - Rate limiting with retry headers for reliable API usage
    - Comprehensive pagination support for list endpoints

    **API Limits:**
    - Rate limit: 60 requests per 60 seconds
    - Max page size: 250 records per request
    - Default page size: 50 records per request

    **Webhook Events:**
    Subscribe to real-time notifications for 50+ event types including sales orders,
    manufacturing orders, inventory changes, and more.
  license:
    name: MIT
    url: https://opensource.org/license/mit/

servers:
  - url: https://api.katanamrp.com/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    ids:
      name: ids
      in: query
      description: Filters results by an array of IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    location_ids:
      name: location_ids
      in: query
      description: Filters results by an array of location IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    variant_ids:
      name: variant_ids
      in: query
      description: Filters results by an array of variant IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    extend:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response.
      schema:
        type: array
        items:
          type: string
          enum:
            - variant
            - location
    location_id:
      name: location_id
      in: query
      description: Filters results by a location ID.
      required: false
      schema:
        type: integer
    resource_type:
      name: resource_type
      in: query
      description: Filters results by resource type.
      required: false
      schema:
        type: string
        enum:
          - PurchaseOrderRow
          - PurchaseOrderRecipeRow
          - SalesOrderRow
          - ManufacturingOrderRecipeRow
          - StockAdjustmentRow
          - StockTransferRow
          - ManufacturingOrder
          - SystemGenerated
    resource_id:
      name: resource_id
      in: query
      description: Filters results by a resource ID.
      required: false
      schema:
        type: integer
    caused_by_order_no:
      name: caused_by_order_no
      in: query
      description: Filters results by the causing order number.
      required: false
      schema:
        type: string
    caused_by_resource_id:
      name: caused_by_resource_id
      in: query
      description: Filters results by the causing resource ID.
      required: false
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Number of records to return per page.
      required: false
      schema:
        type: integer
        default: 50
    page:
      name: page
      in: query
      description: Page number to return.
      required: false
      schema:
        type: integer
        default: 1
    created_at_min:
      name: created_at_min
      in: query
      description: Minimum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    created_at_max:
      name: created_at_max
      in: query
      description: Maximum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_min:
      name: updated_at_min
      in: query
      description: Minimum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_max:
      name: updated_at_max
      in: query
      description: Maximum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    batch_id:
      name: batch_id
      in: query
      description: Filters results by a valid batch id.
      schema:
        type: integer
    batch_number:
      name: batch_number
      in: query
      description: Filters results by a valid batch number.
      schema:
        type: string
    variant_id:
      name: variant_id
      in: query
      description: Filters results by a valid variant id.
      schema:
        type: integer
    include_archived:
      name: include_archived
      in: query
      required: false
      description: Includes archived results.
      schema:
        type: boolean
    batch_barcode:
      name: batch_barcode
      in: query
      description: Filter results by batch barcode.
      schema:
        type: string
    batch_created_at_min:
      name: batch_created_at_min
      in: query
      description: Minimum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    batch_created_at_max:
      name: batch_created_at_max
      in: query
      description: Maximum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    include_empty:
      name: include_empty
      in: query
      description: Include empty result objects.
      schema:
        type: boolean
    name:
      name: name
      in: query
      required: false
      description: Filters additional costs by a name
      schema:
        type: string
    include_deleted:
      name: include_deleted
      in: query
      required: false
      description: Include soft-deleted items.
      schema:
        type: boolean
    legal_name:
      name: legal_name
      in: query
      description: Filters results by a legal name.
      required: false
      schema:
        type: string
    address_id:
      name: address_id
      in: query
      description: Filters results by an address ID.
      required: false
      schema:
        type: integer
    sales_allowed:
      name: sales_allowed
      in: query
      description: Filters results by whether sales are allowed.
      required: false
      schema:
        type: boolean
    manufacturing_allowed:
      name: manufacturing_allowed
      in: query
      description: Filters results by whether manufacturing is allowed.
      required: false
      schema:
        type: boolean
    purchases_allowed:
      name: purchases_allowed
      in: query
      description: Filters results by whether purchases are allowed.
      required: false
      schema:
        type: boolean
    rank:
      name: rank
      in: query
      description: Filters results by a rank value.
      required: false
      schema:
        type: integer
    uom:
      name: uom
      required: false
      description: Filters results by a uom
      schema:
        type: string
      in: query
    default_supplier_id:
      name: default_supplier_id
      required: false
      description: Filters results by a default_supplier_id
      schema:
        type: integer
      in: query
    is_sellable:
      name: is_sellable
      required: false
      description: Filters results by a is_sellable
      schema:
        type: boolean
      in: query
    batch_tracked:
      name: batch_tracked
      required: false
      description: Filters results by batch_tracked
      schema:
        type: boolean
      in: query
    purchase_uom:
      name: purchase_uom
      required: false
      description: Filters results by a purchase_uom
      schema:
        type: string
      in: query
    purchase_uom_conversion_rate:
      name: purchase_uom_conversion_rate
      required: false
      description: Filters results by a purchase_uom_conversion_rate
      schema:
        type: number
      in: query
    sku:
      name: sku
      required: false
      description: Filters negative stock by a sku
      schema:
        type: string
      in: query
    category:
      name: category
      required: false
      description: Filters negative stock by a category
      schema:
        type: string
      in: query
    is_producible:
      name: is_producible
      required: false
      description: Filters products by an is_producible
      schema:
        type: boolean
      in: query
    is_purchasable:
      name: is_purchasable
      required: false
      description: Filters products by an is_purchasable
      schema:
        type: boolean
      in: query
    is_auto_assembly:
      name: is_auto_assembly
      required: false
      description: Filters products by an is_auto_assembly
      schema:
        type: boolean
      in: query
    serial_tracked:
      name: serial_tracked
      required: false
      description: Filters products by a serial_tracked
      schema:
        type: boolean
      in: query
    operations_in_sequence:
      name: operations_in_sequence
      required: false
      description: Filters products by a operations_in_sequence
      schema:
        type: boolean
      in: query
    order_no:
      name: order_no
      required: false
      description: Filters purchase orders by an order number
      schema:
        type: string
      in: query
    entity_type:
      name: entity_type
      required: false
      description: Filters purchase orders by an entity type
      schema:
        type: string
        enum:
          - regular
          - outsourced
      in: query
    po_status:
      name: status
      required: false
      description: Filters purchase orders by a status
      schema:
        enum:
          - NOT_RECEIVED
          - PARTIALLY_RECEIVED
          - RECEIVED
      in: query
    billing_status:
      name: billing_status
      required: false
      description: Filters purchase orders by a billing status
      schema:
        enum:
          - BILLED
          - NOT_BILLED
          - PARTIALLY_BILLED
      in: query
    currency:
      name: currency
      required: false
      description: Filters purchase orders by a currency
      schema:
        type: string
      in: query
    tracking_location_id:
      name: tracking_location_id
      required: false
      description: Filters purchase orders by a tracking location
      schema:
        type: number
      in: query
    supplier_id:
      name: supplier_id
      required: false
      description: Filters purchase orders by a supplier
      schema:
        type: number
      in: query
    group_id:
      name: group_id
      required: false
      description: Filters purchase order additional cost rows by group id
      schema:
        type: number
      in: query
    additional_cost_id:
      name: additional_cost_id
      required: false
      description: Filters purchase order additional cost rows by additional cost id
      schema:
        type: number
      in: query
    tax_rate_id:
      name: tax_rate_id
      required: false
      description: Filters purchase order additional cost rows by tax rate id
      schema:
        type: number
      in: query
    distribution_method:
      name: distribution_method
      required: false
      description: Filters purchase order additional cost rows by an distribution method
      schema:
        type: string
        enum:
          - BY_VALUE
          - NON_DISTRIBUTED
      in: query
    purchase_order_id:
      name: purchase_order_id
      required: false
      description: Filters purchase order rows by purchase order id
      schema:
        type: number
      in: query
    mo_status:
      name: status
      required: false
      description: Filters manufacturing orders by a status.
      schema:
        enum:
          - NOT_STARTED
          - BLOCKED
          - IN_PROGRESS
          - PAUSED
          - COMPLETED
      in: query
    manufacturing_order_id:
      name: manufacturing_order_id
      required: false
      description: Filters manufacturing orders by location.
      schema:
        type: number
      in: query
    received_items_group_id:
      name: received_items_group_id
      required: false
      description: Filters purchase order accounting metadata by received items group id
      schema:
        type: number
      in: query
    email:
      name: email
      required: false
      description: Filters suppliers by an email
      schema:
        type: string
      in: query
    phone:
      name: phone
      required: false
      description: Filters suppliers by a phone number
      schema:
        type: string
      in: query
    supplier_ids:
      name: supplier_ids
      required: false
      description: Filters supplier addresses by an array of supplier IDs
      schema:
        type: array
        items:
          type: integer
      in: query
    line_1:
      name: line_1
      required: false
      description: Filters supplier addresses by a line_1
      schema:
        type: string
      in: query
    line_2:
      name: line_2
      required: false
      description: Filters supplier addresses by a line_2
      schema:
        type: string
      in: query
    city:
      name: city
      required: false
      description: Filters supplier addresses by a city
      schema:
        type: string
      in: query
    state:
      name: state
      required: false
      description: Filters supplier addresses by a state
      schema:
        type: string
      in: query
    zip:
      name: zip
      required: false
      description: Filters supplier addresses by a zip
      schema:
        type: string
      in: query
    country:
      name: country
      required: false
      description: Filters supplier addresses by a country
      schema:
        type: string
      in: query
    ingredient_availability:
      name: ingredient_availability
      required: false
      description: Filters manufacturing orders by an ingredient availability.
      schema:
        enum:
          - PROCESSED
          - IN_STOCK
          - NOT_AVAILABLE
          - EXPECTED
          - NO_RECIPE
          - NOT_APPLICABLE
      in: query
    rate:
      name: rate
      required: false
      description: Filters tax rates by rate
      schema:
        type: number
      in: query
    is_default_sales:
      name: is_default_sales
      required: false
      description: Filters tax rates by an is_default_sales
      schema:
        type: boolean
      in: query
    is_default_purchases:
      name: is_default_purchases
      required: false
      description: Filters tax rates by an is_default_purchases
      schema:
        type: boolean
      in: query
    product_id:
      name: product_id
      required: false
      description: Filters variants by a product id
      schema:
        type: integer
      in: query
    material_id:
      name: material_id
      required: false
      description: Filters variants by a material id
      schema:
        type: integer
      in: query
    sales_price:
      name: sales_price
      required: false
      description: Filters variants by a sales price
      schema:
        type: number
      in: query
    purchase_price:
      name: purchase_price
      required: false
      description: Filters variants by a purchase price
      schema:
        type: number
      in: query
    internal_barcode:
      name: internal_barcode
      required: false
      description: Filters variants by an internal barcode
      schema:
        type: string
        minLength: 3
        maxLength: 40
      in: query
    registered_barcode:
      name: registered_barcode
      required: false
      description: Filters variants by a registered barcode
      schema:
        type: string
        maxLength: 120
      in: query
    supplier_item_codes:
      name: supplier_item_codes
      required: false
      description: Filters variants by supplier item codes. Returns the variants that match with any of the codes in the array.
      schema:
        type: array
        items:
          type: string
          minLength: 1
      in: query
    url:
      name: url
      required: false
      description: Filters webhooks by an url
      schema:
        type: string
      in: query
    enabled:
      name: enabled
      required: false
      description: Filters webhooks by enabled flag
      schema:
        type: boolean
      in: query
    is_linked_to_sales_order:
      name: is_linked_to_sales_order
      required: false
      description: Filters based on whether a manufacturing order is linked to a sales order or not.
      schema:
        type: boolean
      in: query
    manufacturing_order_ids:
      name: manufacturing_order_ids
      required: false
      description: Filters manufacturing order productions by manufacturing order ids.
      schema:
        type: array
        items:
          type: integer
      in: query

  # Reusable headers
  headers:
    X-Pagination:
      description: Pagination metadata containing page information for paginated responses
      schema:
        type: object
        properties:
          total_records:
            type: integer
            description: Total number of records in the result set matching the filters
          total_pages:
            type: integer
            description: Number of pages in the result set
          offset:
            type: integer
            description: The offset from 0 for the start of this page
          page:
            type: integer
            description: The current page number being requested
          first_page:
            type: boolean
            description: Whether the requested page is the first one in the collection
          last_page:
            type: boolean
            description: Whether the requested page is the last one in the collection
        required:
          - total_records
          - total_pages
          - offset
          - page
          - first_page
          - last_page
        example:
          total_records: 142
          total_pages: 8
          offset: 50
          page: 2
          first_page: false
          last_page: false
    X-Ratelimit-Limit:
      description: Number of requests available for this application (default 60 per minute)
      schema:
        type: integer
        example: 60
    X-Ratelimit-Remaining:
      description: Number of requests remaining in current rate limit window
      schema:
        type: integer
        example: 45
    X-Ratelimit-Reset:
      description: The timestamp (milliseconds since epoch) when the rate limit quota will reset
      schema:
        type: integer
        format: int64
        example: 1640995199000
    Retry-After:
      description: Number of seconds to wait before making another request when rate limited
      schema:
        type: integer
        example: 15
    X-Katana-Retry-Num:
      description: Webhook retry attempt number (1, 2, or 3)
      schema:
        type: integer
        minimum: 1
        maximum: 3
        example: 1
    X-Sha2-Signature:
      description: HMAC SHA-256 signature for webhook verification
      schema:
        type: string
        example: "sha256=a8f5f167f44f4964e6c998dee827110c"

  # Reusable error responses
  responses:
    NoContent:
      description: Object deleted successfully
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
          example:
            statusCode: 204
            name: NotContent
            message: No content

    UnauthorizedError:
      description: Make sure you've entered your API token correctly.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
          example:
            statusCode: 401
            name: UnauthorizedError
            message: Unauthorized

    NotFoundError:
      description: Not found.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
          example:
            statusCode: 404
            name: NotFoundError
            message: Not found

    UnprocessableEntityError:
      description: Validation failed.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
              code:
                type: string
              details:
                type: array
                items:
                  type: object
          example:
            statusCode: 422
            name: UnprocessableEntityError
            message: The request body is invalid.
            code: VALIDATION_FAILED
            details:
              - path: .name
                code: maxLength
                message: should NOT be longer than 10 characters
                info:
                  limit: 10

    TooManyRequests:
      description: Rate limit exceeded - too many requests sent within the rate limit window (60 requests per 60 seconds)
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
          example:
            statusCode: 429
            name: TooManyRequests
            message: Too Many Requests

    InternalServerError:
      description: Internal Server Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
          example:
            statusCode: 500
            name: InternalServerError
            message: Internal Server Error

    BadRequestError:
      description: Bad Request Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              name:
                type: string
              message:
                type: string
          example:
            statusCode: 400
            name: BadRequest
            message: Bad Request

  schemas:
    AdditionalCost:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]

    AdditionalCostList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AdditionalCost"

    Batch:
      type: object
      additionalProperties: false
      required:
        - batch_number
        - variant_id
      properties:
        batch_number:
          type: string
        expiration_date:
          type: string
        batch_created_date:
          type: string
        variant_id:
          type: integer
          maximum: 2147483647
        batch_barcode:
          type: [string, "null"]
          minLength: 3
          maxLength: 40

    BatchResponse:
      allOf:
        - $ref: "#/components/schemas/Batch"
        - type: object
          properties:
            id:
              type: integer
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    BatchStock:
      type: object
      properties:
        batch_id:
          type: integer
        batch_number:
          type: string
        batch_created_date:
          type: string
          format: date-time
        expiration_date:
          type: string
          format: date-time
        location_id:
          type: integer
        variant_id:
          type: integer
        quantity_in_stock:
          type: string
        batch_barcode:
          type: string
      example:
        batch_id: 1109
        batch_number: B2
        batch_created_date: "2020-09-29T11:40:29.628Z"
        expiration_date: "2021-04-30T10:35:00.000Z"
        location_id: 1433
        variant_id: 350880
        quantity_in_stock: "10.00000"
        batch_barcode: "0317"

    BatchStockList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/BatchStock"
      example:
        data:
          - batch_id: 1109
            batch_number: B2
            batch_created_date: "2020-09-29T11:40:29.628Z"
            expiration_date: "2021-04-30T10:35:00.000Z"
            location_id: 1433
            variant_id: 350880
            quantity_in_stock: "10.00000"
            batch_barcode: "0317"

    BatchStockUpdate:
      type: object
      additionalProperties: false
      required:
        - batch_number
        - variant_id
      properties:
        batch_number:
          type: string
        expiration_date:
          type: string
          format: date-time
        batch_created_date:
          type: string
          format: date-time
        variant_id:
          type: integer
          maximum: 2147483647
        batch_barcode:
          type: [string, "null"]
          minLength: 3
          maxLength: 40
      example:
        batch_number: BAT-1
        expiration_date: "2020-10-23T10:37:05.085Z"
        batch_created_date: "2020-10-23T10:37:05.085Z"
        variant_id: 1
        batch_barcode: "0040"

    StorageBin:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        location_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]

    StorageBinList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/StorageBin"
      example:
        data:
          - id: 12345
            name: Bin-2
            location_id: 12346
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null

    InventoryMovement:
      type: object
      description: Details of a single inventory movement record.
      properties:
        id:
          type: integer
          description: Unique identifier for the inventory movement.
        variant_id:
          type: integer
          description: Identifier of the product variant associated with the movement.
        location_id:
          type: integer
          description: Identifier of the location where the movement occurred.
        resource_type:
          type: string
          description: The type of resource that caused the movement.
          enum:
            - PurchaseOrderRow
            - PurchaseOrderRecipeRow
            - SalesOrderRow
            - ManufacturingOrderRecipeRow
            - StockAdjustmentRow
            - StockTransferRow
            - ManufacturingOrder
            - SystemGenerated
        resource_id:
          type: integer
          description: Identifier of the resource that initiated the movement.
        caused_by_order_no:
          type: string
          description: Order number that triggered the movement.
        caused_by_resource_id:
          type: integer
          description: Identifier for the resource that caused the movement.
        movement_date:
          type: string
          format: date-time
          description: Date and time when the inventory movement occurred.
        quantity_change:
          type: number
          description: The change in quantity as a result of the movement.
        balance_after:
          type: number
          description: The quantity balance after the movement.
        value_per_unit:
          type: number
          description: The value per unit for the movement.
        value_in_stock_after:
          type: number
          description: The total value in stock after the movement.
        average_cost_after:
          type: number
          description: The average cost per unit after the movement.
        rank:
          type: integer
          description: A rank or order index for the movement.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the movement record was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the movement record was last updated.
      required:
        - id
        - variant_id
        - location_id
        - resource_type
        - movement_date
        - quantity_change
        - balance_after
        - value_per_unit
        - value_in_stock_after
        - average_cost_after
        - created_at
        - updated_at

    InventoryMovementList:
      type: object
      description: A list of inventory movement records.
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InventoryMovement"
      required:
        - data

    Variant:
      type: object
      properties:
        id:
          type: integer
        sku:
          type: string
        sales_price:
          type: [number, "null"]
        product_id:
          type: [integer, "null"]
        material_id:
          type: [integer, "null"]
        purchase_price:
          type: number
        product_or_material_name:
          type: string
        type:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time
        internal_barcode:
          type: string
        registered_barcode:
          type: string
        supplier_item_codes:
          type: array
          items:
            type: string
        lead_time:
          type: [integer, "null"]
        minimum_order_quantity:
          type: [number, "null"]
        config_attributes:
          type: array
          items:
            type: object
            properties:
              config_name:
                type: string
              config_value:
                type: string
        product_or_material:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            uom:
              type: string
            category_name:
              type: string
            is_producible:
              type: boolean
            default_supplier_id:
              type: integer
            is_purchasable:
              type: boolean
            type:
              type: string
            purchase_uom:
              type: string
            purchase_uom_conversion_rate:
              type: number
            batch_tracked:
              type: boolean
            variants:
              type: array
              items:
                type: object
      required:
        - id
        - sku

    Location:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        legal_name:
          type: string
        address_id:
          type: integer
        address:
          type: object
          properties:
            id:
              type: integer
            city:
              type: string
            country:
              type: string
            line_1:
              type: string
            line_2:
              type: string
            state:
              type: string
            zip:
              type: string
          required:
            - id
            - city
            - country
            - line_1
            - state
            - zip
        is_primary:
          type: boolean
        sales_allowed:
          type: boolean
        purchase_allowed:
          type: boolean
        manufacturing_allowed:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - name
      example:
        data:
          - id: 1
            name: Main location
            legal_name: Amazon
            address_id: 1
            address:
              id: 1
              city: New York
              country: United States
              line_1: "10 East 20th Example St"
              line_2: ""
              state: New York
              zip: "10000"
            is_primary: true
            sales_allowed: true
            purchase_allowed: true
            manufacturing_allowed: true
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 2
            name: Secondary location
            legal_name: Amazon
            address_id: null
            address: null
            is_primary: false
            sales_allowed: false
            purchase_allowed: true
            manufacturing_allowed: false
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null

    Inventory:
      type: object
      properties:
        variant_id:
          type: integer
        location_id:
          type: integer
        reorder_point:
          type: string
        average_cost:
          type: string
        value_in_stock:
          type: string
        quantity_in_stock:
          type: string
        quantity_committed:
          type: string
        quantity_expected:
          type: string
        quantity_missing_or_excess:
          type: string
        quantity_potential:
          type: string
        variant:
          $ref: "#/components/schemas/Variant"
        location:
          $ref: "#/components/schemas/Location"
      required:
        - variant_id
        - location_id
        - reorder_point
        - average_cost
        - value_in_stock
        - quantity_in_stock
        - quantity_committed
        - quantity_expected
        - quantity_missing_or_excess
        - quantity_potential

    InventoryList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Inventory"
      required:
        - data

    InventoryReorderPoint:
      type: object
      additionalProperties: false
      required:
        - location_id
        - variant_id
        - value
      properties:
        location_id:
          type: integer
          maximum: 2147483647
        variant_id:
          type: integer
          maximum: 2147483647
        value:
          type: number
          maximum: 100000000000000000

    InventoryReorderPointResponse:
      allOf:
        - $ref: "#/components/schemas/InventoryReorderPoint"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    InventorySafetyStockLevel:
      type: object
      additionalProperties: false
      required:
        - location_id
        - variant_id
        - value
      properties:
        location_id:
          type: integer
          maximum: 2147483647
        variant_id:
          type: integer
          maximum: 2147483647
        value:
          type: number
          maximum: 100000000000000000

    InventorySafetyStockLevelResponse:
      allOf:
        - $ref: "#/components/schemas/InventorySafetyStockLevel"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
      example:
        variant_id: 1
        location_id: 1
        value: 10
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"

    CreateManufacturingOrderRequest:
      type: object
      required:
        - variant_id
        - planned_quantity
        - location_id
      properties:
        variant_id:
          type: integer
        planned_quantity:
          type: number
        location_id:
          type: integer
        order_created_date:
          type: string
          format: date-time
        production_deadline_date:
          type: string
          format: date-time
        additional_info:
          type: string

    ManufacturingOrder:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum: [NOT_STARTED, BLOCKED, IN_PROGRESS, DONE]
        order_no:
          type: string
        variant_id:
          type: integer
        planned_quantity:
          type: number
        actual_quantity:
          type: [number, "null"]
        location_id:
          type: integer
        order_created_date:
          type: string
          format: date-time
        production_deadline_date:
          type: string
          format: date-time
        additional_info:
          type: string
        is_linked_to_sales_order:
          type: boolean
        ingredient_availability:
          type: string
        total_cost:
          type: number
        total_actual_time:
          type: number
        total_planned_time:
          type: number
        sales_order_id:
          type: integer
        sales_order_row_id:
          type: integer
        sales_order_delivery_deadline:
          type: string
          format: date-time
        material_cost:
          type: number
        subassemblies_cost:
          type: number
        operations_cost:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time
        serial_numbers:
          type: array
          items:
            $ref: "#/components/schemas/SerialNumber"

    UpdateManufacturingOrderRequest:
      type: object
      properties:
        planned_quantity:
          type: number
        additional_info:
          type: string
        production_deadline_date:
          type: string
          format: date-time

    CreateManufacturingOrderProductionRequest:
      type: object
      required:
        - manufacturing_order_id
        - quantity
        - production_date
      properties:
        manufacturing_order_id:
          type: integer
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        ingredients:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderProductionIngredient"
        operations:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderOperationRow"

    UpdateManufacturingOrderProductionRequest:
      type: object
      properties:
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        ingredients:
          type: array
          items:
            $ref: "#/components/schemas/UpdateManufacturingOrderProductionIngredientRequest"
        operations:
          type: array
          items:
            $ref: "#/components/schemas/UpdateManufacturingOrderOperationRowRequest"

    ManufacturingOrderProductionResponse:
      type: object
      properties:
        id:
          type: integer
        manufacturing_order_id:
          type: integer
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

        ingredients:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderProductionIngredient"
        operations:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderOperationProduction"
        serial_numbers:
          type: array
          items:
            $ref: "#/components/schemas/SerialNumber"

    ManufacturingOrderProductionIngredient:
      type: object
      properties:
        id:
          type: integer
        location_id:
          type: integer
        variant_id:
          type: integer
        manufacturing_order_id:
          type: integer
        manufacturing_order_recipe_row_id:
          type: integer
        production_id:
          type: integer
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        cost:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    UpdateManufacturingOrderProductionIngredientRequest:
      type: object
      properties:
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        cost:
          type: number

    # Manufacturing Order Operation Row Schemas
    ManufacturingOrderOperationRow:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum: [IN_PROGRESS, COMPLETED, PAUSED]
        type:
          type: string
        rank:
          type: number
        manufacturing_order_id:
          type: integer
        operation_id:
          type: integer
        operation_name:
          type: string
        resource_id:
          type: integer
        resource_name:
          type: string
        assigned_operators:
          type: array
          items:
            $ref: "#/components/schemas/Operator"
        completed_by_operators:
          type: array
          items:
            $ref: "#/components/schemas/Operator"
        active_operator_id:
          type: number
        planned_time_per_unit:
          type: number
        planned_time_parameter:
          type: number
        total_actual_time:
          type: number
        planned_cost_per_unit:
          type: number
        total_actual_cost:
          type: number
        cost_per_hour:
          type: number
        cost_parameter:
          type: number
        group_boundary:
          type: number
        is_status_actionable:
          type: boolean
        completed_at:
          type: [string, "null"]
          format: date-time

        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    CreateManufacturingOrderOperationRowRequest:
      type: object
      required:
        - manufacturing_order_id
        - operation_id
        - time
      properties:
        manufacturing_order_id:
          type: integer
        operation_id:
          type: integer
        time:
          type: number

    UpdateManufacturingOrderOperationRowRequest:
      type: object
      properties:
        completed_by_operators:
          type: array
          items:
            $ref: "#/components/schemas/Operator"
        total_actual_time:
          type: number

    ManufacturingOrderOperationRowResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/ManufacturingOrderOperationRow"

    ManufacturingOrderOperationProduction:
      type: object
      properties:
        id:
          type: integer
        location_id:
          type: integer
        manufacturing_order_id:
          type: integer
        manufacturing_order_operation_id:
          type: integer
        production_id:
          type: integer
        time:
          type: number
        production_date:
          type: string
          format: date-time
        cost:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    # Manufacturing Order Recipe Row Schemas
    CreateManufacturingOrderRecipeRowRequest:
      type: object
      required:
        - manufacturing_order_id
        - variant_id
        - planned_quantity_per_unit
      properties:
        manufacturing_order_id:
          type: integer
        variant_id:
          type: integer
        notes:
          type: string
        planned_quantity_per_unit:
          type: number
        total_actual_quantity:
          type: number
        ingredient_availability:
          type: string
        ingredient_expected_date:
          type: string
          format: date-time
        batch_transactions:
          type: array
          items:
            type: object
            required:
              - batch_id
              - quantity
            properties:
              batch_id:
                type: integer
              quantity:
                type: number
        cost:
          type: number

    UpdateManufacturingOrderRecipeRowRequest:
      type: object
      properties:
        notes:
          type: string
        planned_quantity_per_unit:
          type: number
        total_actual_quantity:
          type: number
        ingredient_availability:
          type: string
        ingredient_expected_date:
          type: string
          format: date-time
        batch_transactions:
          type: array
          items:
            type: object
            properties:
              batch_id:
                type: integer
              quantity:
                type: number
        cost:
          type: number

    ManufacturingOrderRecipeRowResponse:
      type: object
      properties:
        id:
          type: integer
        manufacturing_order_id:
          type: integer
        variant_id:
          type: integer
        notes:
          type: string
        planned_quantity_per_unit:
          type: number
        total_actual_quantity:
          type: number
        ingredient_availability:
          type: string
        ingredient_expected_date:
          type: string
          format: date-time
        batch_transactions:
          type: array
          items:
            type: object
            properties:
              batch_id:
                type: integer
              quantity:
                type: number
        cost:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    ManufacturingOrderRecipeRowListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderRecipeRowResponse"

    # Serial Number Schema
    SerialNumber:
      type: object
      properties:
        id:
          type: integer
        transaction_id:
          type: string
        serial_number:
          type: string
        resource_type:
          type: string
        resource_id:
          type: integer
        transaction_date:
          type: string
          format: date-time

    ManufacturingOrderList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrder"

    ManufacturingOrderProductionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderProductionResponse"

    UnlinkManufacturingOrderRequest:
      type: object
      additionalProperties: false
      required:
        - sales_order_row_id
      properties:
        sales_order_row_id:
          type: number

    ManufacturingOrderProductionIngredientResponse:
      type: object
      properties:
        id:
          type: integer
        location_id:
          type: integer
        variant_id:
          type: integer
        manufacturing_order_id:
          type: integer
        manufacturing_order_recipe_row_id:
          type: integer
        production_id:
          type: integer
        quantity:
          type: number
        production_date:
          type: string
          format: date-time
        cost:
          type: number

    ManufacturingOrderOperationRowListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingOrderOperationRowResponse"

    CreateMaterialRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - variants
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        is_sellable:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
        purchase_uom_conversion_rate:
          type: number
          maximum: 1000000000000
        configs:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - values
            properties:
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        variants:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            properties:
              sku:
                type: string
              purchase_price:
                type: number
                maximum: 100000000000
                minimum: 0
              internal_barcode:
                type: string
                minLength: 3
                maxLength: 40
              registered_barcode:
                type: string
                maxLength: 40
                minLength: 3
              supplier_item_codes:
                type: array
                items:
                  type: string
                  maxLength: 40
              lead_time:
                type: number
                maximum: 999
                minimum: 0
              minimum_order_quantity:
                type: number
                maximum: 999999999
                minimum: 0
              config_attributes:
                type: array
                minItems: 1
                items:
                  type: object
              custom_field_collection_id:
                type: [integer, "null"]
                maximum: 2147483647

              custom_fields:
                type: array
                maxItems: 3
                items:
                  type: object

    MaterialListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MaterialResponse"

    MaterialResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        uom:
          type: string
        category_name:
          type: string
        default_supplier_id:
          type: integer
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        is_sellable:
          type: boolean
        type:
          type: string
        purchase_uom:
          type: string
        purchase_uom_conversion_rate:
          type: number
        variants:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              sku:
                type: string
              sales_price:
                type: [number, "null"]
              product_id:
                type: [integer, "null"]
              material_id:
                type: [integer, "null"]
              purchase_price:
                type: number
              type:
                type: string
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
              deleted_at:
                type: [string, "null"]
                format: date-time
              config_attributes:
                type: array
                items:
                  type: object
                  properties:
                    config_name:
                      type: string
                    config_value:
                      type: string
              internal_barcode:
                type: string
              registered_barcode:
                type: string
              supplier_item_codes:
                type: array
                items:
                  type: string
              lead_time:
                type: number
              minimum_order_quantity:
                type: number
              custom_fields:
                type: array
                items:
                  type: object
                  properties:
                    field_name:
                      type: string
                    field_value:
                      type: string
        configs:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              values:
                type: array
                items:
                  type: string
              product_id:
                type: integer
        custom_field_collection_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        archived_at:
          type: [string, "null"]
          format: date-time
        supplier:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            email:
              type: string
            comment:
              type: string
            currency:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            deleted_at:
              type: [string, "null"]
              format: date-time

    UpdateMaterialRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        is_sellable:
          type: boolean
        is_archived:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
          description: If used, then purchase_uom_conversion_rate must have a value as well.
        purchase_uom_conversion_rate:
          type: number
          description: If used, then purchase_uom must have a value as well.
          maximum: 1000000000000
        configs:
          type: array
          minItems: 1
          description: |-
            When updating configs, all configs and values must be provided. Existing ones are matched,
                    new ones are created, and configs not provided in the update are deleted.
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - values
            properties:
              id:
                type: integer
                description: If config ID is used to map the config, then name is ignored.
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        custom_field_collection_id:
          type: [integer, "null"]
          maximum: 2147483647

    NegativeStockResponse:
      type: object
      properties:
        variant_id:
          type: integer
        location_id:
          type: integer
        latest_negative_stock_date:
          type: string
          format: date-time
        name:
          type: string
        sku:
          type: string
        category:
          type: string

    NegativeStockListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/NegativeStockResponse"

    CreateProductRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - variants
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        is_sellable:
          type: boolean
        is_producible:
          type: boolean
        is_purchasable:
          type: boolean
        is_auto_assembly:
          type: boolean
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        serial_tracked:
          type: boolean
        operations_in_sequence:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
        purchase_uom_conversion_rate:
          type: number
          maximum: 1000000000000
        lead_time:
          type: [integer, "null"]
          maximum: 999

        minimum_order_quantity:
          type: number
          maximum: 999999999
          minimum: 0
        configs:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required:
              - name
              - values
            properties:
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        custom_field_collection_id:
          type: [integer, "null"]
          maximum: 2147483647

        variants:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required:
              - sku
            properties:
              sku:
                type: string
              purchase_price:
                type: [number, "null"]

              sales_price:
                type: [number, "null"]

              config_attributes:
                type: array
                items:
                  type: object
                  properties:
                    config_name:
                      type: string
                    config_value:
                      type: string
              internal_barcode:
                type: string
                maxLength: 40
              registered_barcode:
                type: string
                maxLength: 40
              supplier_item_codes:
                type: array
                items:
                  type: string
              custom_fields:
                type: array
                items:
                  type: object

    UpdateProductRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        uom:
          type: string
          maxLength: 7
        category_name:
          type: string
        is_sellable:
          type: boolean
        is_producible:
          type: boolean
        is_purchasable:
          type: boolean
        is_auto_assembly:
          type: boolean
        default_supplier_id:
          type: integer
          maximum: 2147483647
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        serial_tracked:
          type: boolean
        operations_in_sequence:
          type: boolean
        purchase_uom:
          type: string
          maxLength: 7
        purchase_uom_conversion_rate:
          type: number
          maximum: 1000000000000
        configs:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              name:
                type: string
              values:
                type: array
                items:
                  type: string
        custom_field_collection_id:
          type: [integer, "null"]
          maximum: 2147483647

    ProductResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        uom:
          type: string
        category_name:
          type: string
        is_sellable:
          type: boolean
        is_producible:
          type: boolean
        is_purchasable:
          type: boolean
        is_auto_assembly:
          type: boolean
        default_supplier_id:
          type: integer
        additional_info:
          type: string
        batch_tracked:
          type: boolean
        serial_tracked:
          type: boolean
        operations_in_sequence:
          type: boolean
        type:
          type: string
        purchase_uom:
          type: string
        purchase_uom_conversion_rate:
          type: number
        variants:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              sku:
                type: string
              sales_price:
                type: [number, "null"]
              product_id:
                type: [integer, "null"]
              material_id:
                type: [integer, "null"]
              purchase_price:
                type: number
              type:
                type: string
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
              deleted_at:
                type: [string, "null"]
                format: date-time
              config_attributes:
                type: array
                items:
                  type: object
                  properties:
                    config_name:
                      type: string
                    config_value:
                      type: string
              internal_barcode:
                type: string
              registered_barcode:
                type: string
              supplier_item_codes:
                type: array
                items:
                  type: string
              lead_time:
                type: [number, "null"]
              minimum_order_quantity:
                type: number
              custom_fields:
                type: array
                items:
                  type: object
                  properties:
                    field_name:
                      type: string
                    field_value:
                      type: string
        configs:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              values:
                type: array
                items:
                  type: string
              product_id:
                type: integer
        custom_field_collection_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        archived_at:
          type: [string, "null"]
          format: date-time
        supplier:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            email:
              type: string
            comment:
              type: string
            currency:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            deleted_at:
              type: [string, "null"]
              format: date-time

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProductResponse"

    CreatePurchaseOrderRequest:
      type: object
      additionalProperties: false
      required:
        - order_no
        - supplier_id
        - location_id
        - purchase_order_rows
      properties:
        order_no:
          type: string
        entity_type:
          type: string
          enum: [regular, outsourced]
        supplier_id:
          type: integer
          maximum: 2147483647
        currency:
          type: string
          description: "Active ISO 4217 currency code (e.g. USD, EUR)."
        status:
          type: string
          enum: [NOT_RECEIVED]
        expected_arrival_date:
          type: string
        order_created_date:
          type: string
        location_id:
          type: integer
          maximum: 2147483647
        tracking_location_id:
          type: integer
          maximum: 2147483647
          description: "Submittable only when entity_type is outsourced"
        additional_info:
          type: string
        purchase_order_rows:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/PurchaseOrderRowRequest"

    PurchaseOrderRowRequest:
      type: object
      additionalProperties: false
      required:
        - quantity
        - price_per_unit
      properties:
        quantity:
          type: number
        price_per_unit:
          type: number
        purchase_uom_conversion_rate:
          type: number
        purchase_uom:
          type: string

    PurchaseOrderResponse:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
        order_no:
          type: string
        entity_type:
          type: string
        default_group_id:
          type: integer
        supplier_id:
          type: integer
        currency:
          type: string
        expected_arrival_date:
          type: string
        order_created_date:
          type: string
        additional_info:
          type: string
        location_id:
          type: integer
        tracking_location_id:
          type: [integer, "null"]
        total:
          type: number
        total_in_base_currency:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time
        billing_status:
          type: string
        last_document_status:
          type: string
        ingredient_availability:
          type: [string, "null"]
        ingredient_expected_date:
          type: [string, "null"]
        supplier:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            email:
              type: string
            comment:
              type: string
            currency:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            deleted_at:
              type: [string, "null"]
              format: date-time

        purchase_order_rows:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseOrderRowResponse"

    PurchaseOrderRowResponse:
      type: object
      properties:
        id:
          type: integer
        quantity:
          type: number
        variant_id:
          type: integer
        tax_rate_id:
          type: integer
        price_per_unit:
          type: number
        price_per_unit_in_base_currency:
          type: number
        purchase_uom_conversion_rate:
          type: number
        purchase_uom:
          type: string
        currency:
          type: string
        conversion_rate:
          type: [number, "null"]
        total:
          type: number
        total_in_base_currency:
          type: number
        conversion_date:
          type: [string, "null"]
          format: date-time
        received_date:
          type: [string, "null"]
          format: date-time
        arrival_date:
          type: [string, "null"]
          format: date-time
        batch_transactions:
          type: array
          items:
            type: object
            properties:
              quantity:
                type: number
              batch_id:
                type: integer
        purchase_order_id:
          type: integer
        landed_cost:
          type: [string, number]
        group_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    PurchaseOrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseOrderResponse"

    UpdatePurchaseOrderRequest:
      type: object
      additionalProperties: false
      properties:
        order_no:
          type: string
          minLength: 3
          description: Updatable only when status is in NOT_RECEIVED or PARTIALLY_RECEIVED
        supplier_id:
          type: integer
          maximum: 2147483647
          description: Updatable only when status is in NOT_RECEIVED
        currency:
          type: string
          description: Updatable only when status is in NOT_RECEIVED
        tracking_location_id:
          type: integer
          maximum: 2147483647
          description: Updatable only when status is in NOT_RECEIVED and entity_type is outsourced
        status:
          type: string
          enum:
            - NOT_RECEIVED
            - RECEIVED
            - PARTIALLY_RECEIVED
        expected_arrival_date:
          type: string
          description: Updatable only when status is in NOT_RECEIVED or PARTIALLY_RECEIVED. Update will override arrival_date on purchase order rows
        order_created_date:
          type: string
        location_id:
          type: integer
          maximum: 2147483647
          description: Updatable only when status is in NOT_RECEIVED
        additional_info:
          type: string

    CreatePurchaseOrderAdditionalCostRowRequest:
      type: object
      additionalProperties: false
      required:
        - additional_cost_id
        - group_id
        - tax_rate_id
        - price
      properties:
        additional_cost_id:
          type: integer
        group_id:
          type: integer
        tax_rate_id:
          type: integer
        price:
          type: number
          maximum: 100000000000000000
          minimum: 0
        distribution_method:
          type: string
          enum:
            - BY_VALUE
            - NON_DISTRIBUTED

    PurchaseOrderAdditionalCostRowResponse:
      type: object
      properties:
        id:
          type: integer
        additional_cost_id:
          type: integer
        group_id:
          type: integer
        name:
          type: string
        distribution_method:
          type: string
        tax_rate_id:
          type: integer
        tax_rate:
          type: number
        price:
          type: number
        price_in_base:
          type: number
        currency:
          type: string
        currency_conversion_rate:
          type: number
        currency_conversion_rate_fix_date:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    PurchaseOrderAdditionalCostRowListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseOrderAdditionalCostRowResponse"

    UpdatePurchaseOrderAdditionalCostRowRequest:
      type: object
      additionalProperties: false
      properties:
        additional_cost_id:
          type: integer
          maximum: 2147483647
        tax_rate_id:
          type: integer
          maximum: 2147483647
        price:
          type: number
          minimum: 0
          maximum: 100000000000000000
        distribution_method:
          type: string
          enum:
            - BY_VALUE
            - NON_DISTRIBUTED

    PurchaseOrderReceiveRow:
      type: object
      additionalProperties: false
      required:
        - purchase_order_row_id
        - quantity
      properties:
        purchase_order_row_id:
          type: integer
          maximum: 2147483647
        quantity:
          type: number
          maximum: 100000000000000000
        received_date:
          type: string
          description: Optional received date in ISO 8601 format.
        batch_transactions:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - batch_id
              - quantity
            properties:
              batch_id:
                type: integer
              quantity:
                type: number
                maximum: 100000000000000000

    PurchaseOrderReceiveRequest:
      anyOf:
        - type: array
          items:
            $ref: "#/components/schemas/PurchaseOrderReceiveRow"
          minItems: 1
        - $ref: "#/components/schemas/PurchaseOrderReceiveRow"

    CreatePurchaseOrderRowRequest:
      type: object
      additionalProperties: false
      required:
        - purchase_order_id
        - price_per_unit
        - quantity
        - variant_id
      properties:
        purchase_order_id:
          type: integer
          maximum: 2147483647
        quantity:
          type: number
          maximum: 100000000000000000
        variant_id:
          type: integer
          maximum: 2147483647
        tax_rate_id:
          type: integer
          maximum: 2147483647
        group_id:
          type: integer
          maximum: 2147483647
        price_per_unit:
          type: number
          minimum: 0
          maximum: 100000000000000000
        purchase_uom_conversion_rate:
          type: number
          minimum: 0
          maximum: 100000000000000000
        purchase_uom:
          type: string
          maxLength: 7
        arrival_date:
          type: string
          description: "Optional arrival date in ISO 8601 format."

    PurchaseOrderRowListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseOrderRowResponse"

    UpdatePurchaseOrderRowRequest:
      type: object
      additionalProperties: false
      properties:
        quantity:
          type: number
          maximum: 100000000000000000
          description: Updatable only when received_date is null
        variant_id:
          type: integer
          maximum: 2147483647
          description: Updatable only when received_date is null
        tax_rate_id:
          type: integer
          maximum: 2147483647
          description: Updatable only when received_date is null
        group_id:
          type: integer
          maximum: 2147483647
          description: Updatable only when received_date is null
        price_per_unit:
          type: number
          minimum: 0
          maximum: 100000000000000000
          description: Updatable only when received_date is null
        purchase_uom_conversion_rate:
          type: number
          minimum: 0
          maximum: 100000000000000000
          description: Updatable only when received_date is null
        purchase_uom:
          type: string
          maxLength: 7
          description: Updatable only when received_date is null
        received_date:
          type: string
          description: Updatable only when already set
        arrival_date:
          type: string
          description: Updatable only when received_date is not null

    PurchaseOrderAccountingMetadata:
      type: object
      properties:
        id:
          type: integer
        purchase_order_id:
          type: integer
        purchaseOrderId:
          type: integer
        porReceivedGroupId:
          type: integer
        integrationType:
          type: string
        billId:
          type: string
        createdAt:
          type: string
          format: date-time

    PurchaseOrderAccountingMetadataListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseOrderAccountingMetadata"

    CreateSupplierRequest:
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
        currency:
          type: string
        email:
          type: string
        phone:
          type: string
        comment:
          type: string
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/SupplierAddressRequest"

    SupplierAddressRequest:
      type: object
      additionalProperties: false
      required:
        - line_1
      properties:
        supplier_id:
          type: integer
        line_1:
          type: string
        line_2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string

    SupplierResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        currency:
          type: string
        comment:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time
        default_address_id:
          type: integer
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/SupplierAddressResponse"

    SupplierListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SupplierResponse"

    UpdateSupplierRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        currency:
          type: string
          description: The supplier's currency (ISO 4217).
        comment:
          type: string

    SupplierAddressResponse:
      type: object
      properties:
        id:
          type: integer
        supplier_id:
          type: integer
        line_1:
          type: string
        line_2:
          type: [string, "null"]
        city:
          type: [string, "null"]
        state:
          type: [string, "null"]
        zip:
          type: [string, "null"]
        country:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    SupplierAddressListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SupplierAddressResponse"

    CreateSupplierAddressRequest:
      type: object
      additionalProperties: false
      required:
        - supplier_id
        - line_1
      properties:
        supplier_id:
          type: integer
        line_1:
          type: string
        line_2:
          type: [string, "null"]
        city:
          type: [string, "null"]
        state:
          type: [string, "null"]
        zip:
          type: [string, "null"]
        country:
          type: [string, "null"]

    UpdateSupplierAddressRequest:
      type: object
      additionalProperties: false
      properties:
        line_1:
          type: [string, "null"]
        line_2:
          type: [string, "null"]
        city:
          type: [string, "null"]
        state:
          type: [string, "null"]
        zip:
          type: [string, "null"]
        country:
          type: [string, "null"]

    CreateTaxRateRequest:
      type: object
      additionalProperties: false
      required:
        - rate
      properties:
        name:
          type: string
        rate:
          type: number
          minimum: 0
          maximum: 999.999
          multipleOf: 0.001

    TaxRateResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        rate:
          type: number
        is_default_sales:
          type: boolean
        is_default_purchases:
          type: boolean
        display_name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TaxRateListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TaxRateResponse"

    CreateVariantRequest:
      type: object
      additionalProperties: false
      required:
        - sku
        - supplier_item_codes
      properties:
        sku:
          type: string
        sales_price:
          type: number
          minimum: 0
          maximum: 100000000000
        purchase_price:
          type: number
          minimum: 0
          maximum: 100000000000
        product_id:
          type: [integer, "null"]
          maximum: 2147483647

        material_id:
          type: [integer, "null"]
          maximum: 2147483647

        supplier_item_codes:
          type: array
          minItems: 1
          items:
            type: string
        internal_barcode:
          type: string
          minLength: 3
          maxLength: 40
        registered_barcode:
          type: string
          maxLength: 120
        lead_time:
          type: [integer, "null"]
          maximum: 999

        minimum_order_quantity:
          type: number
          minimum: 0
          maximum: 999999999
        config_attributes:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - config_name
              - config_value
            properties:
              config_name:
                type: string
              config_value:
                type: string
        custom_fields:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - field_name
              - field_value
            properties:
              field_name:
                type: string
              field_value:
                type: string

    VariantResponse:
      type: object
      properties:
        id:
          type: integer
        sku:
          type: string
        sales_price:
          type: number
        purchase_price:
          type: number
        product_id:
          type: [integer, "null"]
        material_id:
          type: [integer, "null"]
        type:
          type: string
          enum:
            - product
            - material
        internal_barcode:
          type: string
        registered_barcode:
          type: string
        supplier_item_codes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time
        lead_time:
          type: [integer, "null"]
        minimum_order_quantity:
          type: [number, "null"]
        config_attributes:
          type: array
          items:
            type: object
            properties:
              config_name:
                type: string
              config_value:
                type: string
        custom_fields:
          type: array
          items:
            type: object
            properties:
              field_name:
                type: string
              field_value:
                type: string
        product_or_material:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            uom:
              type: string
            category_name:
              type: string
            is_producible:
              type: boolean
            default_supplier_id:
              type: integer
            is_purchasable:
              type: boolean
            type:
              type: string
            purchase_uom:
              type: string
            purchase_uom_conversion_rate:
              type: number
            batch_tracked:
              type: boolean
            configs:
              type: array
              items:
                type: object
            additional_info:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            variants:
              type: array
              items:
                type: object

    UpdateVariantRequest:
      type: object
      additionalProperties: false
      properties:
        sku:
          type: string
        sales_price:
          type: number
          minimum: 0
          maximum: 100000000000
        purchase_price:
          type: number
          minimum: 0
          maximum: 100000000000
        product_id:
          type: [integer, "null"]
          maximum: 2147483647

        material_id:
          type: [integer, "null"]
          maximum: 2147483647

        supplier_item_codes:
          type: array
          items:
            type: string
        internal_barcode:
          type: string
          minLength: 3
          maxLength: 40
        registered_barcode:
          type: string
          maxLength: 120
        lead_time:
          type: [integer, "null"]
          maximum: 999

        minimum_order_quantity:
          type: number
          minimum: 0
          maximum: 999999999
        config_attributes:
          type: array
          items:
            type: object
            properties:
              config_name:
                type: string
              config_value:
                type: string
        custom_fields:
          type: array
          items:
            type: object
            properties:
              field_name:
                type: string
              field_value:
                type: string

    VariantListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/VariantResponse"

    VariantDefaultStorageBinLink:
      type: object
      additionalProperties: false
      required:
        - bin_name
        - variant_id
      properties:
        location_id:
          type: integer
          maximum: 2147483647
        variant_id:
          type: integer
          maximum: 2147483647
        bin_name:
          type: string
          minLength: 0
          maxLength: 40

    VariantDefaultStorageBinLinkResponse:
      type: object
      properties:
        id:
          type: integer
        bin_name:
          type: string
        variant_id:
          type: integer
        storage_bin_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, "null"]
          format: date-time

    VariantDefaultStorageBinLinkListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/VariantDefaultStorageBinLinkResponse"

    UnlinkVariantBinLocationRequest:
      type: object
      additionalProperties: false
      required:
        - location_id
        - variant_id
      properties:
        location_id:
          type: integer
          maximum: 2147483647
        variant_id:
          type: integer
          maximum: 2147483647

    UnlinkVariantBinLocationListRequest:
      type: array
      minItems: 1
      maxItems: 150
      items:
        $ref: "#/components/schemas/UnlinkVariantBinLocationRequest"

    WebhookEvent:
      type: string
      enum:
        - sales_order.created
        - sales_order.packed
        - sales_order.delivered
        - sales_order.updated
        - sales_order.deleted
        - sales_order.availability_updated
        - purchase_order.created
        - purchase_order.updated
        - purchase_order.deleted
        - purchase_order.partially_received
        - purchase_order.received
        - purchase_order_row.created
        - purchase_order_row.received
        - purchase_order_row.updated
        - purchase_order_row.deleted
        - outsourced_purchase_order.created
        - outsourced_purchase_order.updated
        - outsourced_purchase_order.deleted
        - outsourced_purchase_order.received
        - outsourced_purchase_order_row.created
        - outsourced_purchase_order_row.updated
        - outsourced_purchase_order_row.deleted
        - outsourced_purchase_order_row.received
        - outsourced_purchase_order_recipe_row.created
        - outsourced_purchase_order_recipe_row.updated
        - outsourced_purchase_order_recipe_row.deleted
        - manufacturing_order.created
        - manufacturing_order.updated
        - manufacturing_order.deleted
        - manufacturing_order.in_progress
        - manufacturing_order.blocked
        - manufacturing_order.done
        - manufacturing_order_recipe_row.created
        - manufacturing_order_recipe_row.updated
        - manufacturing_order_recipe_row.deleted
        - manufacturing_order_recipe_row.ingredients_in_stock
        - manufacturing_order_operation_row.created
        - manufacturing_order_operation_row.updated
        - manufacturing_order_operation_row.deleted
        - manufacturing_order_operation_row.in_progress
        - manufacturing_order_operation_row.paused
        - manufacturing_order_operation_row.blocked
        - manufacturing_order_operation_row.completed
        - current_inventory.product_updated
        - current_inventory.material_updated
        - current_inventory.product_out_of_stock
        - current_inventory.material_out_of_stock
        - product.created
        - product.updated
        - product.deleted
        - material.created
        - material.updated
        - material.deleted
        - variant.created
        - variant.updated
        - variant.deleted
        - product_recipe_row.created
        - product_recipe_row.updated
        - product_recipe_row.deleted

    CreateWebhookRequest:
      type: object
      additionalProperties: false
      required:
        - url
        - subscribed_events
      properties:
        url:
          type: string
          pattern: "^https://.*$"
        subscribed_events:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/WebhookEvent"
        description:
          type: string

    UpdateWebhookRequest:
      type: object
      additionalProperties: false
      required:
        - url
        - subscribed_events
      properties:
        url:
          type: string
          pattern: "^https://.*$"
        enabled:
          type: boolean
        subscribed_events:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/WebhookEvent"
        description:
          type: string

    WebhookResponse:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
        token:
          type: string
        enabled:
          type: boolean
        description:
          type: [string, "null"]
        subscribed_events:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WebhookResponse"

    WebhookLogsExportRequest:
      type: object
      additionalProperties: false
      properties:
        webhook_id:
          type: integer
        event:
          $ref: "#/components/schemas/WebhookEvent"
        status_code:
          type: integer
        delivered:
          type: boolean
        created_at_min:
          type: string
          format: date-time
        created_at_max:
          type: string
          format: date-time

    WebhookLogsExportResponse:
      type: object
      properties:
        url:
          type: string
          format: uri

    MakeToOrderManufacturingOrderRequest:
      type: object
      additionalProperties: false
      required:
        - sales_order_row_id
      properties:
        sales_order_row_id:
          type: number
        create_subassemblies:
          type: boolean
          default: false

    ServiceAttributes:
      type: object
      properties:
        name:
          type: string
          description: "Name of the Service."
          example: "Screen Printing"
        description:
          type: string
          description: "A detailed description of the Service."
          example: "High quality screen printing service for apparel and accessories."
        price:
          type: number
          description: "Price of the Service."
          example: 150.0
        currency:
          type: string
          description: "Currency code (e.g., USD)."
          example: "USD"
        active:
          type: boolean
          description: "Indicates if the Service is active."
          example: true
        createdAt:
          type: string
          format: date-time
          description: "Timestamp when the Service was created."
          example: "2021-01-01T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          description: "Timestamp when the Service was last updated."
          example: "2021-01-02T12:00:00Z"

    Service:
      type: object
      properties:
        id:
          type: string
          description: "Unique identifier of the Service."
          example: "srv_abc123"
        type:
          type: string
          description: "Resource type - always 'services'."
          enum:
            - services
        attributes:
          $ref: "#/components/schemas/ServiceAttributes"

    ServiceResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Service"

    ServiceListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Service"

    ServiceInputAttributes:
      type: object
      properties:
        name:
          type: string
          description: "Name of the Service."
          example: "Screen Printing"
        description:
          type: string
          description: "A brief description of the Service."
          example: "High quality screen printing service."
        price:
[...]
