{
  "openapi": "3.0.0",
  "info": {
    "title": "RESOURCES",
    "version": "1.0.0",
    "description": "public api"
  },
  "servers": [{ "url": "https://api.katanamrp.com/v1" }],
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } }
  },
  "paths": {
    "/additional_costs": {
      "get": {
        "summary": "List all additional costs",
        "tags": ["Additional costs"],
        "description": "Returns a list of additional costs you’ve previously created.",
        "operationId": "getAdditionalCosts",
        "parameters": [
          {
            "name": "ids",
            "required": false,
            "description": "Filters additional costs by an array of IDs",
            "schema": { "type": "array", "items": { "type": "integer" } },
            "in": "query"
          },
          {
            "name": "name",
            "required": false,
            "description": "Filters additional costs by a name",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "include_deleted",
            "required": false,
            "description": "Soft-deleted data is excluded from result set by default. Set to true to include it.",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "description": "Used for pagination (default is 50)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "page",
            "required": false,
            "description": "Used for pagination (default is 1)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "created_at_min",
            "required": false,
            "description": "Minimum value for created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "created_at_max",
            "required": false,
            "description": "Maximum value for created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "updated_at_min",
            "required": false,
            "description": "Minimum value for updated_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "updated_at_max",
            "required": false,
            "description": "Maximum value for updated_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List all additional costs",
            "headers": {
              "X-Pagination": {
                "description": "Pagination metadata",
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_records": { "type": "number" },
                    "total_pages": { "type": "number" },
                    "offset": { "type": "number" },
                    "page": { "type": "number" },
                    "first_page": { "type": "boolean" },
                    "last_page": { "type": "boolean" }
                  }
                }
              },
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Shipping",
                      "updated_at": "2023-10-01T10:37:05.085Z",
                      "created_at": "2023-10-21T10:37:05.085Z",
                      "deleted_at": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "post": {
        "summary": "Create a batch",
        "tags": ["Batch"],
        "description": "Creates a batch object.",
        "operationId": "createBatch",
        "requestBody": {
          "description": "New batch values",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["batch_number", "variant_id"],
                "properties": {
                  "batch_number": { "type": "string" },
                  "expiration_date": { "type": "string" },
                  "batch_created_date": { "type": "string" },
                  "variant_id": { "type": "integer", "maximum": 2147483647 },
                  "batch_barcode": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 40,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch stock created",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": 1,
                  "batch_number": "BAT-1",
                  "expiration_date": "2020-10-23T10:37:05.085Z",
                  "batch_created_date": "2020-10-23T10:37:05.085Z",
                  "created_at": "2020-10-23T10:37:05.085Z",
                  "updated_at": "2020-10-23T10:37:05.085Z",
                  "variant_id": 1,
                  "batch_barcode": "0040"
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Make sure data is correct",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "name": "NotFoundError",
                  "message": "Not found"
                }
              }
            }
          },
          "422": {
            "description": "Check the details property for a specific error message.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 422,
                  "name": "UnprocessableEntityError",
                  "message": "The request body is invalid. See error object `details` property for more info.",
                  "code": "VALIDATION_FAILED",
                  "details": [
                    {
                      "path": ".name",
                      "code": "maxLength",
                      "message": "should NOT be longer than 10 characters",
                      "info": { "limit": 10 }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/batch_stocks": {
      "get": {
        "summary": "List current batch stock",
        "tags": ["Batch"],
        "description": "Returns a list for current batch stock.\n  The inventory is returned in sorted order, base on location_id ASC, variant_id ASC, batch_id DESC.",
        "operationId": "getBatchStock",
        "parameters": [
          {
            "name": "batch_id",
            "required": false,
            "description": "Filters stock by a valid batch id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "batch_number",
            "required": false,
            "description": "Filters stock by a valid batch number",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "location_id",
            "required": false,
            "description": "Filters stock by a valid location id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "variant_id",
            "required": false,
            "description": "Filters stock by a valid variant id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "batch_barcode",
            "required": false,
            "description": "Filter stock by batch barcode",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "batch_created_at_max",
            "required": false,
            "description": "Maximum value for batch_created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "batch_created_at_min",
            "required": false,
            "description": "Minimum value for batch_created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "include_empty",
            "required": false,
            "description": "Include empty batches in result",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "description": "Used for pagination (default is 50)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "page",
            "required": false,
            "description": "Used for pagination (default is 1)",
            "schema": { "type": "string" },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List batch stock",
            "headers": {
              "X-Pagination": {
                "description": "Pagination metadata",
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_records": { "type": "number" },
                    "total_pages": { "type": "number" },
                    "offset": { "type": "number" },
                    "page": { "type": "number" },
                    "first_page": { "type": "boolean" },
                    "last_page": { "type": "boolean" }
                  }
                }
              },
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "batch_id": 1109,
                      "batch_number": "B2",
                      "batch_created_date": "2020-09-29T11:40:29.628Z",
                      "expiration_date": "2021-04-30T10:35:00.000Z",
                      "location_id": 1433,
                      "variant_id": 350880,
                      "quantity_in_stock": "10.00000",
                      "batch_barcode": "0317"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/batch_stocks/{batch_id}": {
      "patch": {
        "summary": "Update batch details",
        "tags": ["Batch"],
        "description": "Updates the specified batch details by setting the values of the parameters passed.\n  Any parameters not provided will be left unchanged.",
        "operationId": "updateBatchStock",
        "parameters": [
          {
            "name": "batch_id",
            "required": true,
            "description": "Batch id",
            "schema": { "type": "integer" },
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "batch stock fields to be updated with new values",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "batch_number": { "type": "string" },
                  "expiration_date": { "type": "string" },
                  "batch_created_date": { "type": "string" },
                  "batch_barcode": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 40,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch stock updated",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": 1,
                  "batch_number": "BAT-1",
                  "expiration_date": "2020-10-23T10:37:05.085Z",
                  "batch_created_date": "2020-10-23T10:37:05.085Z",
                  "created_at": "2020-10-23T10:37:05.085Z",
                  "updated_at": "2020-10-23T10:37:05.085Z",
                  "variant_id": 1,
                  "batch_barcode": "0040"
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Make sure data is correct",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "name": "NotFoundError",
                  "message": "Not found"
                }
              }
            }
          },
          "422": {
            "description": "Check the details property for a specific error message.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 422,
                  "name": "UnprocessableEntityError",
                  "message": "The request body is invalid. See error object `details` property for more info.",
                  "code": "VALIDATION_FAILED",
                  "details": [
                    {
                      "path": ".name",
                      "code": "maxLength",
                      "message": "should NOT be longer than 10 characters",
                      "info": { "limit": 10 }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/bin_locations": {
      "get": {
        "summary": "List all storage bins",
        "tags": ["Storage bin"],
        "description": "Returns a list of storage bins you’ve previously created. \n  The storage bins are returned in sorted order, with the most recent storage bin appearing first.",
        "operationId": "getAllStorageBins",
        "parameters": [
          {
            "name": "location_id",
            "required": false,
            "description": "Filters storage bins by location. By storage bins are returned for all locations",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "bin_name",
            "required": false,
            "description": "Filters storage bins by name",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "include_deleted",
            "required": false,
            "description": "Soft-deleted data is excluded from result set by default. Set to true to include it.",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "description": "Used for pagination (default is 50)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "page",
            "required": false,
            "description": "Used for pagination (default is 1)",
            "schema": { "type": "string" },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of storage bins",
            "headers": {
              "X-Pagination": {
                "description": "Pagination metadata",
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_records": { "type": "number" },
                    "total_pages": { "type": "number" },
                    "offset": { "type": "number" },
                    "page": { "type": "number" },
                    "first_page": { "type": "boolean" },
                    "last_page": { "type": "boolean" }
                  }
                }
              },
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": 12345,
                      "name": "Bin-2",
                      "location_id": 12346,
                      "created_at": "2020-10-23T10:37:05.085Z",
                      "updated_at": "2020-10-23T10:37:05.085Z",
                      "deleted_at": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/bin_locations/{id}": {
      "patch": {
        "summary": "Update a storage bin",
        "tags": ["Storage bin"],
        "description": "Updates the specified storage bin by setting the values of the parameters passed.\n    Any parameters not provided will be left unchanged.",
        "operationId": "updateDefaultStorageBin",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "description": "Storage bin id",
            "schema": { "type": "integer" },
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Storage bin details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["bin_name", "location_id"],
                "properties": { "bin_name": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Storage bin updated",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": 12345,
                  "bin_name": "Bin-2",
                  "location_id": 12346,
                  "created_at": "2020-10-23T10:37:05.085Z",
                  "updated_at": "2020-10-23T10:37:05.085Z",
                  "deleted_at": null
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Check the details property for a specific error message.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 422,
                  "name": "UnprocessableEntityError",
                  "message": "The request body is invalid. See error object `details` property for more info.",
                  "code": "VALIDATION_FAILED",
                  "details": [
                    {
                      "path": ".name",
                      "code": "maxLength",
                      "message": "should NOT be longer than 10 characters",
                      "info": { "limit": 10 }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a storage bin",
        "tags": ["Storage bin"],
        "description": "Deletes a storage bin by id.",
        "operationId": "deleteStorageBin",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "description": "Storage bin id",
            "schema": { "type": "integer" },
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Storage bin deleted successfully",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Make sure data is correct",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "name": "NotFoundError",
                  "message": "Not found"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/factory": {
      "get": {
        "summary": "Retrieve the current factory",
        "tags": ["Factory"],
        "description": "Returns the general information about the factory.",
        "operationId": "getFactory",
        "responses": {
          "200": {
            "description": "Factory",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "legal_address": {
                    "line_1": "Peetri 7",
                    "line_2": "Apartment 1",
                    "city": "Tallinn",
                    "state": "State",
                    "zip": "10411",
                    "country": "Estonia"
                  },
                  "legal_name": "Legal name",
                  "display_name": "Display name",
                  "base_currency_code": "USD",
                  "default_so_delivery_time": "2021-10-13T15:31:48.490Z",
                  "default_po_lead_time": "2021-10-13T15:31:48.490Z",
                  "default_manufacturing_location_id": 1,
                  "default_purchases_location_id": 1,
                  "default_sales_location_id": 1,
                  "inventory_closing_date": "2022-01-28T23:59:59.000Z"
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/inventory": {
      "get": {
        "summary": "List current inventory",
        "tags": ["Inventory"],
        "description": "Returns a list for current inventory. The inventory is returned in sorted order,\n    with the oldest locations appearing first.",
        "operationId": "getAllInventoryPoint",
        "parameters": [
          {
            "name": "location_id",
            "required": false,
            "description": "Filters inventories by a valid location id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "variant_id",
            "required": false,
            "description": "Filters inventories by valid variant ids",
            "schema": { "type": "array", "items": { "type": "integer" } },
            "in": "query"
          },
          {
            "name": "include_archived",
            "required": false,
            "description": "Includes archived inventories",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "extend",
            "required": false,
            "description": "Array of objects that need to be added to the response",
            "schema": {
              "type": "array",
              "items": { "type": "string", "enum": ["variant", "location"] }
            },
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "description": "Used for pagination (default is 50)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "page",
            "required": false,
            "description": "Used for pagination (default is 1)",
            "schema": { "type": "string" },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List all inventories",
            "headers": {
              "X-Pagination": {
                "description": "Pagination metadata",
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_records": { "type": "number" },
                    "total_pages": { "type": "number" },
                    "offset": { "type": "number" },
                    "page": { "type": "number" },
                    "first_page": { "type": "boolean" },
                    "last_page": { "type": "boolean" }
                  }
                }
              },
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "variant_id": 1,
                      "location_id": 1,
                      "reorder_point": "5.00000",
                      "average_cost": "10.0000000000",
                      "value_in_stock": "70.0000000000",
                      "quantity_in_stock": "7.00000",
                      "quantity_committed": "0.00000",
                      "quantity_expected": "100.00000",
                      "quantity_missing_or_excess": "102.00000",
                      "quantity_potential": "200.00000",
                      "variant": {
                        "id": 1,
                        "sku": "EM",
                        "sales_price": 40,
                        "product_id": 1,
                        "purchase_price": 0,
                        "product_or_material_name": "New Product",
                        "type": "product",
                        "created_at": "2020-10-23T10:37:05.085Z",
                        "updated_at": "2020-10-23T10:37:05.085Z",
                        "internal_barcode": "0316",
                        "registered_barcode": "0785223088",
                        "supplier_item_codes": ["978-0785223085", "0785223088"],
                        "config_attributes": [
                          { "config_name": "Type", "config_value": "Standard" }
                        ]
                      },
                      "location": {
                        "id": 1,
                        "name": "Main location",
                        "legal_name": "Amazon",
                        "address_id": 1,
                        "address": {
                          "id": 1,
                          "city": "New York",
                          "country": "United States",
                          "line_1": "10 East 20th Example St",
                          "line_2": "",
                          "state": "New York",
                          "zip": "10000"
                        },
                        "is_primary": true,
                        "sales_allowed": true,
                        "manufacturing_allowed": true,
                        "created_at": "2020-10-23T10:37:05.085Z",
                        "updated_at": "2020-10-23T10:37:05.085Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/inventory_movements": {
      "get": {
        "summary": "List all inventory movements",
        "tags": ["Inventory movements"],
        "description": "Returns a list of inventory movements created by your Katana resources.\n   The inventory movements are returned in sorted order, with the most recent movements appearing first.",
        "operationId": "getAllInventoryMovements",
        "parameters": [
          {
            "name": "ids",
            "required": false,
            "description": "Filters inventory movements by an array of IDs",
            "schema": { "type": "array", "items": { "type": "integer" } },
            "in": "query"
          },
          {
            "name": "variant_ids",
            "required": false,
            "description": "Filters inventory movements by an array of variant ids",
            "schema": { "type": "array", "items": { "type": "integer" } },
            "in": "query"
          },
          {
            "name": "location_id",
            "required": false,
            "description": "Filters inventory movements by a location_id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "resource_type",
            "required": false,
            "description": "Filters inventory movements by a resource type",
            "schema": {
              "enum": [
                "PurchaseOrderRow",
                "PurchaseOrderRecipeRow",
                "SalesOrderRow",
                "ManufacturingOrderRecipeRow",
                "StockAdjustmentRow",
                "StockTransferRow",
                "ManufacturingOrder",
                "SystemGenerated"
              ]
            },
            "in": "query"
          },
          {
            "name": "resource_id",
            "required": false,
            "description": "Filters inventory movements by a resource_id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "caused_by_order_no",
            "required": false,
            "description": "Filters inventory movements by a caused_by_order_no",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "caused_by_resource_id",
            "required": false,
            "description": "Filters inventory movements by a caused_by_resource_id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "description": "Used for pagination (default is 50)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "page",
            "required": false,
            "description": "Used for pagination (default is 1)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "created_at_min",
            "required": false,
            "description": "Minimum value for created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "created_at_max",
            "required": false,
            "description": "Maximum value for created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "updated_at_min",
            "required": false,
            "description": "Minimum value for updated_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "updated_at_max",
            "required": false,
            "description": "Maximum value for updated_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List all inventory movements",
            "headers": {
              "X-Pagination": {
                "description": "Pagination metadata",
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_records": { "type": "number" },
                    "total_pages": { "type": "number" },
                    "offset": { "type": "number" },
                    "page": { "type": "number" },
                    "first_page": { "type": "boolean" },
                    "last_page": { "type": "boolean" }
                  }
                }
              },
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "variant_id": 1,
                      "location_id": 1,
                      "resource_type": "PurchaseOrderRow",
                      "resource_id": 1,
                      "caused_by_order_no": "PO-1",
                      "caused_by_resource_id": 1,
                      "movement_date": "2020-10-23T10:37:05.085Z",
                      "quantity_change": 1,
                      "balance_after": 1,
                      "value_per_unit": 1,
                      "value_in_stock_after": 1,
                      "average_cost_after": 1,
                      "rank": 1,
                      "created_at": "2020-10-23T10:37:05.085Z",
                      "updated_at": "2020-10-23T10:37:05.085Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/inventory_reorder_points": {
      "post": {
        "summary": "Update the reorder point",
        "tags": ["Inventory"],
        "description": "(Endpoint deprecation, we recommend using safety_stock instead) Updates an item’s safety stock level in a certain location and variant combination.",
        "operationId": "createInventoryReorderPoint",
        "requestBody": {
          "description": "New inventory reorder point details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["location_id", "variant_id", "value"],
                "properties": {
                  "location_id": { "type": "integer", "maximum": 2147483647 },
                  "variant_id": { "type": "integer", "maximum": 2147483647 },
                  "value": { "type": "number", "maximum": 100000000000000000 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New inventory reorder point created",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "variant_id": 1,
                  "location_id": 1,
                  "value": 10,
                  "created_at": "2020-10-23T10:37:05.085Z",
                  "updated_at": "2020-10-23T10:37:05.085Z"
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Check the details property for a specific error message.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 422,
                  "name": "UnprocessableEntityError",
                  "message": "The request body is invalid. See error object `details` property for more info.",
                  "code": "VALIDATION_FAILED",
                  "details": [
                    {
                      "path": ".name",
                      "code": "maxLength",
                      "message": "should NOT be longer than 10 characters",
                      "info": { "limit": 10 }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/inventory_safety_stock_levels": {
      "post": {
        "summary": "Update the safety stock level",
        "tags": ["Inventory"],
        "description": "Update an item’s safety stock level within a certain location and variant combination.",
        "operationId": "createInventorySafetyStockLevel",
        "requestBody": {
          "description": "New inventory safety stock level details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["location_id", "variant_id", "value"],
                "properties": {
                  "location_id": { "type": "integer", "maximum": 2147483647 },
                  "variant_id": { "type": "integer", "maximum": 2147483647 },
                  "value": { "type": "number", "maximum": 100000000000000000 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New inventory safety stock level created",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "variant_id": 1,
                  "location_id": 1,
                  "value": 10,
                  "created_at": "2020-10-23T10:37:05.085Z",
                  "updated_at": "2020-10-23T10:37:05.085Z"
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Check the details property for a specific error message.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 422,
                  "name": "UnprocessableEntityError",
                  "message": "The request body is invalid. See error object `details` property for more info.",
                  "code": "VALIDATION_FAILED",
                  "details": [
                    {
                      "path": ".name",
                      "code": "maxLength",
                      "message": "should NOT be longer than 10 characters",
                      "info": { "limit": 10 }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "summary": "List all locations",
        "tags": ["Location"],
        "description": "Returns a list of locations you’ve previously created. The locations are returned in sorted order,\n    with the most recent locations appearing first.",
        "operationId": "getAllLocations",
        "parameters": [
          {
            "name": "ids",
            "required": false,
            "description": "Filters locations by an array of IDs",
            "schema": { "type": "array", "items": { "type": "integer" } },
            "in": "query"
          },
          {
            "name": "name",
            "required": false,
            "description": "Filters locations by a name",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "legal_name",
            "required": false,
            "description": "Filters locations by a legal_name",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "address_id",
            "required": false,
            "description": "Filters locations by an address_id",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "sales_allowed",
            "required": false,
            "description": "Filters locations by a sales_allowed",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "manufacturing_allowed",
            "required": false,
            "description": "Filters locations by a manufacturing_allowed",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "purchases_allowed",
            "required": false,
            "description": "Filters locations by a purchases_allowed",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "rank",
            "required": false,
            "description": "Filters locations by a rank",
            "schema": { "type": "integer" },
            "in": "query"
          },
          {
            "name": "include_deleted",
            "required": false,
            "description": "Soft-deleted data is excluded from result set by default. Set to true to include it.",
            "schema": { "type": "boolean" },
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "description": "Used for pagination (default is 50)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "page",
            "required": false,
            "description": "Used for pagination (default is 1)",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "created_at_min",
            "required": false,
            "description": "Minimum value for created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "created_at_max",
            "required": false,
            "description": "Maximum value for created_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "updated_at_min",
            "required": false,
            "description": "Minimum value for updated_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          },
          {
            "name": "updated_at_max",
            "required": false,
            "description": "Maximum value for updated_at range. Must be compatible with ISO 8601 format",
            "schema": { "type": "string" },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List all locations",
            "headers": {
              "X-Pagination": {
                "description": "Pagination metadata",
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_records": { "type": "number" },
                    "total_pages": { "type": "number" },
                    "offset": { "type": "number" },
                    "page": { "type": "number" },
                    "first_page": { "type": "boolean" },
                    "last_page": { "type": "boolean" }
                  }
                }
              },
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "name": "Main location",
                      "legal_name": "Amazon",
                      "address_id": 1,
                      "address": {
                        "id": 1,
                        "city": "New York",
                        "country": "United States",
                        "line_1": "10 East 20th Example St",
                        "line_2": "",
                        "state": "New York",
                        "zip": "10000"
                      },
                      "is_primary": true,
                      "sales_allowed": true,
                      "purchase_allowed": true,
                      "manufacturing_allowed": true,
                      "created_at": "2020-10-23T10:37:05.085Z",
                      "updated_at": "2020-10-23T10:37:05.085Z",
                      "deleted_at": null
                    },
                    {
                      "id": 2,
                      "name": "Secondary location",
                      "legal_name": "Amazon",
                      "address_id": null,
                      "address": null,
                      "is_primary": false,
                      "sales_allowed": false,
                      "purchase_allowed": true,
                      "manufacturing_allowed": false,
                      "created_at": "2020-10-23T10:37:05.085Z",
                      "updated_at": "2020-10-23T10:37:05.085Z",
                      "deleted_at": null
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "summary": "Retrieve a location",
        "tags": ["Location"],
        "description": "Retrieves the details of an existing location based on ID.",
        "operationId": "getLocation",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "description": "Location id",
            "schema": { "type": "number" },
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Location",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "id": 1,
                  "name": "Main location",
                  "legal_name": "Amazon",
                  "address_id": 1,
                  "address": {
                    "id": 1,
                    "city": "New York",
                    "country": "United States",
                    "line_1": "10 East 20th Example St",
                    "line_2": "",
                    "state": "New York",
                    "zip": "10000"
                  },
                  "is_primary": true,
                  "sales_allowed": true,
                  "purchase_allowed": true,
                  "manufacturing_allowed": true,
                  "created_at": "2020-10-23T10:37:05.085Z",
                  "updated_at": "2020-10-23T10:37:05.085Z",
                  "deleted_at": null
                }
              }
            }
          },
          "401": {
            "description": "Make sure you've entered your API token correctly.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "name": "UnauthorizedError",
                  "message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit has been reached. Please try again later.",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 429,
                  "name": "TooManyRequests",
                  "message": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "The server encountered an error. If this persists, please contact support",
            "headers": {
              "X-Ratelimit-Limit": {
                "description": "Number of requests available for this application.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Remaining": {
                "description": "Number of requests remaining in quota.",
                "schema": { "type": "number" }
              },
              "X-Ratelimit-Reset": {
                "description": "The timestamp when the quota will reset.",
                "schema": { "type": "number" }
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 500,
                  "name": "InternalServerError",
                  "message": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/manufacturing_orders": {
      "post": {
        "summary": "Create a manufacturing order",
        "tags": ["Manufacturing order"],
        "description": "Creates a new manufacturing order object. Manufacturing order recipe and\n  operation rows are created automatically based on the product recipe and operations.",
        "operationId": "createManufacturingOrder",
        "requestBody": {
          "description": "new manufacturing order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["order_no", "variant_id", "location_id"],
                "properties": {
                  "status": { "enum": ["NOT_STARTED"], "type": "string" },
                  "order_no": { "type": "string" },
                  "variant_id": { "type": "number" },
                  "location_id": { "type": "number" },
                  "planned_quantity": { "type": "number" },
                  "actual_quantity": { "type": "number" },
                  "order_created_date": { "type": "string" },
                  "production_deadline_date": {
                    "type": "string",
                    "description": "Use only if automatic production deadline calculation for the factory location is switched OFF."
                  },
[...]
