openapi: 3.1.0

info:
  title: Katana Public API
  version: 1.0.0
  description: |-
    Public API for Katana Manufacturing Resource Planning (MRP) platform.

    This OpenAPI specification provides comprehensive access to Katana's manufacturing,
    inventory, sales, and purchasing capabilities.

    **Key Features:**
    - Complete CRUD operations for all business objects
    - Real-time inventory management and tracking
    - Manufacturing order and BOM (Bill of Materials) management
    - Sales and purchase order processing
    - Webhook event notifications for real-time integrations
    - Rate limiting with retry headers for reliable API usage
    - Comprehensive pagination support for list endpoints

    **API Limits: **
    - Rate limit: 60 requests per 60 seconds
    - Max page size: 250 records per request
    - Default page size: 50 records per request

    **Webhook Events:**
    Subscribe to real-time notifications for 50+ event types including sales orders,
    manufacturing orders, inventory changes, and more.
  license:
    name: MIT
    url: https://opensource.org/license/mit/
servers:
  - url: https://api.katanamrp.com/v1
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    ids:
      name: ids
      in: query
      description: Filters results by an array of IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    variant_ids:
      name: variant_ids
      in: query
      description: Filters results by an array of variant IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    extend_inventory:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for inventory endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - variant
            - location
    extend_material:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for material endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - supplier
    extend_product:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for product endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - supplier
    extend_purchase_order:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for purchase order endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - supplier
    extend_sales_order_row:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for sales order row endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - variant
    extend_variant:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for variant endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - product_or_material
    location_id:
      name: location_id
      in: query
      description: Filters results by a location ID.
      required: false
      schema:
        type: integer
    resource_type:
      name: resource_type
      in: query
      description: Filters results by resource type.
      required: false
      schema:
        type: string
        enum:
          - PurchaseOrderRow
          - PurchaseOrderRecipeRow
          - SalesOrderRow
          - ManufacturingOrderRecipeRow
          - StockAdjustmentRow
          - StockTransferRow
          - ManufacturingOrder
          - SystemGenerated
          - ProductionIngredient
    resource_id:
      name: resource_id
      in: query
      description: Filters results by a resource ID.
      required: false
      schema:
        type: integer
    caused_by_order_no:
      name: caused_by_order_no
      in: query
      description: Filters results by the causing order number.
      required: false
      schema:
        type: string
    caused_by_resource_id:
      name: caused_by_resource_id
      in: query
      description: Filters results by the causing resource ID.
      required: false
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Number of records to return per page.
      required: false
      schema:
        type: integer
        default: 50
    page:
      name: page
      in: query
      description: Page number to return.
      required: false
      schema:
        type: integer
        default: 1
    created_at_min:
      name: created_at_min
      in: query
      description: Minimum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    created_at_max:
      name: created_at_max
      in: query
      description: Maximum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_min:
      name: updated_at_min
      in: query
      description: Minimum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_max:
      name: updated_at_max
      in: query
      description: Maximum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    batch_id:
      name: batch_id
      in: query
      description: Filters results by a valid batch id.
      schema:
        type: integer
    batch_number:
      name: batch_number
      in: query
      description: Filters results by a valid batch number.
      schema:
        type: string
    variant_id:
      name: variant_id
      in: query
      description: Filters results by a valid variant id.
      schema:
        type: integer
    include_archived:
      name: include_archived
      in: query
      required: false
      description: Includes archived results.
      schema:
        type: boolean
    batch_barcode:
      name: batch_barcode
      in: query
      description: Filter results by batch barcode.
      schema:
        type: string
    batch_created_at_min:
      name: batch_created_at_min
      in: query
      description: Minimum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    batch_created_at_max:
      name: batch_created_at_max
      in: query
      description: Maximum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    include_empty:
      name: include_empty
      in: query
      description: Include empty records in result.
      schema:
        type: boolean
    name:
      name: name
      in: query
      required: false
      description: Filters records by name.
      schema:
        type: string
    include_deleted:
      name: include_deleted
      in: query
      required: false
      description: Soft-deleted data is excluded from result set by default. Set to true to include it.
      schema:
        type: boolean
    legal_name:
      name: legal_name
      in: query
      description: Filters results by a legal name.
      required: false
      schema:
        type: string
    address_id:
      name: address_id
      in: query
      description: Filters results by an address ID.
      required: false
      schema:
        type: integer
    sales_allowed:
      name: sales_allowed
      in: query
      description: Filters results by whether sales are allowed.
      required: false
      schema:
        type: boolean
    manufacturing_allowed:
      name: manufacturing_allowed
      in: query
      description: Filters results by whether manufacturing is allowed.
      required: false
      schema:
        type: boolean
    purchases_allowed:
      name: purchases_allowed
      in: query
      description: Filters results by whether purchases are allowed.
      required: false
      schema:
        type: boolean
    rank:
      name: rank
      in: query
      description: Filters results by a rank value.
      required: false
      schema:
        type: integer
    bin_name:
      name: bin_name
      in: query
      required: false
      description: Filters storage bins by name.
      schema:
        type: string
    uom:
      name: uom
      required: false
      description: Filters records by unit of measure.
      schema:
        type: string
      in: query
    default_supplier_id:
      name: default_supplier_id
      required: false
      description: Filters records by default supplier ID.
      schema:
        type: integer
      in: query
    is_sellable:
      name: is_sellable
      required: false
      description: Filters records by whether they are sellable.
      schema:
        type: boolean
      in: query
    batch_tracked:
      name: batch_tracked
      required: false
      description: Filters records by whether they are batch tracked.
      schema:
        type: boolean
      in: query
    purchase_uom:
      name: purchase_uom
      required: false
      description: Filters records by purchase unit of measure.
      schema:
        type: string
      in: query
    purchase_uom_conversion_rate:
      name: purchase_uom_conversion_rate
      required: false
      description: Filters records by purchase unit of measure conversion rate.
      schema:
        type: number
      in: query
    sku:
      name: sku
      required: false
      description: Filters results by a sku
      schema:
        type: string
      in: query
    sku_list:
      name: sku
      required: false
      description: Filters results by list of skus
      schema:
        type: array
        items:
          type: string
      in: query
    category:
      name: category
      required: false
      description: Filters negative stock by a category
      schema:
        type: string
      in: query
    is_producible:
      name: is_producible
      required: false
      description: Filters products by an is_producible
      schema:
        type: boolean
      in: query
    is_purchasable:
      name: is_purchasable
      required: false
      description: Filters products by an is_purchasable
      schema:
        type: boolean
      in: query
    is_auto_assembly:
      name: is_auto_assembly
      required: false
      description: Filters products by an is_auto_assembly
      schema:
        type: boolean
      in: query
    serial_tracked:
      name: serial_tracked
      required: false
      description: Filters products by a serial_tracked
      schema:
        type: boolean
      in: query
    operations_in_sequence:
      name: operations_in_sequence
      required: false
      description: Filters products by a operations_in_sequence
      schema:
        type: boolean
      in: query
    order_no:
      name: order_no
      required: false
      description: Filters purchase orders by an order number
      schema:
        type: string
      in: query
    entity_type:
      name: entity_type
      required: false
      description: Filters purchase orders by an entity type
      schema:
        type: string
        enum:
          - regular
          - outsourced
      in: query
    po_status:
      name: status
      required: false
      description: Filters purchase orders by a status
      schema:
        enum:
          - NOT_RECEIVED
          - PARTIALLY_RECEIVED
          - RECEIVED
      in: query
    billing_status:
      name: billing_status
      required: false
      description: Filters purchase orders by a billing status
      schema:
        enum:
          - BILLED
          - NOT_BILLED
          - PARTIALLY_BILLED
      in: query
    currency:
      name: currency
      required: false
      description: Filters purchase orders by a currency
      schema:
        type: string
      in: query
    tracking_location_id:
      name: tracking_location_id
      required: false
      description: Filters purchase orders by a tracking location
      schema:
        type: number
      in: query
    supplier_id:
      name: supplier_id
      required: false
      description: Filters purchase orders by a supplier
      schema:
        type: number
      in: query
    group_id:
      name: group_id
      required: false
      description: Filters purchase order additional cost rows by group id
      schema:
        type: number
      in: query
    additional_cost_id:
      name: additional_cost_id
      required: false
      description: Filters purchase order additional cost rows by additional cost id
      schema:
        type: number
      in: query
    tax_rate_id:
      name: tax_rate_id
      required: false
      description: Filters purchase order additional cost rows by tax rate id
      schema:
        type: number
      in: query
    distribution_method:
      name: distribution_method
      required: false
      description: Filters purchase order additional cost rows by an distribution method
      schema:
        type: string
        enum:
          - BY_VALUE
          - NON_DISTRIBUTED
      in: query
    purchase_order_id:
      name: purchase_order_id
      required: false
      description: Filters purchase order rows by purchase order id
      schema:
        type: number
      in: query
    mo_status:
      name: status
      required: false
      description: Filters manufacturing orders by a status.
      schema:
        enum:
          - NOT_STARTED
          - BLOCKED
          - IN_PROGRESS
          - PAUSED
          - COMPLETED
      in: query
    manufacturing_order_id:
      name: manufacturing_order_id
      required: false
      description: Filters manufacturing orders by location.
      schema:
        type: number
      in: query
    received_items_group_id:
      name: received_items_group_id
      required: false
      description: Filters purchase order accounting metadata by received items group id
      schema:
        type: number
      in: query
    email:
      name: email
      required: false
      description: Filters suppliers by an email
      schema:
        type: string
      in: query
    first_name:
      name: first_name
      required: false
      description: Filters by first name
      schema:
        type: string
      in: query
    last_name:
      name: last_name
      required: false
      description: Filters by last name
      schema:
        type: string
      in: query
    company:
      name: company
      required: false
      description: Filters by company name
      schema:
        type: string
      in: query
    phone:
      name: phone
      required: false
      description: Filters suppliers by a phone number
      schema:
        type: string
      in: query
    supplier_ids:
      name: supplier_ids
      required: false
      description: Filters supplier addresses by an array of supplier IDs
      schema:
        type: array
        items:
          type: integer
      in: query
    line_1:
      name: line_1
      required: false
      description: Filters supplier addresses by a line_1
      schema:
        type: string
      in: query
    line_2:
      name: line_2
      required: false
      description: Filters supplier addresses by a line_2
      schema:
        type: string
      in: query
    city:
      name: city
      required: false
      description: Filters supplier addresses by a city
      schema:
        type: string
      in: query
    state:
      name: state
      required: false
      description: Filters supplier addresses by a state
      schema:
        type: string
      in: query
    zip:
      name: zip
      required: false
      description: Filters supplier addresses by a zip
      schema:
        type: string
      in: query
    country:
      name: country
      required: false
      description: Filters supplier addresses by a country
      schema:
        type: string
      in: query
    ingredient_availability:
      name: ingredient_availability
      required: false
      description: Filters manufacturing orders by an ingredient availability.
      schema:
        enum:
          - PROCESSED
          - IN_STOCK
          - NOT_AVAILABLE
          - EXPECTED
          - NO_RECIPE
          - NOT_APPLICABLE
      in: query
    rate:
      name: rate
      required: false
      description: Filters tax rates by rate
      schema:
        type: number
      in: query
    is_default_sales:
      name: is_default_sales
      required: false
      description: Filters tax rates by an is_default_sales
      schema:
        type: boolean
      in: query
    is_default_purchases:
      name: is_default_purchases
      required: false
      description: Filters tax rates by an is_default_purchases
      schema:
        type: boolean
      in: query
    product_id:
      name: product_id
      required: false
      description: Filters variants by a product id
      schema:
        type: integer
      in: query
    material_id:
      name: material_id
      required: false
      description: Filters variants by a material id
      schema:
        type: integer
      in: query
    sales_price:
      name: sales_price
      required: false
      description: Filters variants by a sales price
      schema:
        type: number
      in: query
    purchase_price:
      name: purchase_price
      required: false
      description: Filters variants by a purchase price
      schema:
        type: number
      in: query
    internal_barcode:
      name: internal_barcode
      required: false
      description: Filters variants by an internal barcode
      schema:
        type: string
        minLength: 3
        maxLength: 40
      in: query
    registered_barcode:
      name: registered_barcode
      required: false
      description: Filters variants by a registered barcode
      schema:
        type: string
        maxLength: 120
      in: query
    supplier_item_codes:
      name: supplier_item_codes
      required: false
      description: |
        Filters variants by supplier item codes. Returns the variants that match with any of the codes in the array.
      schema:
        type: array
        items:
          type: string
          minLength: 1
      in: query
    url:
      name: url
      required: false
      description: Filters webhooks by an url
      schema:
        type: string
      in: query
    enabled:
      name: enabled
      required: false
      description: Filters webhooks by enabled flag
      schema:
        type: boolean
      in: query
    is_linked_to_sales_order:
      name: is_linked_to_sales_order
      required: false
      description: Filters based on whether a manufacturing order is linked to a sales order or not.
      schema:
        type: boolean
      in: query
    manufacturing_order_ids:
      name: manufacturing_order_ids
      required: false
      description: Filters manufacturing order productions by manufacturing order ids.
      schema:
        type: array
        items:
          type: integer
      in: query
    return_order_no:
      name: return_order_no
      in: query
      description: Filters sales returns by an order number
      required: false
      schema:
        type: string
    refund_status:
      name: refund_status
      in: query
      description: Filters sales returns by a refund status
      required: false
      schema:
        type: string
        enum:
          - NOT_REFUNDED
          - REFUNDED_ALL
          - PARTIALLY_REFUNDED
    return_date_min:
      name: return_date_min
      in: query
      description: Minimum value for return_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    return_date_max:
      name: return_date_max
      in: query
      description: Maximum value for return_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    order_created_date_min:
      name: order_created_date_min
      in: query
      description: Minimum value for order_created_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    order_created_date_max:
      name: order_created_date_max
      in: query
      description: Maximum value for order_created_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    restock_location_id:
      name: restock_location_id
      in: query
      description: Filters sales return rows by a restock location id
      required: false
      schema:
        type: integer
    reason_id:
      name: reason_id
      in: query
      description: Filters sales return rows by a reason id
      required: false
      schema:
        type: integer
    sales_order_row_id:
      name: sales_order_row_id
      in: query
      description: Filters sales return rows by a sales order row id
      required: false
      schema:
        type: integer
    customer_ids:
      name: customer_ids
      in: query
      description: Filters customer addresses by an array of customer IDs
      required: false
      schema:
        type: array
        items:
          type: integer
    category_name:
      name: category_name
      in: query
      description: Filters services by category name
      required: false
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: integer
    sales_order_id:
      name: sales_order_id
      in: query
      description: Filter by sales order ID
      schema:
        type: integer
    customer_id:
      name: customer_id
      in: query
      description: Filter by customer ID
      schema:
        type: integer
    status:
      name: status
      in: query
      description: Filter by status
      schema:
        type: string
    ingredient_variant_id:
      name: ingredient_variant_id
      in: query
      description: Filter by ingredient variant ID
      schema:
        type: integer
    product_variant_id:
      name: product_variant_id
      in: query
      description: Filter by product variant ID
      schema:
        type: integer
    operation_id:
      name: operation_id
      in: query
      description: Filter by operation ID
      schema:
        type: integer
    operation_name:
      name: operation_name
      in: query
      description: Filter by operation name
      schema:
        type: string
    resource_name:
      name: resource_name
      in: query
      description: Filter by resource name
      schema:
        type: string
    product_operation_row_id:
      name: product_operation_row_id
      in: query
      description: Filter by product operation row ID
      schema:
        type: integer
  headers:
    X-Pagination:
      description: Pagination metadata containing page information for paginated responses
      schema:
        type: object
        properties:
          total_records:
            type: string
            description: Total number of records in the result set matching the filters (as string)
            example: "150"
          total_pages:
            type: string
            description: Number of pages in the result set (as string)
            example: "6"
          offset:
            type: string
            description: The offset from 0 for the start of this page (as string)
            example: "50"
          page:
            type: string
            description: The current page number being requested (as string)
            example: "3"
          first_page:
            type: string
            description: Whether the requested page is the first one in the collection (as string)
            example: "false"
          last_page:
            type: string
            description: Whether the requested page is the last one in the collection (as string)
            example: "false"
        required:
          - total_records
          - total_pages
          - offset
          - page
          - first_page
          - last_page
        example:
          total_records: "142"
          total_pages: "8"
          offset: "50"
          page: "2"
          first_page: "false"
          last_page: "false"
    X-Ratelimit-Limit:
      description: Number of requests available for this application (default 60 per minute)
      schema:
        type: integer
        example: 60
    X-Ratelimit-Remaining:
      description: Number of requests remaining in current rate limit window
      schema:
        type: integer
        example: 45
    X-Ratelimit-Reset:
      description: The timestamp (milliseconds since epoch) when the rate limit quota will reset
      schema:
        type: integer
        format: int64
        example: 1640995199000
    Retry-After:
      description: Number of seconds to wait before making another request when rate limited
      schema:
        type: integer
        example: 15
    X-Katana-Retry-Num:
      description: Webhook retry attempt number (1, 2, or 3)
      schema:
        type: integer
        minimum: 1
        maximum: 3
        example: 1
    X-Sha2-Signature:
      description: HMAC SHA-256 signature for webhook verification
      schema:
        type: string
        example: sha256=a8f5f167f44f4964e6c998dee827110c
  responses:
    NoContent:
      description: Object deleted successfully
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
    UnauthorizedError:
      description: Make sure you've entered your API token correctly.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 401
            name: UnauthorizedError
            message: Unauthorized
    NotFoundError:
      description: Not found.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 404
            name: NotFoundError
            message: Not found
    UnprocessableEntityError:
      description: Validation failed.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DetailedErrorResponse"
          example:
            statusCode: 422
            name: UnprocessableEntityError
            message: The request body is invalid.
            code: VALIDATION_FAILED
            details:
              - path: .name
                code: maxLength
                message: should NOT be longer than 10 characters
                info:
                  limit: 10
    TooManyRequests:
      description: |-
        Rate limit exceeded - too many requests sent within the rate limit window (60 requests per 60 seconds)
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 429
            name: TooManyRequests
            message: Too Many Requests
    InternalServerError:
      description: Internal Server Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 500
            name: InternalServerError
            message: Internal Server Error
    BadRequestError:
      description: Bad Request Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 400
            name: BadRequest
            message: Bad Request
  schemas:
    ErrorResponse:
      type: object
      description: Base error message schema
      properties:
        statusCode:
          type: number
          description: HTTP status code
        name:
          type: string
          description: Error name/type
        message:
          type: string
          description: Human-readable error message
    CodedErrorResponse:
      description: Error response with an additional application-specific error code for detailed error handling
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            code:
              type:
                - string
                - "null"
              description: Application-specific error code
      required:
        - statusCode
        - name
        - message
    DetailedErrorResponse:
      description: Enhanced error response containing detailed validation error information for complex request failures
      allOf:
        - $ref: "#/components/schemas/CodedErrorResponse"
        - type: object
          properties:
            details:
              type: array
              description: Detailed validation error information
              items:
                $ref: "#/components/schemas/ValidationErrorDetail"
    ValidationErrorDetail:
      oneOf:
        - $ref: "#/components/schemas/EnumValidationError"
        - $ref: "#/components/schemas/MinValidationError"
        - $ref: "#/components/schemas/MaxValidationError"
        - $ref: "#/components/schemas/InvalidTypeValidationError"
        - $ref: "#/components/schemas/TooSmallValidationError"
        - $ref: "#/components/schemas/TooBigValidationError"
        - $ref: "#/components/schemas/RequiredValidationError"
        - $ref: "#/components/schemas/PatternValidationError"
        - $ref: "#/components/schemas/UnrecognizedKeysValidationError"
        - $ref: "#/components/schemas/GenericValidationError"
      discriminator:
        propertyName: code
        mapping:
          enum: "#/components/schemas/EnumValidationError"
          min: "#/components/schemas/MinValidationError"
          max: "#/components/schemas/MaxValidationError"
          invalid_type: "#/components/schemas/InvalidTypeValidationError"
          too_small: "#/components/schemas/TooSmallValidationError"
          too_big: "#/components/schemas/TooBigValidationError"
          required: "#/components/schemas/RequiredValidationError"
          pattern: "#/components/schemas/PatternValidationError"
          unrecognized_keys: "#/components/schemas/UnrecognizedKeysValidationError"
          generic: "#/components/schemas/GenericValidationError"

    BaseValidationError:
      type: object
      description: Base validation error with common fields
      properties:
        path:
          type: string
          description: JSON path to the field with the error
        code:
          type: string
          description: Validation error code
        message:
          type: string
          description: Human-readable validation error message
      required:
        - path
        - code
        - message

    EnumValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["enum"]
            allowed_values:
              type: array
              items:
                type: string
              description: List of valid enum values
          required:
            - allowed_values

    MinValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["min"]
            minimum:
              type: number
              description: Minimum allowed value
          required:
            - minimum

    MaxValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["max"]
            maximum:
              type: number
              description: Maximum allowed value
          required:
            - maximum

    InvalidTypeValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["invalid_type"]
            expected_type:
              type: string
              description: Expected type for the field
          required:
            - expected_type

    TooSmallValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["too_small"]
            min_length:
              type: integer
              description: Minimum string length required
            min_items:
              type: integer
              description: Minimum array items required

    TooBigValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["too_big"]
            max_length:
              type: integer
              description: Maximum string length allowed
            max_items:
              type: integer
              description: Maximum array items allowed

    RequiredValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["required"]
            missing_property:
              type: string
              description: Name of the required field that is missing
          required:
            - missing_property

    PatternValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["pattern"]
            pattern:
              type: string
              description: Regular expression pattern that must be matched
          required:
            - pattern

    UnrecognizedKeysValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["unrecognized_keys"]
            keys:
              type: array
              items:
                type: string
              description: List of unrecognized field names
            valid_keys:
              type: array
              items:
                type: string
              description: List of valid field names
          required:
            - keys

    GenericValidationError:
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          description: Fallback for any validation error codes not explicitly typed
          properties:
            code:
              type: string
              description: Validation error code for generic errors

    OutsourcedPurchaseOrderIngredientAvailability:
      type: string
      enum:
        - "PROCESSED"
        - "IN_STOCK"
        - "NOT_AVAILABLE"
        - "EXPECTED"
        - "NO_RECIPE"
      description: Status of ingredients required for outsourced purchase order production

    BaseEntity:
      type: object
      description: Base entity with unique identifier
      properties:
        id:
          type: integer
          description: Unique identifier
      required:
        - id
      example:
        id: 12345
    UpdatableEntity:
      description: Common fields for entities that can be updated
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
    ArchivableEntity:
      description: Common fields for entities that can be archived
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
            archived_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable archive timestamp
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        archived_at: null
    DeletableEntity:
      description: Common fields for entities that can be deleted
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
            deleted_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable deletion timestamp
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    ArchivableDeletableEntity:
      description: Common fields for entities that can be both archived and deleted
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
            archived_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable archive timestamp
            deleted_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable deletion timestamp
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        archived_at: null
        deleted_at: null
    MaterialConfig:
      description: Configuration option for a material that defines variant attributes
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            name:
              type: string
              description: Configuration attribute name (e.g., Grade, Thickness, Color)
            values:
              type: array
              description: Array of possible values for this configuration attribute
              items:
                type: string
            material_id:
              type: integer
              description: ID of the material this configuration belongs to
          required:
            - name
            - values
            - material_id
      example:
        id: 101
        name: Grade
        values:
          - "Premium"
          - "Standard"
          - "Economy"
        material_id: 1
    ItemConfig:
      description: Configuration option for products and materials that defines variant attributes
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            name:
              type: string
              description: Configuration attribute name (e.g., Size, Color, Style, Grade)
            values:
              type: array
              description: Array of possible values for this configuration attribute
              items:
                type: string
            product_id:
              type:
                - integer
                - "null"
              description: ID of the product this configuration belongs to (null for materials)
            material_id:
              type:
                - integer
                - "null"
              description: ID of the material this configuration belongs to (null for products)
          required:
            - name
            - values
      example:
        id: 201
        name: Type
        values:
          - "Standard"
          - "Double-bladed"
        product_id: 1
        material_id: null
    AdditionalCost:
      description: |
        Additional cost types that can be applied to purchase orders and manufacturing orders (e.g., shipping, taxes,
        duties)
      allOf:
        - type: object
          properties:
            name:
              type: string
          required:
            - name
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 1
        name: Shipping Cost
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    AdditionalCostListResponse:
      description: Response containing a list of additional cost types for purchase orders and manufacturing orders
      type: object
      properties:
        data:
          type: array
          description: Array of additional cost types that can be applied to orders
          items:
            $ref: "#/components/schemas/AdditionalCost"
      example:
        data:
          - id: 1
            name: Shipping Cost
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 2
            name: Import Duty
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
    Batch:
      type: object
      description: Core batch business properties
      required:
        - batch_number
        - variant_id
      properties:
        batch_number:
          type: string
          description: Unique batch number identifier
        expiration_date:
          type: string
          format: date-time
          description: Batch expiration date (ISO 8601)
        batch_created_date:
          type: string
          format: date-time
          description: Batch creation date (ISO 8601)
        variant_id:
          type: integer
          maximum: 2147483647
          description: ID of the variant this batch belongs to
        batch_barcode:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 40
          description: Optional barcode for the batch
      example:
        batch_number: BAT-2024-001
        expiration_date: "2025-10-23T10:37:05.085Z"
        batch_created_date: "2024-01-15T08:00:00.000Z"
        variant_id: 1001
        batch_barcode: "0317"
    BatchStock:
      description: Batch inventory record showing current stock levels for a specific batch at a specific location
      allOf:
        - $ref: "#/components/schemas/Batch"
        - type: object
          properties:
            batch_id:
              type: integer
            location_id:
              type: integer
              description: ID of the location where the batch is stored
            quantity_in_stock:
              type: string
              description: Current quantity in stock for this batch
      example:
        batch_id: 1109
        batch_number: BAT-2024-001
        batch_created_date: "2024-01-15T08:00:00.000Z"
        expiration_date: "2025-10-23T10:37:05.085Z"
        location_id: 1
        variant_id: 1001
        quantity_in_stock: "25.00000"
        batch_barcode: "0317"
    BatchStockListResponse:
      type: object
      description: List of batch stock records showing current inventory levels for tracked batches across all locations
      properties:
        data:
          type: array
          description: Array of batch stock records with current quantities
          items:
            $ref: "#/components/schemas/BatchStock"
      example:
        data:
          - batch_id: 1109
            batch_number: BAT-2024-001
            batch_created_date: "2024-01-15T08:00:00.000Z"
            expiration_date: "2025-10-23T10:37:05.085Z"
            location_id: 1
            variant_id: 1001
            quantity_in_stock: "25.00000"
            batch_barcode: "0317"
          - batch_id: 1110
            batch_number: BAT-2024-002
            batch_created_date: "2024-01-16T09:30:00.000Z"
            expiration_date: "2025-11-15T10:37:05.085Z"
            location_id: 1
            variant_id: 1002
            quantity_in_stock: "50.00000"
            batch_barcode: "0318"
    BatchStockUpdate:
      type: object
      description: Request payload for updating batch properties and tracking information
      additionalProperties: false
      properties:
        batch_number:
          type: string
          description: Updated batch number
        expiration_date:
          type: string
          format: date-time
          description: Updated expiration date (ISO 8601)
        batch_created_date:
          type: string
          format: date-time
          description: Updated batch creation date (ISO 8601)
        batch_barcode:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 40
          description: Updated barcode for the batch
      example:
        batch_number: BAT-2024-001-UPDATED
        expiration_date: "2025-12-31T23:59:59.000Z"
        batch_barcode: 0317-V2
    BatchResponse:
      description: Complete batch record with system metadata for inventory tracking and traceability
      allOf:
        - $ref: "#/components/schemas/Batch"
        - $ref: "#/components/schemas/UpdatableEntity"
      example:
        id: 1109
        batch_number: BAT-2024-001
        expiration_date: "2025-10-23T10:37:05.085Z"
        batch_created_date: "2024-01-15T08:00:00.000Z"
        created_at: "2024-01-15T08:00:00.000Z"
        updated_at: "2024-01-15T08:00:00.000Z"
        variant_id: 1001
        batch_barcode: "0317"
    BatchTransaction:
      type: object
      description: |
        Represents a quantity transaction for a specific batch in manufacturing, sales, or inventory operations
      additionalProperties: false
      required:
        - batch_id
        - quantity
      properties:
        batch_id:
          type: integer
          description: ID of the batch for the transaction
        quantity:
          type: number
          description: The quantity in this batch transaction
      example:
        batch_id: 1109
        quantity: 25.0
    StorageBin:
      type: object
      description: Core storage bin business properties
      required:
        - bin_name
        - location_id
      properties:
        bin_name:
          type: string
          description: Name of the storage bin
        location_id:
          type: integer
          description: Unique identifier of the location where storage bin is located
      example:
        bin_name: A-01-SHELF-1
        location_id: 1
    StorageBinResponse:
      description: Complete storage bin record with location details and system metadata for warehouse organization
      allOf:
        - $ref: "#/components/schemas/StorageBin"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 12345
        bin_name: A-01-SHELF-1
        location_id: 1
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    StorageBinUpdate:
      type: object
      description: Storage bin fields for update operations (all optional for PATCH)
      additionalProperties: false
      properties:
        bin_name:
          type: string
          description: Name of the storage bin
        location_id:
          type: integer
          description: Unique identifier of the location where storage bin is located
      example:
        bin_name: A-01-SHELF-2
        location_id: 2
    StorageBinListResponse:
      type: object
      description: List of storage bin records showing all warehouse storage locations and their organization structure
      properties:
        data:
          type: array
          description: Array of storage bin records with location and identification details
          items:
            $ref: "#/components/schemas/StorageBinResponse"
      example:
        data:
          - id: 12345
            bin_name: A-01-SHELF-1
            location_id: 1
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 12346
            bin_name: A-02-SHELF-1
            location_id: 1
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
    InventoryMovement:
      description: |
        Record of inventory quantity changes caused by transactions like sales, purchases, manufacturing, or adjustments
      allOf:
        - type: object
          properties:
            id:
              type: integer
              description: Unique identifier for the inventory movement.
            variant_id:
              type: integer
              description: Identifier of the product variant associated with the movement.
            location_id:
              type: integer
              description: Identifier of the location where the movement occurred.
            resource_type:
              type: string
              description: The type of resource that caused the movement.
              enum:
                - Production
                - PurchaseOrderRow
                - PurchaseOrderRecipeRow
                - SalesOrderRow
                - ManufacturingOrderRecipeRow
                - StockAdjustmentRow
                - StockTransferRow
                - ManufacturingOrder
                - SystemGenerated
                - ProductionIngredient
            resource_id:
              type: integer
              description: Identifier of the resource that initiated the movement.
            caused_by_order_no:
              type: string
              description: Order number that triggered the movement.
            caused_by_resource_id:
              type: integer
              description: Identifier for the resource that caused the movement.
            movement_date:
              type: string
              format: date-time
              description: Date and time when the inventory movement occurred.
            quantity_change:
              type: number
              description: The change in quantity as a result of the movement.
            balance_after:
              type: number
              description: The quantity balance after the movement.
            value_per_unit:
              type: number
              description: The value per unit for the movement.
            value_in_stock_after:
              type: number
              description: The total value in stock after the movement.
            average_cost_after:
              type: number
              description: The average cost per unit after the movement.
            rank:
              type: integer
              description: A rank or order index for the movement.
        - $ref: "#/components/schemas/UpdatableEntity"
      required:
        - id
        - variant_id
        - location_id
        - resource_type
        - movement_date
        - quantity_change
        - balance_after
        - value_per_unit
        - value_in_stock_after
        - average_cost_after
        - created_at
        - updated_at
      example:
        id: 12345
        variant_id: 3001
        location_id: 1
        resource_type: PurchaseOrderRow
        resource_id: 5001
        caused_by_order_no: PO-2024-001
        caused_by_resource_id: 5001
        movement_date: "2024-01-15T10:30:00.000Z"
        quantity_change: 100.0
        balance_after: 500.0
        value_per_unit: 25.5
        value_in_stock_after: 12750.0
        average_cost_after: 25.5
        rank: 1
        created_at: "2024-01-15T10:30:00.000Z"
        updated_at: "2024-01-15T10:30:00.000Z"
    InventoryMovementListResponse:
      type: object
      description: |
        A list of inventory movement records tracking stock changes, transfers, and adjustments across locations.
      properties:
        data:
          type: array
          description: Array of inventory movement records with transaction details
          items:
            $ref: "#/components/schemas/InventoryMovement"
      required:
        - data
      example:
        data:
          - id: 5001
            variant_id: 2002
            location_id: 1
            resource_type: PurchaseOrderRow
            resource_id: 1001
            caused_by_order_no: PO-2024-001
            caused_by_resource_id: 1001
            movement_type: TRANSFER_IN
            movement_date: "2023-10-15T14:30:00Z"
            quantity: 10.0
            quantity_change: 10.0
            balance_after: 100.0
            cost_per_unit: 12.5
            value_per_unit: 12.5
            total_cost: 125.0
            value_in_stock_after: 1250.0
            average_cost_after: 12.5
            reference_id: 1001
            notes: Received from supplier shipment
            created_at: "2023-10-15T14:30:00Z"
            updated_at: "2023-10-15T14:30:00Z"
    Variant:
      description: Specific SKU of a product or material with unique pricing, configuration, and inventory tracking
      allOf:
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          properties:
            sku:
              type: string
              description: |-
                Stock keeping unit - unique identifier for this variant
            sales_price:
              type:
                - number
                - "null"
              description: Price at which this variant is sold to customers
            product_id:
              type:
                - integer
                - "null"
              description: ID of the parent product if this variant belongs to a finished good
            material_id:
              type:
                - integer
                - "null"
              description: ID of the parent material if this variant belongs to a raw material
            purchase_price:
              type: number
              description: Cost to purchase this variant from suppliers
            type:
              type: string
              enum:
                - product
                - material
              description: |-
                Type classification - either 'product' or 'material'
            internal_barcode:
              type: string
              description: Internal barcode for warehouse scanning and tracking
            registered_barcode:
              type: string
              description: Official registered barcode (UPC, EAN, etc.) for retail use
            supplier_item_codes:
              type: array
              description: Supplier-specific part numbers or SKUs for purchasing
              items:
                type: string
            lead_time:
              type:
                - integer
                - "null"
              description: Days required to manufacture or procure this variant
            minimum_order_quantity:
              type:
                - number
                - "null"
              description: Minimum quantity that must be ordered from suppliers
            custom_fields:
              type: array
              description: Custom field values specific to this variant
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Name of the custom field
                  field_value:
                    type: string
                    description: Value stored in the custom field
            config_attributes:
              type: array
              description: Configuration attribute values that define this variant (color, size, etc.)
              items:
                type: object
                properties:
                  config_name:
                    type: string
                    description: Name of the configuration attribute (e.g., Color, Size)
                  config_value:
                    type: string
                    description: Value for this configuration attribute (e.g., Blue, Large)
          required:
            - sku
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 3001
        sku: KNF-PRO-8PC-STL
        sales_price: 299.99
        product_id: 101
        material_id: null
        purchase_price: 150.0
        type: product
        internal_barcode: INT-KNF-001
        registered_barcode: "789123456789"
        supplier_item_codes:
          - SUP-KNF-8PC-001
        lead_time: 7
        minimum_order_quantity: 1
        custom_fields:
          - field_name: Warranty Period
            field_value: 5 years
        config_attributes:
          - config_name: Piece Count
            config_value: 8-piece
          - config_name: Handle Material
            config_value: Steel
        created_at: "2024-01-15T08:00:00.000Z"
        updated_at: "2024-08-20T14:45:00.000Z"
        deleted_at: null
    ServiceVariant:
      description: Service variant with unique pricing and configuration for external services
      allOf:
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          properties:
            sku:
              type: string
              description: A unique service code
            sales_price:
              type:
                - number
                - "null"
              description: |
                Default sales price (excluding tax), which is automatically assigned to the service when creating sales
                orders
            default_cost:
              type:
                - number
                - "null"
              description: Default cost which is used to calculate profit
            service_id:
              type: integer
              description: ID of the service this variant belongs to
            type:
              type: string
              enum:
                - service
              description: Type classification - always 'service' for service variants
            custom_fields:
              type: array
              description: Custom field values specific to this service variant
              items:
                type: object
                properties:
                  field_name:
                    type: string
                    description: Name of the custom field
                  field_value:
                    type: string
                    description: Value for the custom field
          required:
            - sku
            - service_id
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 4001
        sku: ASSM-001
        sales_price: 75.0
        default_cost: 50.0
        service_id: 401
        type: service
        custom_fields:
          - field_name: Skill Level
            field_value: Expert
          - field_name: Duration
            field_value: 2 hours
        created_at: "2024-01-15T08:00:00.000Z"
        updated_at: "2024-08-20T14:45:00.000Z"
        deleted_at: null
    LocationAddress:
      description: Physical address information for manufacturing locations and warehouse facilities
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the location address
        city:
          type: string
          description: City or locality name where the location is situated
        country:
          type: string
          description: Country name or country code for the location
        line_1:
          type: string
          description: Primary address line (street address, building number)
        line_2:
          type: string
          description: Secondary address line (apartment, suite, floor, building)
        state:
          type: string
          description: State, province, or region designation
        zip:
          type: string
          description: Postal code or ZIP code for the location
      required:
        - id
        - city
        - country
        - line_1
        - state
        - zip
      example:
        id: 5001
        city: Austin
        country: US
        line_1: 1500 Industrial Blvd
        line_2: Building A
        state: TX
        zip: "78745"
    Location:
      description: Manufacturing location or warehouse facility where inventory is managed and operations are performed
      anyOf:
        - type: object
          properties:
            id:
              type: integer
            name:
              type: string
            legal_name:
              type: string
            address_id:
              type: integer
            address:
              $ref: "#/components/schemas/LocationAddress"
            is_primary:
              type: boolean
            sales_allowed:
              type: boolean
            purchase_allowed:
              type: boolean
            manufacturing_allowed:
              type: boolean
          required:
            - id
            - name
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 1
        name: Main location
        legal_name: Amazon
        address_id: 1
        address:
          id: 1
          city: New York
          country: US
          line_1: 10 East 20th Example St
          line_2: ""
          state: New York
          zip: "10000"
        is_primary: true
        sales_allowed: true
        purchase_allowed: true
        manufacturing_allowed: true
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    Inventory:
      type: object
      description: |-
        Represents the current inventory state for a specific product variant at a location.
        Includes stock levels, commitments, expectations, and financial information.
      properties:
        variant_id:
          type: integer
          description: Unique identifier of the product variant
        location_id:
          type: integer
          description: Unique identifier of the location where inventory is stored
        safety_stock_level:
          type: string
          description: |
            The quantity of a product or material which indicates an acceptable stock level for unexpected demand
            without overstocking
        reorder_point:
          type: string
          description: (Deprecated - use safety_stock_level instead) Queries the safety stock level
        average_cost:
          type: string
          description: Average cost per unit of this variant at this location
        value_in_stock:
          type: string
          description: Total monetary value of current stock
        quantity_in_stock:
          type: string
          description: Current physical quantity available at this location
        quantity_committed:
          type: string
          description: Quantity already allocated to orders but not yet shipped
        quantity_expected:
          type: string
          description: Quantity expected to arrive from pending purchase orders
        quantity_missing_or_excess:
          type: string
          description: Difference between expected and actual stock (negative means missing, positive means excess)
        quantity_potential:
          type: string
          description: Total quantity that could be available (in stock + expected)
        variant:
          $ref: "#/components/schemas/Variant"
          description: Product variant details associated with this inventory record
        location:
          $ref: "#/components/schemas/Location"
          description: Location details where this inventory is stored
      required:
        - variant_id
        - location_id
        - reorder_point
        - average_cost
        - value_in_stock
        - quantity_in_stock
        - quantity_committed
        - quantity_expected
        - quantity_missing_or_excess
        - quantity_potential
      example:
        variant_id: 3001
        location_id: 1
        safety_stock_level: "25.0"
        reorder_point: "25.0"
        average_cost: "15.50"
        value_in_stock: "2325.00"
        quantity_in_stock: "150.0"
        quantity_committed: "25.0"
        quantity_expected: "50.0"
        quantity_missing_or_excess: "0.0"
        quantity_potential: "175.0"
    InventoryListResponse:
      type: object
      description: List of current inventory levels showing stock quantities for all variants across all locations
      properties:
        data:
          type: array
          description: Array of inventory records with current stock levels and location details
          items:
            $ref: "#/components/schemas/Inventory"
      required:
        - data
      example:
        data:
          - id: 1001
            variant_id: 3001
            location_id: 1
            quantity_on_hand: 150.0
            quantity_allocated: 25.0
            quantity_available: 125.0
            reorder_point: "25.0"
            average_cost: "25.5"
            value_in_stock: "3825.0"
            quantity_in_stock: "150.0"
            quantity_committed: "25.0"
            quantity_expected: "50.0"
            quantity_missing_or_excess: "0.0"
            quantity_potential: "175.0"
            total_value: 3825.0
            created_at: "2024-01-15T08:00:00.000Z"
            updated_at: "2024-01-15T12:30:00.000Z"
          - id: 1002
            variant_id: 3002
            location_id: 1
            quantity_on_hand: 75.0
            quantity_allocated: 10.0
            quantity_available: 65.0
            reorder_point: "30.0"
            average_cost: "45.0"
            value_in_stock: "3375.0"
            quantity_in_stock: "75.0"
            quantity_committed: "10.0"
            quantity_expected: "25.0"
            quantity_missing_or_excess: "0.0"
            quantity_potential: "90.0"
            total_value: 3375.0
            created_at: "2024-01-15T08:00:00.000Z"
            updated_at: "2024-01-15T14:15:00.000Z"
    InventoryReorderPoint:
      description: |
        Configuration that defines the minimum inventory level that triggers automatic reordering for a specific variant
        at a location
      type: object
      required:
        - location_id
        - variant_id
        - value
      properties:
        location_id:
          type: integer
          maximum: 2147483647
          description: The location where this reorder point applies
        variant_id:
          type: integer
          maximum: 2147483647
          description: The product variant this reorder point is configured for
        value:
          type: number
          description: The minimum quantity that triggers reordering
          maximum: 100000000000000000
    InventoryReorderPointResponse:
      description: Complete inventory reorder point configuration including metadata and creation/update timestamps
      allOf:
        - $ref: "#/components/schemas/InventoryReorderPoint"
        - $ref: "#/components/schemas/DeletableEntity"
    InventorySafetyStockLevel:
      type: object
      description: Safety stock level configuration to maintain minimum inventory buffers and prevent stockouts
      required:
        - location_id
        - variant_id
        - value
      properties:
        location_id:
          type: integer
          maximum: 2147483647
          description: ID of the location where the safety stock level applies
        variant_id:
          type: integer
          maximum: 2147483647
          description: ID of the variant for which the safety stock level is set
        value:
          type: number
          maximum: 100000000000000000
          description: Minimum quantity to maintain as safety stock buffer
      example:
        location_id: 1
        variant_id: 3001
        value: 25.0
    InventorySafetyStockLevelResponse:
      description: Complete safety stock level configuration with metadata including timestamps and deletion status
      allOf:
        - $ref: "#/components/schemas/InventorySafetyStockLevel"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 1001
        variant_id: 1
        location_id: 1
        value: 10
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    CreateManufacturingOrderRequest:
      description: |
        Request payload for creating a new manufacturing order to initiate production of products or components.
      type: object
      required:
        - variant_id
        - planned_quantity
        - location_id
      properties:
        variant_id:
          type: integer
          description: ID of the product variant to manufacture
        planned_quantity:
          type: number
          description: Quantity of the variant to produce
        location_id:
          type: integer
          description: ID of the factory location where production will take place
        order_created_date:
          type: string
          format: date-time
          description: Date and time when the manufacturing order should be created (defaults to current time)
        production_deadline_date:
          type: string
          format: date-time
          description: Target deadline for completing production
        additional_info:
          type: string
          description: Optional notes or additional information about the order
      example:
        variant_id: 2101
        planned_quantity: 50
        location_id: 1
        order_created_date: "2024-01-15T08:00:00Z"
        production_deadline_date: "2024-01-25T17:00:00Z"
        additional_info: Priority order for new product launch
    ManufacturingOrder:
      description:
        Represents a manufacturing order for producing products, tracking production status, costs, and timeline
        from creation to completion.
      allOf:
        - type: object
          properties:
            id:
              type: integer
            status:
              type: string
              description: Current production status of the manufacturing order
              enum:
                - NOT_STARTED
                - BLOCKED
                - IN_PROGRESS
                - DONE
            order_no:
              type: string
              description: Unique manufacturing order number for tracking and reference
            variant_id:
              type: integer
              description: ID of the product variant being manufactured
            planned_quantity:
              type: number
              description: Originally planned quantity to produce
            actual_quantity:
              type:
                - number
                - "null"
              description: Actual quantity produced, null if production not completed
            batch_transactions:
              type: array
              description: Batch transactions for produced items, typically one transaction per manufacturing order
              items:
                $ref: "#/components/schemas/BatchTransaction"
            location_id:
              type: integer
              description: ID of the factory location where production takes place
            order_created_date:
              type: string
              format: date-time
              description: Date and time when the manufacturing order was created
            production_deadline_date:
              type: string
              format: date-time
              description: Target deadline for completing production
            done_date:
              type:
                - string
                - "null"
              format: date-time
              description: Timestamp when the manufacturing order was completed
            additional_info:
              type: string
              description: Optional notes or additional information about the order
            is_linked_to_sales_order:
              type: boolean
              description: Whether this manufacturing order is linked to a sales order
            ingredient_availability:
              anyOf:
                - type: string
                  enum:
                    - PROCESSED
                    - IN_STOCK
                    - NOT_AVAILABLE
                    - EXPECTED
                    - NO_RECIPE
                    - NOT_APPLICABLE
                - type: "null"
              description: Status of material ingredient availability for production
            total_cost:
              type: number
              description: Total cost of the manufacturing order including all materials and operations
            total_actual_time:
              type: number
              description: Total actual time spent on production operations
            total_planned_time:
              type: number
              description: Total planned time for all production operations
            sales_order_id:
              type: integer
              description: ID of the linked sales order, if applicable
            sales_order_row_id:
              type: integer
              description: ID of the specific sales order row, if applicable
            sales_order_delivery_deadline:
              type: string
              format: date-time
              description: Delivery deadline from the linked sales order
            material_cost:
              type: number
              description: Total cost of materials used in production
            subassemblies_cost:
              type: number
              description: Total cost of subassemblies used in production
            operations_cost:
              type: number
              description: Total cost of production operations and labor
            serial_numbers:
              type: array
              description: Serial numbers assigned to produced items
              items:
                $ref: "#/components/schemas/SerialNumber"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 3001
        status: IN_PROGRESS
        order_no: MO-2024-001
        variant_id: 2101
        planned_quantity: 50
        actual_quantity: 35
        location_id: 1
        order_created_date: "2024-01-15T08:00:00Z"
        production_deadline_date: "2024-01-25T17:00:00Z"
        additional_info: Priority order for new product launch
        is_linked_to_sales_order: true
        ingredient_availability: IN_STOCK
        total_cost: 12500.0
        total_actual_time: 140.5
        total_planned_time: 200.0
        sales_order_id: 2001
        sales_order_row_id: 2501
        sales_order_delivery_deadline: "2024-01-30T12:00:00Z"
        material_cost: 8750.0
        subassemblies_cost: 2250.0
        operations_cost: 1500.0
        serial_numbers:
          - id: 1
            transaction_id: "MO-2024-001-001"
            serial_number: PKS-001-240115
            resource_type: ManufacturingOrder
            resource_id: 3001
            transaction_date: "2024-01-15T08:00:00Z"
            quantity_change: 1
          - id: 2
            transaction_id: "MO-2024-001-002"
            serial_number: PKS-002-240115
            resource_type: ManufacturingOrder
            resource_id: 3001
            transaction_date: "2024-01-15T08:00:00Z"
            quantity_change: 1
          - id: 3
            transaction_id: "MO-2024-001-003"
            serial_number: PKS-003-240115
            resource_type: ManufacturingOrder
            resource_id: 3001
            transaction_date: "2024-01-15T08:00:00Z"
            quantity_change: 1
        created_at: "2024-01-15T08:00:00Z"
        updated_at: "2024-01-20T14:30:00Z"
        deleted_at: null
    UpdateManufacturingOrderRequest:
      description: Request payload for updating an existing manufacturing order's properties and production parameters.
      type: object
      properties:
        planned_quantity:
          type: number
          description: Updated quantity of the variant to produce
        additional_info:
          type: string
          description: Updated notes or additional information about the order
        production_deadline_date:
          type: string
          format: date-time
          description: Updated target deadline for completing production
      example:
        planned_quantity: 75
        additional_info: Increased quantity due to additional customer demand
        production_deadline_date: "2024-01-30T17:00:00Z"
    CreateManufacturingOrderProductionRequest:
      description:
        Request payload for creating a production run within a manufacturing order, recording actual production
        activities and material consumption.
      type: object
      required:
        - manufacturing_order_id
        - quantity
        - production_date
      properties:
        manufacturing_order_id:
          type: integer
          description: ID of the manufacturing order this production run belongs to
        quantity:
          type: number
          description: Quantity produced in this production run
        production_date:
          type: string
          format: date-time
          description: Date and time when the production was completed
        ingredients:
          type: array
          description: Ingredients consumed during this production run
          items:
            $ref: "#/components/schemas/ManufacturingOrderProductionIngredient"
        operations:
          type: array
          description: Operations performed during this production run
          items:
            $ref: "#/components/schemas/ManufacturingOrderOperationRow"
      example:
        manufacturing_order_id: 3001
        quantity: 25
        production_date: "2024-01-20T14:30:00Z"
        ingredients:
          - id: 4001
            location_id: 1
            variant_id: 3101
            manufacturing_order_id: 3001
            manufacturing_order_recipe_row_id: 3201
            production_id: 3501
            quantity: 50.0
            production_date: "2024-01-20T14:30:00Z"
            cost: 125.0
        operations:
          - id: 3801
            manufacturing_order_id: 3001
            operation_id: 401
            time: 15.0
    UpdateManufacturingOrderProductionRequest:
      description:
        Request payload for updating an existing production run within a manufacturing order, modifying production
        quantities and material usage.
      type: object
      properties:
        quantity:
          type: number
          description: Updated quantity produced in this production run
        production_date:
          type: string
          format: date-time
          description: Updated date and time when the production was completed
        ingredients:
          type: array
          description: Updated ingredients consumed during this production run
          items:
            $ref: "#/components/schemas/UpdateManufacturingOrderProductionIngredientRequest"
        operations:
          type: array
          description: Updated operations performed during this production run
          items:
            $ref: "#/components/schemas/UpdateManufacturingOrderOperationRowRequest"
      example:
        quantity: 30
        production_date: "2024-01-21T16:00:00Z"
        ingredients:
          - id: 4002
            location_id: 1
            variant_id: 3102
            manufacturing_order_id: 3001
            manufacturing_order_recipe_row_id: 3202
            production_id: 3502
            quantity: 60.0
            production_date: "2024-01-21T16:00:00Z"
            cost: 150.0
        operations:
          - id: 3802
            manufacturing_order_id: 3001
            operation_id: 402
            time: 18.0
    ManufacturingOrderProduction:
      description:
        Represents a completed production run within a manufacturing order, tracking actual quantities produced
        and resources consumed during manufacturing.
      allOf:
        - type: object
          properties:
            id:
              type: integer
            manufacturing_order_id:
              type: integer
              description: ID of the manufacturing order this production run belongs to
            quantity:
              type: number
              description: Actual quantity produced in this production run
            production_date:
              type: string
              format: date-time
              description: Date and time when the production was completed
            ingredients:
              type: array
              description: Ingredients consumed during this production run
              items:
                $ref: "#/components/schemas/ManufacturingOrderProductionIngredient"
            operations:
              type: array
              description: Operations performed during this production run
              items:
                $ref: "#/components/schemas/ManufacturingOrderOperationProduction"
            serial_numbers:
              type: array
              description: Serial numbers assigned during this production run
              items:
                $ref: "#/components/schemas/SerialNumber"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 3501
        manufacturing_order_id: 3001
        quantity: 25
        production_date: "2024-01-20T14:30:00Z"
        ingredients:
          - id: 4001
            location_id: 1
            variant_id: 3101
            manufacturing_order_id: 3001
            manufacturing_order_recipe_row_id: 3201
            production_id: 3501
            quantity: 50.0
            production_date: "2024-01-20T14:30:00Z"
            cost: 125.0
            created_at: "2024-01-20T14:30:00Z"
            updated_at: "2024-01-20T14:30:00Z"
            deleted_at: null
        operations:
          - id: 3801
            manufacturing_order_id: 3001
            operation_id: 401
            operation_name: Cut Steel Sheets
            time: 15.0
            cost: 45.0
            created_at: "2024-01-20T14:30:00Z"
            updated_at: "2024-01-20T14:30:00Z"
            deleted_at: null
        serial_numbers:
          - id: 1
            transaction_id: "PROD-3501-001"
            serial_number: PKS-001-240120
            resource_type: Production
            resource_id: 3501
            transaction_date: "2024-01-20T14:30:00Z"
            quantity_change: 1
          - id: 2
            transaction_id: "PROD-3501-002"
            serial_number: PKS-002-240120
            resource_type: Production
            resource_id: 3501
            transaction_date: "2024-01-20T14:30:00Z"
            quantity_change: 1
        created_at: "2024-01-20T14:30:00Z"
        updated_at: "2024-01-20T14:30:00Z"
        deleted_at: null
    ManufacturingOrderProductionListResponse:
      description:
        Response containing a list of production runs for manufacturing orders with pagination support for tracking
        production history.
      type: object
      properties:
        data:
          type: array
          description: Array of production runs from manufacturing orders
          items:
            $ref: "#/components/schemas/ManufacturingOrderProduction"
      example:
        data:
          - id: 3501
            manufacturing_order_id: 3001
            quantity: 25
            production_date: "2024-01-20T14:30:00Z"
            ingredients:
              - id: 4001
                location_id: 1
                variant_id: 3101
                manufacturing_order_id: 3001
                manufacturing_order_recipe_row_id: 3201
                production_id: 3501
                quantity: 50.0
                production_date: "2024-01-20T14:30:00Z"
                cost: 125.0
                created_at: "2024-01-20T14:30:00Z"
                updated_at: "2024-01-20T14:30:00Z"
                deleted_at: null
            operations:
              - id: 3801
                manufacturing_order_id: 3001
                operation_id: 401
                operation_name: Cut Steel Sheets
                time: 15.0
                cost: 45.0
                created_at: "2024-01-20T14:30:00Z"
                updated_at: "2024-01-20T14:30:00Z"
                deleted_at: null
            serial_numbers:
              - id: 1
                transaction_id: "PROD-3501-001"
                serial_number: PKS-001-240120
                resource_type: Production
                resource_id: 3501
                transaction_date: "2024-01-20T14:30:00Z"
                quantity_change: 1
              - id: 2
                transaction_id: "PROD-3501-002"
                serial_number: PKS-002-240120
                resource_type: Production
                resource_id: 3501
                transaction_date: "2024-01-20T14:30:00Z"
                quantity_change: 1
            created_at: "2024-01-20T14:30:00Z"
            updated_at: "2024-01-20T14:30:00Z"
            deleted_at: null
    ManufacturingOrderProductionIngredient:
      description: |
        Record of actual ingredient consumption during manufacturing order production, tracking quantities and costs
      allOf:
        - type: object
          properties:
            id:
              type: integer
            location_id:
              type: integer
            variant_id:
              type: integer
            manufacturing_order_id:
              type: integer
            manufacturing_order_recipe_row_id:
              type: integer
            production_id:
              type: integer
            quantity:
              type: number
            production_date:
              type: string
              format: date-time
            cost:
              type: number
        - $ref: "#/components/schemas/DeletableEntity"
    UpdateManufacturingOrderProductionIngredientRequest:
      description: Request payload for updating ingredient consumption data in a manufacturing order production batch
      type: object
      properties:
        quantity:
          type: number
          description: Updated actual quantity of ingredient consumed
        production_date:
          type: string
          format: date-time
          description: Updated date when the ingredient was consumed in production
        cost:
          type: number
          description: Updated cost of the ingredient consumed
      example:
        quantity: 3.2
        production_date: "2023-10-15T11:15:00Z"
        cost: 15.75
    ManufacturingOrderOperationRow:
      description:
        Represents an individual operation step within a manufacturing order, tracking production operations, operator
        assignments, time, and costs.
      allOf:
        - type: object
          required:
            - id
          properties:
            id:
              type: integer
            status:
              type: string
              description: Current status of the operation
              enum:
                - IN_PROGRESS
                - COMPLETED
                - PAUSED
            type:
              type: string
              description: Type classification of the operation
            rank:
              type: number
              description: Order/sequence of this operation within the manufacturing process
            manufacturing_order_id:
              type: integer
              description: ID of the manufacturing order this operation belongs to
            operation_id:
              type: integer
              description: ID of the operation template or definition
            operation_name:
              type: string
              description: Name of the operation being performed
            resource_id:
              type: integer
              description: ID of the resource (machine/workstation) used for this operation
            resource_name:
              type: string
              description: Name of the resource (machine/workstation) used
            assigned_operators:
              type: array
              description: Operators assigned to perform this operation
              items:
                $ref: "#/components/schemas/AssignedOperator"
            completed_by_operators:
              type: array
              description: Operators who have completed work on this operation
              items:
                $ref: "#/components/schemas/AssignedOperator"
            active_operator_id:
              type: number
              description: ID of the currently active operator working on this operation
            planned_time_per_unit:
              type: number
              description: Planned time per unit for this operation
            planned_time_parameter:
              type: number
              description: Parameter for calculating planned time
            total_actual_time:
              type: number
              description: Total actual time spent on this operation
            planned_cost_per_unit:
              type: number
              description: Planned cost per unit for this operation
            total_actual_cost:
              type: number
              description: Total actual cost incurred for this operation
            cost_per_hour:
              type: number
              description: Hourly cost rate for this operation
            cost_parameter:
              type: number
              description: Parameter for calculating operation costs
            group_boundary:
              type: number
              description: Group boundary setting for operation grouping
            is_status_actionable:
              type: boolean
              description: Whether the current status allows for operator actions
            completed_at:
              type:
                - string
                - "null"
              format: date-time
              description: Date and time when the operation was completed, null if not completed
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 3801
        status: IN_PROGRESS
        type: Production
        rank: 1
        manufacturing_order_id: 3001
        operation_id: 401
        operation_name: Cut Steel Sheets
        resource_id: 501
        resource_name: Laser Cutting Machine
        assigned_operators:
          - id: 101
            operator_id: 101
            name: John Smith
            working_area: Production Floor A
            resource_id: 501
        completed_by_operators: []
        active_operator_id: 101
        planned_time_per_unit: 15.0
        planned_time_parameter: 1.0
        total_actual_time: 12.5
        planned_cost_per_unit: 45.0
        total_actual_cost: 37.5
        cost_per_hour: 180.0
        cost_parameter: 1.0
        group_boundary: 0
        is_status_actionable: true
        completed_at: null
        created_at: "2024-01-15T08:00:00Z"
        updated_at: "2024-01-20T14:30:00Z"
        deleted_at: null
    CreateManufacturingOrderOperationRowRequest:
      description:
        Request payload for creating a new manufacturing order operation row to track production operation time
        and operator assignments
      type: object
      required:
        - manufacturing_order_id
        - operation_id
        - time
      properties:
        manufacturing_order_id:
          type: integer
          description: ID of the manufacturing order this operation belongs to
        operation_id:
          type: integer
          description: ID of the operation being performed
        time:
          type: number
          description: Estimated time in minutes for this operation
      example:
        manufacturing_order_id: 1001
        operation_id: 201
        time: 45.5
    UpdateManufacturingOrderOperationRowRequest:
      description: Request payload for updating a manufacturing order operation row with actual completion data
      type: object
      properties:
        completed_by_operators:
          type: array
          description: List of operators who completed this operation
          items:
            $ref: "#/components/schemas/Operator"
        total_actual_time:
          type: number
          description: Actual time taken in minutes for this operation
      example:
        completed_by_operators:
          - id: 101
            operator_name: John Smith
            created_at: "2024-01-15T08:00:00.000Z"
            updated_at: "2024-01-15T08:00:00.000Z"
            deleted_at: null
        total_actual_time: 52.3
    ManufacturingOrderOperationRowResponse:
      description: Complete manufacturing order operation details including all metadata and operational parameters
      type: object
      allOf:
        - $ref: "#/components/schemas/ManufacturingOrderOperationRow"
    ManufacturingOrderOperationProduction:
      description: Record of actual work performed on a specific operation during manufacturing order production
      allOf:
        - type: object
          properties:
            id:
              type: integer
            location_id:
              type: integer
            manufacturing_order_id:
              type: integer
            manufacturing_order_operation_id:
              type: integer
            production_id:
              type: integer
            time:
              type: number
            production_date:
              type: string
              format: date-time
            cost:
              type: number
        - $ref: "#/components/schemas/DeletableEntity"
    CreateManufacturingOrderRecipeRowRequest:
      description:
        Request payload for creating a new manufacturing order recipe row to track ingredient requirements and
        consumption
      type: object
      required:
        - manufacturing_order_id
        - variant_id
        - planned_quantity_per_unit
      properties:
        manufacturing_order_id:
          type: integer
          description: ID of the manufacturing order this ingredient belongs to
        variant_id:
          type: integer
          description: ID of the ingredient variant being consumed
        notes:
          type: string
          description: Additional notes about this ingredient usage
        planned_quantity_per_unit:
          type: number
          description: Planned quantity of ingredient per unit of finished product
        total_actual_quantity:
          type: number
          description: Total actual quantity of ingredient consumed
        ingredient_availability:
          type: string
          description: Availability status of the ingredient
        ingredient_expected_date:
          type: string
          format: date-time
          description: Expected date when ingredient will be available
        batch_transactions:
          type: array
          description: Batch tracking transactions for this ingredient
          items:
            type: object
            required:
              - batch_id
              - quantity
            properties:
              batch_id:
                type: integer
                description: ID of the ingredient batch being consumed
              quantity:
                type: number
                description: Quantity consumed from this batch
        cost:
          type: number
          description: Cost of this ingredient in the manufacturing order
      example:
        manufacturing_order_id: 1001
        variant_id: 2002
        notes: Use fresh ingredients from cold storage
        planned_quantity_per_unit: 0.25
        total_actual_quantity: 5.0
        ingredient_availability: AVAILABLE
        ingredient_expected_date: "2023-10-15T08:00:00Z"
        batch_transactions:
          - batch_id: 301
            quantity: 3.0
          - batch_id: 302
            quantity: 2.0
        cost: 12.5
    UpdateManufacturingOrderRecipeRowRequest:
      description:
        Request payload for updating a manufacturing order recipe row with actual consumption data and revised
        requirements
      type: object
      properties:
        notes:
          type: string
          description: Additional notes about this ingredient usage
        planned_quantity_per_unit:
          type: number
          description: Revised planned quantity of ingredient per unit of finished product
        total_actual_quantity:
          type: number
          description: Updated total actual quantity of ingredient consumed
        ingredient_availability:
          type: string
          description: Current availability status of the ingredient
        ingredient_expected_date:
          type: string
          format: date-time
          description: Updated expected date when ingredient will be available
        batch_transactions:
          type: array
[...]
