openapi: 3.1.0

info:
  title: Katana Public API
  version: 1.0.0
  description: |-
    Public API for Katana Manufacturing Resource Planning (MRP) platform.

    This OpenAPI specification provides comprehensive access to Katana's manufacturing,
    inventory, sales, and purchasing capabilities.

    **Key Features:**
    - Complete CRUD operations for all business objects
    - Real-time inventory management and tracking
    - Manufacturing order and BOM (Bill of Materials) management
    - Sales and purchase order processing
    - Webhook event notifications for real-time integrations
    - Rate limiting with retry headers for reliable API usage
    - Comprehensive pagination support for list endpoints

    **API Limits: **
    - Rate limit: 60 requests per 60 seconds
    - Max page size: 250 records per request
    - Default page size: 50 records per request

    **Webhook Events:**
    Subscribe to real-time notifications for 50+ event types including sales orders,
    manufacturing orders, inventory changes, and more.
  license:
    name: MIT
    url: https://opensource.org/license/mit/
servers:
  - url: https://api.katanamrp.com/v1
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    ids:
      name: ids
      in: query
      description: Filters results by an array of IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    variant_ids:
      name: variant_ids
      in: query
      description: Filters results by an array of variant IDs.
      required: false
      schema:
        type: array
        items:
          type: integer
    extend_inventory:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for inventory endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - variant
            - location
    extend_material:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for material endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - supplier
    extend_product:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for product endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - supplier
    extend_purchase_order:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for purchase order endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - supplier
    extend_sales_order_row:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for sales order row endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - variant
    extend_variant:
      name: extend
      in: query
      required: false
      description: Array of objects to extend the response for variant endpoints.
      schema:
        type: array
        items:
          type: string
          enum:
            - product_or_material
    location_id:
      name: location_id
      in: query
      description: Filters results by a location ID.
      required: false
      schema:
        type: integer
    inventory_movement_resource_type:
      name: resource_type
      in: query
      description: Filters inventory movements by the resource type that caused them.
      required: false
      schema:
        $ref: "#/components/schemas/InventoryMovementResourceTypeFilter"
    serial_number_resource_type:
      name: resource_type
      in: query
      description: Filters serial numbers by the resource type they are attached to.
      required: false
      schema:
        $ref: "#/components/schemas/SerialNumberResourceType"
    resource_id:
      name: resource_id
      in: query
      description: Filters results by a resource ID.
      required: false
      schema:
        type: integer
    caused_by_order_no:
      name: caused_by_order_no
      in: query
      description: Filters results by the causing order number.
      required: false
      schema:
        type: string
    caused_by_resource_id:
      name: caused_by_resource_id
      in: query
      description: Filters results by the causing resource ID.
      required: false
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Number of records to return per page.
      required: false
      schema:
        type: integer
        default: 50
    page:
      name: page
      in: query
      description: Page number to return.
      required: false
      schema:
        type: integer
        default: 1
    created_at_min:
      name: created_at_min
      in: query
      description: Minimum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    created_at_max:
      name: created_at_max
      in: query
      description: Maximum creation date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_min:
      name: updated_at_min
      in: query
      description: Minimum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    updated_at_max:
      name: updated_at_max
      in: query
      description: Maximum update date (ISO 8601 format).
      required: false
      schema:
        type: string
        format: date-time
    batch_id:
      name: batch_id
      in: query
      description: Filters results by a valid batch id.
      schema:
        type: integer
    batch_number:
      name: batch_number
      in: query
      description: Filters results by a valid batch number.
      schema:
        type: string
    variant_id:
      name: variant_id
      in: query
      description: Filters results by a valid variant id.
      schema:
        type: integer
    include_archived:
      name: include_archived
      in: query
      required: false
      description: Includes archived results.
      schema:
        type: boolean
    batch_barcode:
      name: batch_barcode
      in: query
      description: Filter results by batch barcode.
      schema:
        type: string
    batch_created_at_min:
      name: batch_created_at_min
      in: query
      description: Minimum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    batch_created_at_max:
      name: batch_created_at_max
      in: query
      description: Maximum value for batch_created_at range (ISO 8601).
      schema:
        type: string
    include_empty:
      name: include_empty
      in: query
      description: Include empty records in result.
      schema:
        type: boolean
    name:
      name: name
      in: query
      required: false
      description: Filters records by name.
      schema:
        type: string
    include_deleted:
      name: include_deleted
      in: query
      required: false
      description: Soft-deleted data is excluded from result set by default. Set to true to include it.
      schema:
        type: boolean
    legal_name:
      name: legal_name
      in: query
      description: Filters results by a legal name.
      required: false
      schema:
        type: string
    address_id:
      name: address_id
      in: query
      description: Filters results by an address ID.
      required: false
      schema:
        type: integer
    sales_allowed:
      name: sales_allowed
      in: query
      description: Filters results by whether sales are allowed.
      required: false
      schema:
        type: boolean
    manufacturing_allowed:
      name: manufacturing_allowed
      in: query
      description: Filters results by whether manufacturing is allowed.
      required: false
      schema:
        type: boolean
    purchases_allowed:
      name: purchases_allowed
      in: query
      description: Filters results by whether purchases are allowed.
      required: false
      schema:
        type: boolean
    rank:
      name: rank
      in: query
      description: Filters results by a rank value.
      required: false
      schema:
        type: integer
    bin_name:
      name: bin_name
      in: query
      required: false
      description: Filters storage bins by name.
      schema:
        type: string
    uom:
      name: uom
      required: false
      description: Filters records by unit of measure.
      schema:
        type: string
      in: query
    default_supplier_id:
      name: default_supplier_id
      required: false
      description: Filters records by default supplier ID.
      schema:
        type: integer
      in: query
    is_sellable:
      name: is_sellable
      required: false
      description: Filters records by whether they are sellable.
      schema:
        type: boolean
      in: query
    batch_tracked:
      name: batch_tracked
      required: false
      description: |-
        Filters records by batch-tracking status. Send the literal string
        ``"true"`` or ``"false"`` — Katana matches the wire value, not the JSON
        boolean.
      schema:
        type: string
        enum:
          - "true"
          - "false"
      in: query
    purchase_uom:
      name: purchase_uom
      required: false
      description: Filters records by purchase unit of measure.
      schema:
        type: string
      in: query
    purchase_uom_conversion_rate:
      name: purchase_uom_conversion_rate
      required: false
      description: Filters records by purchase unit of measure conversion rate.
      schema:
        type: number
      in: query
    sku:
      name: sku
      required: false
      description: Filters results by a sku
      schema:
        type: string
      in: query
    sku_list:
      name: sku
      required: false
      description: Filters results by list of skus
      schema:
        type: array
        items:
          type: string
      in: query
    category:
      name: category
      required: false
      description: Filters negative stock by a category
      schema:
        type: string
      in: query
    is_producible:
      name: is_producible
      required: false
      description: Filters products by an is_producible
      schema:
        type: boolean
      in: query
    is_purchasable:
      name: is_purchasable
      required: false
      description: Filters products by an is_purchasable
      schema:
        type: boolean
      in: query
    is_auto_assembly:
      name: is_auto_assembly
      required: false
      description: Filters products by an is_auto_assembly
      schema:
        type: boolean
      in: query
    serial_tracked:
      name: serial_tracked
      required: false
      description: |-
        Filters records by serial-tracking status. Send the literal string
        ``"true"`` or ``"false"`` — Katana matches the wire value, not the JSON
        boolean.
      schema:
        type: string
        enum:
          - "true"
          - "false"
      in: query
    operations_in_sequence:
      name: operations_in_sequence
      required: false
      description: Filters products by a operations_in_sequence
      schema:
        type: boolean
      in: query
    order_no:
      name: order_no
      required: false
      description: Filters purchase orders by an order number
      schema:
        type: string
      in: query
    entity_type:
      name: entity_type
      required: false
      description: Filters purchase orders by an entity type
      schema:
        $ref: "#/components/schemas/PurchaseOrderEntityType"
      in: query
    address_entity_type:
      name: entity_type
      required: false
      description: Filters addresses by entity type (billing or shipping).
      schema:
        $ref: "#/components/schemas/AddressEntityType"
      in: query
    po_status:
      name: status
      required: false
      description: Filters purchase orders by a status
      schema:
        enum:
          - DRAFT
          - NOT_RECEIVED
          - PARTIALLY_RECEIVED
          - RECEIVED
      in: query
    billing_status:
      name: billing_status
      required: false
      description: Filters purchase orders by a billing status
      schema:
        enum:
          - BILLED
          - NOT_BILLED
          - PARTIALLY_BILLED
      in: query
    currency:
      name: currency
      required: false
      description: Filters purchase orders by a currency
      schema:
        type: string
      in: query
    tracking_location_id:
      name: tracking_location_id
      required: false
      description: Filters purchase orders by a tracking location
      schema:
        type: number
      in: query
    supplier_id:
      name: supplier_id
      required: false
      description: Filters purchase orders by a supplier
      schema:
        type: number
      in: query
    group_id:
      name: group_id
      required: false
      description: Filters purchase order additional cost rows by group id
      schema:
        type: number
      in: query
    additional_cost_id:
      name: additional_cost_id
      required: false
      description: Filters purchase order additional cost rows by additional cost id
      schema:
        type: number
      in: query
    tax_rate_id:
      name: tax_rate_id
      required: false
      description: Filters purchase order additional cost rows by tax rate id
      schema:
        type: number
      in: query
    distribution_method:
      name: distribution_method
      required: false
      description: Filters purchase order additional cost rows by an distribution method
      schema:
        $ref: "#/components/schemas/CostDistributionMethod"
      in: query
    purchase_order_id:
      name: purchase_order_id
      required: false
      description: Filters purchase order rows by purchase order id
      schema:
        type: number
      in: query
    manufacturing_order_status:
      name: status
      required: false
      description: Filters manufacturing orders by a status.
      schema:
        $ref: "#/components/schemas/ManufacturingOrderStatus"
      in: query
    mo_operation_row_status:
      name: status
      required: false
      description: Filters manufacturing order operation rows by a status.
      schema:
        $ref: "#/components/schemas/ManufacturingOperationStatus"
      in: query
    manufacturing_order_id:
      name: manufacturing_order_id
      required: false
      description: Filters manufacturing orders by location.
      schema:
        type: number
      in: query
    received_items_group_id:
      name: received_items_group_id
      required: false
      description: Filters purchase order accounting metadata by received items group id
      schema:
        type: number
      in: query
    email:
      name: email
      required: false
      description: Filters suppliers by an email
      schema:
        type: string
      in: query
    first_name:
      name: first_name
      required: false
      description: Filters by first name
      schema:
        type: string
      in: query
    last_name:
      name: last_name
      required: false
      description: Filters by last name
      schema:
        type: string
      in: query
    company:
      name: company
      required: false
      description: Filters by company name
      schema:
        type: string
      in: query
    phone:
      name: phone
      required: false
      description: Filters suppliers by a phone number
      schema:
        type: string
      in: query
    supplier_ids:
      name: supplier_ids
      required: false
      description: Filters supplier addresses by an array of supplier IDs
      schema:
        type: array
        items:
          type: integer
      in: query
    line_1:
      name: line_1
      required: false
      description: Filters supplier addresses by a line_1
      schema:
        type: string
      in: query
    line_2:
      name: line_2
      required: false
      description: Filters supplier addresses by a line_2
      schema:
        type: string
      in: query
    city:
      name: city
      required: false
      description: Filters supplier addresses by a city
      schema:
        type: string
      in: query
    state:
      name: state
      required: false
      description: Filters supplier addresses by a state
      schema:
        type: string
      in: query
    zip:
      name: zip
      required: false
      description: Filters supplier addresses by a zip
      schema:
        type: string
      in: query
    country:
      name: country
      required: false
      description: Filters supplier addresses by a country
      schema:
        type: string
      in: query
    ingredient_availability:
      name: ingredient_availability
      required: false
      description: Filters manufacturing orders by an ingredient availability.
      schema:
        $ref: "#/components/schemas/IngredientAvailability"
      in: query
    rate:
      name: rate
      required: false
      description: Filters tax rates by rate
      schema:
        type: number
      in: query
    is_default_sales:
      name: is_default_sales
      required: false
      description: Filters tax rates by an is_default_sales
      schema:
        type: boolean
      in: query
    is_default_purchases:
      name: is_default_purchases
      required: false
      description: Filters tax rates by an is_default_purchases
      schema:
        type: boolean
      in: query
    product_id:
      name: product_id
      required: false
      description: Filters variants by a product id
      schema:
        type: integer
      in: query
    material_id:
      name: material_id
      required: false
      description: Filters variants by a material id
      schema:
        type: integer
      in: query
    sales_price:
      name: sales_price
      required: false
      description: Filters variants by a sales price
      schema:
        type: number
      in: query
    purchase_price:
      name: purchase_price
      required: false
      description: Filters variants by a purchase price
      schema:
        type: number
      in: query
    internal_barcode:
      name: internal_barcode
      required: false
      description: Filters variants by an internal barcode
      schema:
        type: string
        minLength: 3
        maxLength: 40
      in: query
    registered_barcode:
      name: registered_barcode
      required: false
      description: Filters variants by a registered barcode
      schema:
        type: string
        maxLength: 120
      in: query
    supplier_item_codes:
      name: supplier_item_codes
      required: false
      description: |
        Filters variants by supplier item codes. Returns the variants that match with any of the codes in the array.
      schema:
        type: array
        items:
          type: string
          minLength: 1
      in: query
    abc_classification:
      name: abc_classification
      required: false
      description: Filters variants by ABC inventory classification.
      schema:
        $ref: "#/components/schemas/AbcClassification"
      in: query
    url:
      name: url
      required: false
      description: Filters webhooks by an url
      schema:
        type: string
      in: query
    enabled:
      name: enabled
      required: false
      description: Filters webhooks by enabled flag
      schema:
        type: boolean
      in: query
    is_linked_to_sales_order:
      name: is_linked_to_sales_order
      required: false
      description: Filters based on whether a manufacturing order is linked to a sales order or not.
      schema:
        type: boolean
      in: query
    manufacturing_order_ids:
      name: manufacturing_order_ids
      required: false
      description: Filters manufacturing order productions by manufacturing order ids.
      schema:
        type: array
        items:
          type: integer
      in: query
    return_order_no:
      name: return_order_no
      in: query
      description: Filters sales returns by an order number
      required: false
      schema:
        type: string
    refund_status:
      name: refund_status
      in: query
      description: Filters sales returns by a refund status
      required: false
      schema:
        $ref: "#/components/schemas/SalesReturnRefundStatus"
    return_date_min:
      name: return_date_min
      in: query
      description: Minimum value for return_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    return_date_max:
      name: return_date_max
      in: query
      description: Maximum value for return_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    order_created_date_min:
      name: order_created_date_min
      in: query
      description: Minimum value for order_created_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    order_created_date_max:
      name: order_created_date_max
      in: query
      description: Maximum value for order_created_date range. Must be compatible with ISO 8601 format
      required: false
      schema:
        type: string
        format: date-time
    restock_location_id:
      name: restock_location_id
      in: query
      description: Filters sales return rows by a restock location id
      required: false
      schema:
        type: integer
    reason_id:
      name: reason_id
      in: query
      description: Filters sales return rows by a reason id
      required: false
      schema:
        type: integer
    sales_order_row_id:
      name: sales_order_row_id
      in: query
      description: Filters sales return rows by a sales order row id
      required: false
      schema:
        type: integer
    customer_ids:
      name: customer_ids
      in: query
      description: Filters customer addresses by an array of customer IDs
      required: false
      schema:
        type: array
        items:
          type: integer
    category_name:
      name: category_name
      in: query
      description: Filters services by category name
      required: false
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: integer
    bom_row_id:
      name: id
      in: path
      required: true
      description: BOM row identifier (UUID)
      schema:
        type: string
        format: uuid
    custom_field_definition_id:
      name: id
      in: path
      required: true
      description: Custom field definition identifier (UUID)
      schema:
        type: string
        format: uuid
    sales_order_id:
      name: sales_order_id
      in: query
      description: Filter by sales order ID
      schema:
        type: integer
    customer_id:
      name: customer_id
      in: query
      description: Filter by customer ID
      schema:
        type: integer
    status:
      name: status
      in: query
      description: Filter by status
      schema:
        type: string
    ingredient_variant_id:
      name: ingredient_variant_id
      in: query
      description: Filter by ingredient variant ID
      schema:
        type: integer
    product_variant_id:
      name: product_variant_id
      in: query
      description: Filter by product variant ID
      schema:
        type: integer
    operation_id:
      name: operation_id
      in: query
      description: Filter by operation ID
      schema:
        type: integer
    operation_name:
      name: operation_name
      in: query
      description: Filter by operation name
      schema:
        type: string
    resource_name:
      name: resource_name
      in: query
      description: Filter by resource name
      schema:
        type: string
    product_operation_row_id:
      name: product_operation_row_id
      in: query
      description: Filter by product operation row ID
      schema:
        type: integer
  headers:
    X-Pagination:
      description: Pagination metadata containing page information for paginated responses
      schema:
        type: object
        properties:
          total_records:
            type: string
            description: Total number of records in the result set matching the filters (as string)
            example: "150"
          total_pages:
            type: string
            description: Number of pages in the result set (as string)
            example: "6"
          offset:
            type: string
            description: The offset from 0 for the start of this page (as string)
            example: "50"
          page:
            type: string
            description: The current page number being requested (as string)
            example: "3"
          first_page:
            type: string
            description: Whether the requested page is the first one in the collection (as string)
            example: "false"
          last_page:
            type: string
            description: Whether the requested page is the last one in the collection (as string)
            example: "false"
        required:
          - total_records
          - total_pages
          - offset
          - page
          - first_page
          - last_page
        example:
          total_records: "142"
          total_pages: "8"
          offset: "50"
          page: "2"
          first_page: "false"
          last_page: "false"
    X-Ratelimit-Limit:
      description: Number of requests available for this application (default 60 per minute)
      schema:
        type: integer
        example: 60
    X-Ratelimit-Remaining:
      description: Number of requests remaining in current rate limit window
      schema:
        type: integer
        example: 45
    X-Ratelimit-Reset:
      description: The timestamp (milliseconds since epoch) when the rate limit quota will reset
      schema:
        type: integer
        format: int64
        example: 1640995199000
    Retry-After:
      description: Number of seconds to wait before making another request when rate limited
      schema:
        type: integer
        example: 15
    X-Katana-Retry-Num:
      description: Webhook retry attempt number (1, 2, or 3)
      schema:
        type: integer
        minimum: 1
        maximum: 3
        example: 1
    X-Sha2-Signature:
      description: HMAC SHA-256 signature for webhook verification
      schema:
        type: string
        example: sha256=a8f5f167f44f4964e6c998dee827110c
  responses:
    NoContent:
      description: Object deleted successfully
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
    UnauthorizedError:
      description: Make sure you've entered your API token correctly.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 401
            name: UnauthorizedError
            message: Unauthorized
    NotFoundError:
      description: Not found.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 404
            name: NotFoundError
            message: Not found
    UnprocessableEntityError:
      description: Validation failed.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DetailedErrorResponse"
          example:
            statusCode: 422
            name: UnprocessableEntityError
            message: The request body is invalid. See error object `details` property for more info.
            code: VALIDATION_FAILED
            details:
              - path: .city
                code: maxLength
                message: should NOT be longer than 10 characters
                info:
                  limit: 10
    TooManyRequests:
      description: |-
        Rate limit exceeded - too many requests sent within the rate limit window (60 requests per 60 seconds)
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 429
            name: TooManyRequests
            message: Too Many Requests
    InternalServerError:
      description: Internal Server Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 500
            name: InternalServerError
            message: Internal Server Error
    BadRequestError:
      description: Bad Request Error.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            statusCode: 400
            name: BadRequest
            message: Bad Request
    PreconditionFailedError:
      description: |-
        Precondition failed - the resource cannot be modified or deleted in its
        current state. Typically returned when a delete is blocked by linked
        child records (e.g. a sales order with attached return orders, or a
        purchase order with received stock).

        Note: 412 responses observed on these endpoints arrive wrapped in
        Katana's nested ``{"error": {...}}`` envelope (see example). The
        ``ErrorResponse`` schema describes the inner object; the wire payload
        nests it under an ``error`` key. The client's ``unwrap()`` helper
        handles both shapes transparently. Callers inspecting the raw
        payload directly (via ``sync_detailed()`` / ``asyncio_detailed()``
        and ``Response.content``) should expect the wrapped form.
      headers:
        X-Ratelimit-Limit:
          $ref: "#/components/headers/X-Ratelimit-Limit"
        X-Ratelimit-Remaining:
          $ref: "#/components/headers/X-Ratelimit-Remaining"
        X-Ratelimit-Reset:
          $ref: "#/components/headers/X-Ratelimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error:
              statusCode: 412
              name: PreconditionFailedError
              message: Cannot delete sales orders as sales orders have return orders.
  schemas:
    ErrorResponse:
      type: object
      description: Base error message schema
      properties:
        statusCode:
          type: integer
          description: HTTP status code
        name:
          type: string
          description: Error name/type
        message:
          type: string
          description: Human-readable error message
    CodedErrorResponse:
      description: Error response with an additional application-specific error code for detailed error handling
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            code:
              type:
                - string
                - "null"
              description: Application-specific error code
    DetailedErrorResponse:
      description: Enhanced error response containing detailed validation error information for complex request failures
      allOf:
        - $ref: "#/components/schemas/CodedErrorResponse"
        - type: object
          properties:
            details:
              type: array
              description: Detailed validation error information
              items:
                $ref: "#/components/schemas/ValidationErrorDetail"
    ValidationErrorDetail:
      description: |
        Ajv-style validation error detail. Katana's API uses Ajv (the de facto
        Node.js JSON Schema validator) under the hood; every detail item maps
        to an Ajv ``ErrorObject``: ``path`` ↔ ``instancePath``, ``code`` ↔
        ``keyword``, ``info`` ↔ ``params``. The shape of ``info`` is keyword-
        specific — see each typed subtype.

        **No discriminator on purpose.** Each typed variant locks its ``code``
        to a specific Ajv keyword via ``Literal[<keyword>]``; deserializers
        try each variant and the first match wins. ``GenericValidationError``
        accepts any unknown ``code`` value, so future Ajv keywords (or
        custom user-defined ones) fall through gracefully instead of raising.
        A discriminator-based union here would lock the schema to today's
        keyword set and break on any new code Katana ships.
      oneOf:
        - $ref: "#/components/schemas/AdditionalPropertiesValidationError"
        - $ref: "#/components/schemas/ConstValidationError"
        - $ref: "#/components/schemas/DependenciesValidationError"
        - $ref: "#/components/schemas/EnumValidationError"
        - $ref: "#/components/schemas/ExclusiveMaximumValidationError"
        - $ref: "#/components/schemas/ExclusiveMinimumValidationError"
        - $ref: "#/components/schemas/FormatValidationError"
        - $ref: "#/components/schemas/MaxItemsValidationError"
        - $ref: "#/components/schemas/MaxLengthValidationError"
        - $ref: "#/components/schemas/MaximumValidationError"
        - $ref: "#/components/schemas/MinItemsValidationError"
        - $ref: "#/components/schemas/MinLengthValidationError"
        - $ref: "#/components/schemas/MinimumValidationError"
        - $ref: "#/components/schemas/MultipleOfValidationError"
        - $ref: "#/components/schemas/OneOfValidationError"
        - $ref: "#/components/schemas/PatternValidationError"
        - $ref: "#/components/schemas/RequiredValidationError"
        - $ref: "#/components/schemas/TypeValidationError"
        - $ref: "#/components/schemas/UniqueItemsValidationError"
        - $ref: "#/components/schemas/GenericValidationError"

    BaseValidationError:
      type: object
      description: |
        Common fields shared by every validation error detail. Maps to the
        non-keyword-specific portion of an Ajv ``ErrorObject``.
      properties:
        path:
          type: string
          description: |
            JSON path to the field with the error (Ajv's ``instancePath``).
            Format depends on Ajv config: leading ``/`` for JSON Pointer style
            or leading ``.`` / dotted style for legacy ``dataPath``.
        code:
          type: string
          description: Ajv keyword that failed (e.g. ``maxLength``, ``required``, ``type``)
        message:
          type: string
          description: Human-readable validation error message
      required:
        - path
        - code
        - message

    AdditionalPropertiesValidationError:
      description: |
        Ajv ``additionalProperties`` keyword: an object includes a property
        not permitted by the schema. ``info.additionalProperty`` names the
        offending key.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["additionalProperties"]
            info:
              type: object
              description: Keyword-specific metadata for ``additionalProperties``
              properties:
                additionalProperty:
                  type: string
                  description: The disallowed property name
              required:
                - additionalProperty
          required:
            - info

    ConstValidationError:
      description: |
        Ajv ``const`` keyword: the value must equal the schema's constant.
        ``info.allowedValue`` is the required value (any JSON type).
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["const"]
            info:
              type: object
              description: Keyword-specific metadata for ``const``
              properties:
                allowedValue:
                  description: The required constant value (any JSON type)
              required:
                - allowedValue
          required:
            - info

    DependenciesValidationError:
      description: |
        Ajv ``dependencies`` / ``dependentRequired`` keyword: presence of one
        property requires others. ``info`` carries the offending property,
        the missing dependent, and the full dependency list.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["dependencies"]
            info:
              type: object
              description: Keyword-specific metadata for ``dependencies``
              properties:
                property:
                  type: string
                  description: The property whose presence triggered the dependency check
                missingProperty:
                  type: string
                  description: The dependent property that is missing
                deps:
                  type: string
                  description: Comma-separated list of all required dependents
                depsCount:
                  type: integer
                  description: Total count of required dependents
              required:
                - property
                - missingProperty
          required:
            - info

    EnumValidationError:
      description: |
        Ajv ``enum`` keyword: the value is not in the allowed set.
        ``info.allowedValues`` is the schema's enum list.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["enum"]
            info:
              type: object
              description: Keyword-specific metadata for ``enum``
              properties:
                allowedValues:
                  type: array
                  items: {}
                  description: The schema's enum list (items can be any JSON type)
              required:
                - allowedValues
          required:
            - info

    ExclusiveMaximumValidationError:
      description: |
        Ajv ``exclusiveMaximum`` keyword: the value must be strictly less than
        ``info.limit``.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["exclusiveMaximum"]
            info:
              type: object
              description: Keyword-specific metadata for ``exclusiveMaximum``
              properties:
                limit:
                  type: number
                  description: Exclusive upper bound
                comparison:
                  type: string
                  enum: ["<"]
                  description: Ajv's comparison operator marker (always ``<``)
              required:
                - limit
          required:
            - info

    ExclusiveMinimumValidationError:
      description: |
        Ajv ``exclusiveMinimum`` keyword: the value must be strictly greater
        than ``info.limit``.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["exclusiveMinimum"]
            info:
              type: object
              description: Keyword-specific metadata for ``exclusiveMinimum``
              properties:
                limit:
                  type: number
                  description: Exclusive lower bound
                comparison:
                  type: string
                  enum: [">"]
                  description: Ajv's comparison operator marker (always ``>``)
              required:
                - limit
          required:
            - info

    FormatValidationError:
      description: |
        Ajv ``format`` keyword (e.g. ``email``, ``date-time``, ``uri``). The
        expected format name lives in ``info.format``.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["format"]
            info:
              type: object
              description: Keyword-specific metadata for ``format``
              properties:
                format:
                  type: string
                  description: Expected format name (``email``, ``date-time``, ``uri``, etc.)
              required:
                - format
          required:
            - info

    MaxItemsValidationError:
      description: |
        Ajv ``maxItems`` keyword: the array exceeds its maximum length.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["maxItems"]
            info:
              type: object
              description: Keyword-specific metadata for ``maxItems``
              properties:
                limit:
                  type: integer
                  description: Maximum allowed array length
              required:
                - limit
          required:
            - info

    MaxLengthValidationError:
      description: |
        Ajv ``maxLength`` keyword: the string exceeds its maximum length.
        The limit lives in ``info.limit`` (not as a sibling of ``code``).
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["maxLength"]
            info:
              type: object
              description: Keyword-specific metadata for ``maxLength``
              properties:
                limit:
                  type: integer
                  description: Maximum allowed string length
              required:
                - limit
          required:
            - info

    MaximumValidationError:
      description: |
        Ajv ``maximum`` keyword: the value exceeds its inclusive upper bound.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["maximum"]
            info:
              type: object
              description: Keyword-specific metadata for ``maximum``
              properties:
                limit:
                  type: number
                  description: Inclusive upper bound
                comparison:
                  type: string
                  enum: ["<="]
                  description: Ajv's comparison operator marker (always ``<=``)
              required:
                - limit
          required:
            - info

    MinItemsValidationError:
      description: |
        Ajv ``minItems`` keyword: the array is shorter than the schema's
        minimum length.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["minItems"]
            info:
              type: object
              description: Keyword-specific metadata for ``minItems``
              properties:
                limit:
                  type: integer
                  description: Minimum required array length
              required:
                - limit
          required:
            - info

    MinLengthValidationError:
      description: |
        Ajv ``minLength`` keyword: the string is shorter than the schema's
        minimum length. Parallel to ``MaxLengthValidationError`` — the limit
        lives in ``info.limit``.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["minLength"]
            info:
              type: object
              description: Keyword-specific metadata for ``minLength``
              properties:
                limit:
                  type: integer
                  description: Minimum required string length
              required:
                - limit
          required:
            - info

    MinimumValidationError:
      description: |
        Ajv ``minimum`` keyword: the value is below its inclusive lower bound.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["minimum"]
            info:
              type: object
              description: Keyword-specific metadata for ``minimum``
              properties:
                limit:
                  type: number
                  description: Inclusive lower bound
                comparison:
                  type: string
                  enum: [">="]
                  description: Ajv's comparison operator marker (always ``>=``)
              required:
                - limit
          required:
            - info

    MultipleOfValidationError:
      description: |
        Ajv ``multipleOf`` keyword: the value is not a multiple of
        ``info.multipleOf``.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["multipleOf"]
            info:
              type: object
              description: Keyword-specific metadata for ``multipleOf``
              properties:
                multipleOf:
                  type: number
                  description: Required divisor
              required:
                - multipleOf
          required:
            - info

    OneOfValidationError:
      description: |
        Ajv ``oneOf`` keyword: the value matched zero or multiple branches of
        the schema's ``oneOf``. ``info.passingSchemas`` is the array of
        matched branch indices when more than one matched, or ``null`` when
        none matched.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["oneOf"]
            info:
              type: object
              description: Keyword-specific metadata for ``oneOf``
              properties:
                passingSchemas:
                  type: ["array", "null"]
                  items:
                    type: integer
                  description: Indices of branches that matched (``null`` when none matched)
              required:
                - passingSchemas
          required:
            - info

    PatternValidationError:
      description: |
        Ajv ``pattern`` keyword: the string does not match the schema's
        regex. The pattern lives in ``info.pattern``.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["pattern"]
            info:
              type: object
              description: Keyword-specific metadata for ``pattern``
              properties:
                pattern:
                  type: string
                  description: Regular expression that must be matched
              required:
                - pattern
          required:
            - info

    RequiredValidationError:
      description: |
        Ajv ``required`` keyword: an object is missing a required property.
        ``info.missingProperty`` names the missing field.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["required"]
            info:
              type: object
              description: Keyword-specific metadata for ``required``
              properties:
                missingProperty:
                  type: string
                  description: Name of the required property that is missing
              required:
                - missingProperty
          required:
            - info

    TypeValidationError:
      description: |
        Ajv ``type`` keyword: the value's type does not match the schema's
        ``type``. ``info.type`` names the expected type.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["type"]
            info:
              type: object
              description: Keyword-specific metadata for ``type``
              properties:
                type:
                  type: string
                  description: Expected type (``string``, ``number``, ``integer``, ``boolean``, ``array``, ``object``, ``null``)
              required:
                - type
          required:
            - info

    UniqueItemsValidationError:
      description: |
        Ajv ``uniqueItems`` keyword: the array contains duplicate items.
        ``info.i`` and ``info.j`` are the indices of the duplicate pair.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              enum: ["uniqueItems"]
            info:
              type: object
              description: Keyword-specific metadata for ``uniqueItems``
              properties:
                i:
                  type: integer
                  description: Index of the first duplicate
                j:
                  type: integer
                  description: Index of the second duplicate
              required:
                - i
                - j
          required:
            - info

    GenericValidationError:
      description: |
        Permissive fallback for any Ajv keyword we haven't yet typed. The
        ``code`` field is unconstrained (just ``string``), so any wire value
        validates here when none of the typed variants match.
        ``BaseValidationError`` fields (``path``, ``code``, ``message``) are
        guaranteed; any keyword-specific ``info`` lives in
        ``additional_properties``.

        Listed last in ``ValidationErrorDetail.oneOf`` so deserializers try
        the typed variants first and only land here for unknown keywords.
      allOf:
        - $ref: "#/components/schemas/BaseValidationError"
        - type: object
          properties:
            code:
              type: string
              description: Ajv keyword that failed (any value not covered by typed subtypes)

    OutsourcedPurchaseOrderIngredientAvailability:
      type: string
      enum:
        - "PROCESSED"
        - "IN_STOCK"
        - "NOT_AVAILABLE"
        - "EXPECTED"
        - "NO_RECIPE"
        - "NOT_APPLICABLE"
      description: Status of ingredients required for outsourced purchase order production

    VariantType:
      type: string
      enum:
        - product
        - material
        - service
      description: Type classification of a variant

    AbcClassification:
      type: string
      enum:
        - A
        - B
        - C
      description: |-
        ABC inventory classification of the variant. Categorizes items by relative
        value and consumption importance.

    AddressEntityType:
      type: string
      enum:
        - billing
        - shipping
      description: Address type - billing for invoicing, shipping for delivery

    ManufacturingOrderStatus:
      type: string
      enum:
        - NOT_STARTED
        - BLOCKED
        - IN_PROGRESS
        - PARTIALLY_COMPLETED
        - DONE
      description: Production status of a manufacturing order

    CostDistributionMethod:
      type: string
      enum:
        - BY_VALUE
        - NON_DISTRIBUTED
      description: Method for distributing additional costs across purchase order items

    PurchaseOrderEntityType:
      type: string
      enum:
        - regular
        - outsourced
      description: Type of purchase order - regular for materials or outsourced for subcontracted work

    StocktakeStatus:
      type: string
      enum:
        - NOT_STARTED
        - IN_PROGRESS
        - COUNTED
        - COMPLETED
      description: Current status of a stocktake process

    SalesReturnStatus:
      type: string
      enum:
        - NOT_RETURNED
        - RETURNED_ALL
        - RESTOCKED_ALL
      description: Processing status of a sales return

    SalesReturnRefundStatus:
      type: string
      enum:
        - NOT_REFUNDED
        - REFUNDED
        - PARTIALLY_REFUNDED
      description: Refund status of a sales return

    OperatorWorkingArea:
      type: string
      enum:
        - shopFloor
        - warehouse
      description: Operator's primary working area in the shop

    ProductAvailability:
      type: string
      enum:
        - IN_STOCK
        - EXPECTED
        - PICKED
        - NOT_AVAILABLE
        - NOT_APPLICABLE
      description: Availability status of a product for order fulfillment

    IngredientAvailability:
      type: string
      enum:
        - PROCESSED
        - IN_STOCK
        - NOT_AVAILABLE
        - EXPECTED
        - NO_RECIPE
        - NOT_APPLICABLE
      description: Availability status of ingredients for production

    InventoryItemType:
      type: string
      enum:
        - product
        - material
      description: Item type discriminator for products and materials

    MaterialType:
      type: string
      enum:
        - material
      description: Item type discriminator for materials

    ProductType:
      type: string
      enum:
        - product
      description: Item type discriminator for products

    ServiceType:
      type: string
      enum:
        - service
      description: Item type discriminator for services

    ProductOperationType:
      type: string
      enum:
        - process
        - setup
        - perUnit
        - fixed
      description: Cost calculation method for product operations

    ManufacturingOperationStatus:
      type: string
      enum:
        - NOT_STARTED
        - BLOCKED
        - IN_PROGRESS
        - PAUSED
        - COMPLETED
      description: Status of a manufacturing order operation row
    ManufacturingOperationType:
      type: string
      enum:
        - process
        - setup
        - perUnit
        - fixed
      description: Type of operation defining how time and cost are calculated
    PurchaseOrderStatus:
      type: string
      enum:
        - DRAFT
        - NOT_RECEIVED
        - PARTIALLY_RECEIVED
        - RECEIVED
      description: Fulfillment status of a purchase order

    CreatePurchaseOrderInitialStatus:
      type: string
      enum:
        - DRAFT
        - NOT_RECEIVED
      description: Initial status when creating a purchase order

    PurchaseOrderBillingStatus:
      type: string
      enum:
        - BILLED
        - NOT_BILLED
        - PARTIALLY_BILLED
      description: Billing status through accounting integration

    DocumentSendStatus:
      type: string
      enum:
        - NOT_SENT
        - SENDING
        - FAILED
        - SENT
      description: Status of the last document e-mail sent

    SalesOrderStatus:
      type: string
      enum:
        - NOT_SHIPPED
        - PENDING
        - PARTIALLY_PACKED
        - PARTIALLY_DELIVERED
        - PACKED
        - DELIVERED
      description: |
        Fulfillment status of a sales order. ``PENDING`` is the initial
        status assigned to newly-created sales orders before they
        progress to ``NOT_SHIPPED``. The ``PARTIALLY_*`` states are
        server-computed; clients should not attempt to set them.

    SalesOrderProductionStatus:
      type: string
      enum:
        - NOT_STARTED
        - NONE
        - NOT_APPLICABLE
        - IN_PROGRESS
        - BLOCKED
        - DONE
      description: Production status of a sales order

    CreateSalesOrderStatus:
      type: string
      enum:
        - NOT_SHIPPED
        - PENDING
      description: Initial status when creating a sales order

    SalesOrderFulfillmentStatus:
      type: string
      enum:
        - PACKED
        - DELIVERED
      description: Status of a sales order fulfillment

    SalesOrderFulfillmentInvoiceStatus:
      type: string
      enum:
        - NOT_INVOICED
        - INVOICED
        - PARTIALLY_INVOICED
      description: Invoice status of a sales order fulfillment

    SalesOrderInvoicingStatus:
      type: string
      enum:
        - notInvoiced
        - partiallyInvoiced
        - invoiced
      description: |
        Sales-order-level invoicing status, rolled up across the order's
        fulfillments. The wire format differs from
        ``SalesOrderFulfillmentInvoiceStatus``: the order-level field uses
        camelCase (``invoiced``) while the fulfillment-level field uses
        SCREAMING_SNAKE_CASE (``INVOICED``).

    UpdateSalesOrderStatus:
      type: string
      enum:
        - NOT_SHIPPED
        - PENDING
        - PACKED
        - DELIVERED
      description: Allowed status values when updating a sales order

    StockTransferStatus:
      type: string
      enum:
        - draft
        - received
        - inTransit
      description: |
        Status of a stock transfer. Note the camelCase ``inTransit``.

    InventoryMovementResourceType:
      type: string
      enum:
        - Production
        - PurchaseOrderRow
        - PurchaseOrderRecipeRow
        - SalesOrderRow
        - ManufacturingOrderRecipeRow
        - StockAdjustmentRow
        - StockTransferRow
        - ManufacturingOrder
        - SystemGenerated
        - ProductionIngredient
      description: Type of resource that caused an inventory movement

    InventoryMovementResourceTypeFilter:
      type: string
      enum:
        - Production
        - ProductionIngredient
        - PurchaseOrderRecipeRow
        - PurchaseOrderRow
        - SalesOrderRow
        - StockAdjustmentRow
        - StockTransferRow
        - SystemGenerated
      description: >-
        Resource types accepted by the `GET /inventory_movements` `resource_type`
        filter. A subset of InventoryMovementResourceType (the response enum):
        the gateway does not allow filtering by ManufacturingOrder or
        ManufacturingOrderRecipeRow even though movements can reference them.

    SerialNumberResourceType:
      type: string
      enum:
        - ManufacturingOrder
        - Production
        - StockAdjustmentRow
        - StockTransferRow
        - PurchaseOrderRow
        - SalesOrderRow
        - SalesOrderFulfillmentRow
      description: Type of resource associated with a serial number

    CreateSerialNumberResourceType:
      type: string
      enum:
        - ManufacturingOrder
        - StockAdjustmentRow
        - StockTransferRow
        - PurchaseOrderRow
        - SalesOrderRow
      description: |
        Allowed resource types when creating serial numbers via
        ``POST /serial_numbers``. Note: ``Production`` is valid when
        *retrieving* serial numbers (see ``SerialNumberResourceType``) but
        is not accepted as input here — the API rejects it with 422.

        **Write semantics differ by resource type:**

        - **Mint** (create new serial-number strings) — ``ManufacturingOrder``
          and ``PurchaseOrderRow``. The supplied string doesn't need to
          pre-exist anywhere.
        - **Transfer** (move an existing serial number to this resource) —
          ``SalesOrderRow``, ``StockTransferRow``, and ``StockAdjustmentRow``.
          The supplied string MUST already exist (typically attached to a
          ManufacturingOrder output). If it doesn't, the response surfaces
          it in ``failed`` with ``reason: MISSING`` — the call still returns
          200, not 422.

    CreateSerialNumberFailureReason:
      type: string
      enum:
        - DUPLICATE
        - MISSING
      description: |
        Per-string failure reason when ``POST /serial_numbers`` partial-fails.

        - ``DUPLICATE`` — string is already attached to the target resource
          (mint path) and the API refuses to re-attach it.
        - ``MISSING`` — string doesn't exist anywhere in the tenant, so a
          transfer to ``SalesOrderRow`` / ``StockTransferRow`` /
          ``StockAdjustmentRow`` can't move it.

        Other reasons may exist but have not been observed via the
        live-API probe. Consumers should treat unknown values as
        forward-compatible failures rather than 422s.

    CustomFieldCollectionResourceType:
      type: string
      enum:
        - product
        - material
        - variant
        - customer
        - sales_order
        - purchase_order
        - stocktake
      description: Type of business object a custom fields collection applies to

    PriceListAdjustmentMethod:
      type: string
      enum:
        - fixed
        - percentage
        - markup
      description: Method used for price list adjustments

    AccountingIntegrationType:
      type: string
      enum:
        - xero
        - quickBooks
        - sage
        - custom
      description: Type of accounting system integration

    OutsourcedRecipeIngredientAvailability:
      type: string
      enum:
        - PROCESSED
        - IN_STOCK
        - NOT_AVAILABLE
        - EXPECTED
        - NO_RECIPE
        - NOT_APPLICABLE
      description: Ingredient availability for outsourced purchase order recipe rows

    BaseEntity:
      type: object
      description: Base entity with unique identifier
      properties:
        id:
          type: integer
          description: Unique identifier
      required:
        - id
      example:
        id: 12345
    UpdatableEntity:
      description: Common fields for entities that can be updated
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
    ArchivableEntity:
      description: Common fields for entities that can be archived
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
            archived_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable archive timestamp
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        archived_at: null
    DeletableEntity:
      description: Common fields for entities that can be deleted
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
            deleted_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable deletion timestamp
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    ArchivableDeletableEntity:
      description: Common fields for entities that can be both archived and deleted
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              description: Timestamp when the entity was first created
            updated_at:
              type: string
              format: date-time
              description: Timestamp when the entity was last updated
            archived_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable archive timestamp
            deleted_at:
              type:
                - string
                - "null"
              format: date-time
              description: Nullable deletion timestamp
      example:
        id: 12345
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        archived_at: null
        deleted_at: null
    MaterialConfig:
      description: Configuration option for a material that defines variant attributes
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            name:
              type: string
              description: Configuration attribute name (e.g., Grade, Thickness, Color)
            values:
              type: array
              description: Array of possible values for this configuration attribute
              items:
                type: string
            material_id:
              type: integer
              description: ID of the material this configuration belongs to
          required:
            - name
            - values
            - material_id
      example:
        id: 101
        name: Grade
        values:
          - "Premium"
          - "Standard"
          - "Economy"
        material_id: 1
    ItemConfig:
      description: Configuration option for products and materials that defines variant attributes
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          properties:
            name:
              type: string
              description: Configuration attribute name (e.g., Size, Color, Style, Grade)
            values:
              type: array
              description: Array of possible values for this configuration attribute
              items:
                type: string
            product_id:
              type:
                - integer
                - "null"
              description: ID of the product this configuration belongs to (null for materials)
            material_id:
              type:
                - integer
                - "null"
              description: ID of the material this configuration belongs to (null for products)
          required:
            - name
            - values
      example:
        id: 201
        name: Type
        values:
          - "Standard"
          - "Double-bladed"
        product_id: 1
        material_id: null
    AdditionalCost:
      description: |
        Additional cost types that can be applied to purchase orders and manufacturing orders (e.g., shipping, taxes,
        duties)
      allOf:
        - type: object
          properties:
            name:
              type: string
          required:
            - name
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 1
        name: Shipping Cost
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    AdditionalCostListResponse:
      description: Response containing a list of additional cost types for purchase orders and manufacturing orders
      type: object
      properties:
        data:
          type: array
          description: Array of additional cost types that can be applied to orders
          items:
            $ref: "#/components/schemas/AdditionalCost"
      example:
        data:
          - id: 1
            name: Shipping Cost
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
          - id: 2
            name: Import Duty
            created_at: "2020-10-23T10:37:05.085Z"
            updated_at: "2020-10-23T10:37:05.085Z"
            deleted_at: null
    Batch:
      type: object
      description: Core batch business properties
      required:
        - batch_number
        - variant_id
      properties:
        batch_number:
          type: string
          description: Unique batch number identifier
        expiration_date:
          type: string
          format: date-time
          description: Batch expiration date (ISO 8601)
        batch_created_date:
          type: string
          format: date-time
          description: Batch creation date (ISO 8601)
        variant_id:
          type: integer
          maximum: 2147483647
          description: ID of the variant this batch belongs to
        batch_barcode:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 40
          description: Optional barcode for the batch
      example:
        batch_number: BAT-2024-001
        expiration_date: "2025-10-23T10:37:05.085Z"
        batch_created_date: "2024-01-15T08:00:00.000Z"
        variant_id: 1001
        batch_barcode: "0317"
    BatchStock:
      description: Batch inventory record showing current stock levels for a specific batch at a specific location
      allOf:
        - $ref: "#/components/schemas/Batch"
        - type: object
          properties:
            batch_id:
              type: integer
            location_id:
              type: integer
              description: ID of the location where the batch is stored
            quantity_in_stock:
              type: string
              description: Current quantity in stock for this batch
      example:
        batch_id: 1109
        batch_number: BAT-2024-001
        batch_created_date: "2024-01-15T08:00:00.000Z"
        expiration_date: "2025-10-23T10:37:05.085Z"
        location_id: 1
        variant_id: 1001
        quantity_in_stock: "25.00000"
        batch_barcode: "0317"
    BatchStockListResponse:
      type: object
      description: List of batch stock records showing current inventory levels for tracked batches across all locations
      properties:
        data:
          type: array
          description: Array of batch stock records with current quantities
          items:
            $ref: "#/components/schemas/BatchStock"
      example:
        data:
          - batch_id: 1109
            batch_number: BAT-2024-001
            batch_created_date: "2024-01-15T08:00:00.000Z"
            expiration_date: "2025-10-23T10:37:05.085Z"
            location_id: 1
            variant_id: 1001
            quantity_in_stock: "25.00000"
            batch_barcode: "0317"
          - batch_id: 1110
            batch_number: BAT-2024-002
            batch_created_date: "2024-01-16T09:30:00.000Z"
            expiration_date: "2025-11-15T10:37:05.085Z"
            location_id: 1
            variant_id: 1002
            quantity_in_stock: "50.00000"
            batch_barcode: "0318"
    BatchStockUpdate:
      type: object
      description: Request payload for updating batch properties and tracking information
      additionalProperties: false
      properties:
        batch_number:
          type: string
          description: Updated batch number
        expiration_date:
          type: string
          format: date-time
          description: Updated expiration date (ISO 8601)
        batch_created_date:
          type: string
          format: date-time
          description: Updated batch creation date (ISO 8601)
        batch_barcode:
          type:
            - string
            - "null"
          minLength: 3
          maxLength: 40
          description: Updated barcode for the batch
      example:
        batch_number: BAT-2024-001-UPDATED
        expiration_date: "2025-12-31T23:59:59.000Z"
        batch_barcode: 0317-V2
    BatchResponse:
      description: Complete batch record with system metadata for inventory tracking and traceability
      allOf:
        - $ref: "#/components/schemas/Batch"
        - $ref: "#/components/schemas/UpdatableEntity"
      example:
        id: 1109
        batch_number: BAT-2024-001
        expiration_date: "2025-10-23T10:37:05.085Z"
        batch_created_date: "2024-01-15T08:00:00.000Z"
        created_at: "2024-01-15T08:00:00.000Z"
        updated_at: "2024-01-15T08:00:00.000Z"
        variant_id: 1001
        batch_barcode: "0317"
    BatchTransaction:
      type: object
      description: |
        Represents a quantity transaction for a specific batch in manufacturing, sales, or inventory operations
      additionalProperties: false
      required:
        - batch_id
        - quantity
      properties:
        batch_id:
          type: integer
          description: ID of the batch for the transaction
        quantity:
          type: number
          description: The quantity in this batch transaction
      example:
        batch_id: 1109
        quantity: 25.0
    StorageBin:
      type: object
      description: Core storage bin business properties
      required:
        - bin_name
        - location_id
      properties:
        name:
          type: string
          description: Name of the storage bin (returned by list endpoint)
        bin_name:
          type: string
          description: Name of the storage bin (used in create/update requests and individual responses)
        location_id:
          type: integer
          description: Unique identifier of the location where storage bin is located
      example:
        bin_name: Bin-2
        location_id: 12346
    StorageBinResponse:
      description: Complete storage bin record with location details and system metadata for warehouse organization
      allOf:
        - $ref: "#/components/schemas/StorageBin"
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 12345
        name: Bin-2
        bin_name: Bin-2
        location_id: 12346
        created_at: "2020-10-23T10:37:05.085Z"
        updated_at: "2020-10-23T10:37:05.085Z"
        deleted_at: null
    StorageBinUpdate:
      type: object
      description: Storage bin fields for update operations
      additionalProperties: false
      required:
        - bin_name
      properties:
        bin_name:
          type: string
          description: Name of the storage bin
      example:
        bin_name: A-01-SHELF-2
    StorageBinCreate:
      type: object
      description: Storage bin fields for create operations
      additionalProperties: false
      required:
        - bin_name
        - location_id
      properties:
        bin_name:
          type: string
          minLength: 1
          description: Name of the storage bin
        location_id:
          type: integer
          minimum: 1
          description: ID of the location the storage bin belongs to
      example:
        bin_name: A-01-SHELF-2
        location_id: 12346
    BinTransferStatus:
      type: string
      enum:
        - CREATED
        - IN_TRANSIT
        - DONE
      description: |-
        Lifecycle status of a bin transfer. New transfers start in `CREATED`; status
        changes are applied through the dedicated status endpoint.
    BinInventoryGranularity:
      type: string
      enum:
        - VARIANT
        - BATCH
        - SERIAL_NUMBER
      default: VARIANT
      description: |-
        Row granularity for a bin inventory query. `VARIANT` returns one row per
        (location, variant, bin); `BATCH` and `SERIAL_NUMBER` break rows down further
        by the matching traceability axis.
    BinTransferTraceability:
      type: object
      description: |-
        Traceability allocation on a bin transfer row, pinning the moved quantity to a
        specific batch and/or serial number. A null axis means that axis is unset.
      properties:
        batch_id:
          type:
            - integer
            - "null"
          description: ID of the batch this quantity is drawn from, or null when unbatched.
        serial_number_id:
          type:
            - integer
            - "null"
          description: ID of the serial number this quantity is drawn from, or null when untraced.
        quantity:
          type: string
          description: Quantity allocated to this traceability axis, as a decimal string.
    BinTransferRow:
      description: |-
        Line item in a bin transfer — the variant, quantity, and source/target bins the
        stock moves between, with optional batch/serial traceability.
      allOf:
        - type: object
          properties:
            id:
              type: integer
              description: Unique identifier for the bin transfer row.
            bin_transfer_id:
              type: integer
              description: ID of the parent bin transfer.
            location_id:
              type: integer
              description: ID of the location the transfer occurs within.
            variant_id:
              type: integer
              description: ID of the product or material variant being moved.
            quantity:
              type: string
              description: Quantity being moved, as a decimal string.
            source_bin_location_id:
              type:
                - integer
                - "null"
              description: ID of the bin the stock moves from, or null when unassigned.
            target_bin_location_id:
              type:
                - integer
                - "null"
              description: ID of the bin the stock moves to, or null when unassigned.
            traceability:
              type: array
              description: Batch/serial allocations for the moved quantity.
              items:
                $ref: "#/components/schemas/BinTransferTraceability"
            created_date:
              type:
                - string
                - "null"
              format: date-time
              description: Date the parent transfer was created (mirrored onto the row).
            departed_at:
              type:
                - string
                - "null"
              format: date-time
              description: Timestamp the stock departed the source bin.
            arrived_at:
              type:
                - string
                - "null"
              format: date-time
              description: Timestamp the stock arrived at the target bin.
          required:
            - id
            - bin_transfer_id
            - variant_id
            - quantity
        - $ref: "#/components/schemas/DeletableEntity"
    BinTransfer:
      description: |-
        A movement of stock between bins within a single location, optionally carrying
        per-row batch/serial traceability.
      allOf:
        - type: object
          properties:
            id:
              type: integer
              description: Unique identifier for the bin transfer.
            bin_transfer_number:
              type: string
              description: Human-readable reference number for the transfer.
            location_id:
              type: integer
              description: ID of the location the transfer occurs within.
            status:
              description: Current lifecycle status of the transfer.
              $ref: "#/components/schemas/BinTransferStatus"
            created_date:
              type:
                - string
                - "null"
              format: date-time
              description: Date the transfer was created.
            departed_at:
              type:
                - string
                - "null"
              format: date-time
              description: Timestamp the transfer left the source bins.
            arrived_at:
              type:
                - string
                - "null"
              format: date-time
              description: Timestamp the transfer reached the target bins.
            additional_info:
              type:
                - string
                - "null"
              description: Optional free-text note about the transfer.
            bin_transfer_rows:
              type: array
              description: Line items detailing the variants and quantities being moved.
              items:
                $ref: "#/components/schemas/BinTransferRow"
          required:
            - id
            - bin_transfer_number
            - location_id
        - $ref: "#/components/schemas/DeletableEntity"
      example:
        id: 1
        bin_transfer_number: BT-1
        location_id: 1
        status: IN_TRANSIT
        created_date: "2026-05-22T10:00:00.000Z"
        departed_at: "2026-05-22T11:00:00.000Z"
        arrived_at: null
        additional_info: urgent transfer
        bin_transfer_rows:
          - id: 11
            bin_transfer_id: 1
            location_id: 1
            variant_id: 42
            quantity: "3"
            source_bin_location_id: 7
            target_bin_location_id: 9
            traceability:
              - batch_id: 100
                serial_number_id: null
                quantity: "3"
            created_at: "2026-05-22T10:00:00.000Z"
            updated_at: "2026-05-22T10:00:00.000Z"
            deleted_at: null
        created_at: "2026-05-22T10:00:00.000Z"
        updated_at: "2026-05-22T10:00:00.000Z"
        deleted_at: null
    BinTransferListResponse:
      type: object
      description: Paginated list of bin transfer records.
      properties:
        data:
          type: array
          description: Array of bin transfer records.
          items:
            $ref: "#/components/schemas/BinTransfer"
      example:
        data:
          - id: 1
            bin_transfer_number: BT-1
            location_id: 1
            status: CREATED
            created_date: "2026-05-22T10:00:00.000Z"
            departed_at: null
            arrived_at: null
            additional_info: urgent transfer
            bin_transfer_rows: []
            created_at: "2026-05-22T10:00:00.000Z"
            updated_at: "2026-05-22T10:00:00.000Z"
            deleted_at: null
    BinTransferRowListResponse:
      type: object
      description: Paginated list of bin transfer rows.
      properties:
        data:
          type: array
          description: Array of bin transfer row records.
          items:
            $ref: "#/components/schemas/BinTransferRow"
      example:
        data:
          - id: 11
            bin_transfer_id: 1
            location_id: 1
            variant_id: 42
            quantity: "3"
            source_bin_location_id: 7
            target_bin_location_id: 9
            traceability:
              - batch_id: 100
                serial_number_id: null
                quantity: "3"
            created_at: "2026-05-22T10:00:00.000Z"
            updated_at: "2026-05-22T10:00:00.000Z"
            deleted_at: null
    BinInventory:
      type: object
      description: |-
        Per-bin inventory position at the requested granularity. Quantities are decimal
        strings. A null `bin_location_id`, `batch_id`, or `serial_number_id` denotes
        stock whose traceability on that axis is unset. Rows reaching zero across all
        three quantities are removed, so absence implies zero.
      properties:
        location_id:
          type: integer
          description: ID of the location.
        variant_id:
          type: integer
          description: ID of the variant.
        bin_location_id:
          type:
            - integer
            - "null"
          description: ID of the bin, or null for stock with no bin assignment.
        batch_id:
          type:
            - integer
            - "null"
          description: ID of the batch (present at `BATCH` granularity), or null.
        serial_number_id:
          type:
            - integer
            - "null"
          description: ID of the serial number (present at `SERIAL_NUMBER` granularity), or null.
        quantity_in_stock:
          type: string
          description: On-hand quantity in this position, as a decimal string.
        quantity_committed:
          type: string
          description: Quantity committed to orders, as a decimal string.
        quantity_expected:
          type: string
          description: Quantity expected from inbound receipts, as a decimal string.
    BinInventoryListResponse:
      type: object
      description: Paginated list of per-bin inventory positions.
      properties:
        data:
          type: array
          description: Array of per-bin inventory positions.
          items:
            $ref: "#/components/schemas/BinInventory"
      example:
        data:
          - location_id: 1
            variant_id: 42
            bin_location_id: 7
            batch_id: null
            serial_number_id: null
            quantity_in_stock: "12.0000000000"
            quantity_committed: "2.0000000000"
            quantity_expected: "5.0000000000"
    BinTransferTraceabilityRequest:
      type: object
      additionalProperties: false
      description: Batch/serial allocation supplied on a bin transfer row.
      properties:
        batch_id:
          type:
            - integer
            - "null"
          description: ID of the batch to draw from, or null.
        serial_number_id:
          type:
            - integer
            - "null"
          description: ID of the serial number to draw from, or null.
        quantity:
          type: string
          description: Quantity to allocate to this axis, as a decimal string.
    BinTransferRowCreateNested:
      type: object
      additionalProperties: false
      description: A bin transfer row supplied inline when creating a bin transfer.
      required:
        - variant_id
        - quantity
      properties:
        variant_id:
          type: integer
          description: ID of the variant to move.
        quantity:
          type: string
          description: Quantity to move, as a decimal string.
        source_bin_location_id:
          type:
            - integer
            - "null"
          description: ID of the bin to move stock from, or null.
        target_bin_location_id:
          type:
            - integer
            - "null"
          description: ID of the bin to move stock to, or null.
        traceability:
          type: array
          description: Optional batch/serial allocations for the moved quantity.
          items:
            $ref: "#/components/schemas/BinTransferTraceabilityRequest"
    CreateBinTransferRequest:
      type: object
      additionalProperties: false
      description: |-
        Request payload for creating a bin transfer, optionally with rows and per-row
        traceability in a single call.
      required:
        - location_id
      properties:
        location_id:
          type: integer
          description: ID of the location the transfer occurs within.
        bin_transfer_number:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable reference number for the transfer.
        additional_info:
          type:
            - string
            - "null"
          description: Optional free-text note about the transfer.
        created_date:
          type: string
          format: date-time
          description: Date the transfer was created. Defaults to now when omitted.
        bin_transfer_rows:
          type: array
          maxItems: 250
          description: Line items to create together with the transfer.
          items:
            $ref: "#/components/schemas/BinTransferRowCreateNested"
      example:
        location_id: 1
        bin_transfer_number: BT-1
        additional_info: urgent transfer
        bin_transfer_rows:
          - variant_id: 42
            quantity: "3"
            source_bin_location_id: 7
            target_bin_location_id: 9
            traceability:
              - batch_id: 100
                quantity: "3"
    UpdateBinTransferRequest:
      type: object
      additionalProperties: false
      description: Request payload for updating a bin transfer's header fields.
      properties:
        bin_transfer_number:
          type: string
          minLength: 1
          maxLength: 255
          description: Updated reference number.
        location_id:
          type: integer
          description: Updated location ID.
        additional_info:
          type:
            - string
            - "null"
          description: Updated free-text note.
        created_date:
          type:
            - string
            - "null"
          format: date-time
          description: Updated creation date.
        departed_at:
          type:
            - string
            - "null"
          format: date-time
          description: Updated departure timestamp.
        arrived_at:
          type:
            - string
            - "null"
          format: date-time
          description: Updated arrival timestamp.
      example:
        bin_transfer_number: BT-1
        additional_info: updated note
    CreateBinTransferRowRequest:
      type: object
      additionalProperties: false
      description: Request payload for adding a row to an existing bin transfer.
      required:
        - bin_transfer_id
        - variant_id
        - quantity
      properties:
        bin_transfer_id:
          type: integer
          description: ID of the bin transfer to add this row to.
        variant_id:
          type: integer
          description: ID of the variant to move.
        quantity:
          type: string
          description: Quantity to move, as a decimal string.
        source_bin_location_id:
          type:
            - integer
            - "null"
          description: ID of the bin to move stock from, or null.
        target_bin_location_id:
          type:
            - integer
            - "null"
          description: ID of the bin to move stock to, or null.
        traceability:
          type: array
          description: Optional batch/serial allocations for the moved quantity.
          items:
            $ref: "#/components/schemas/BinTransferTraceabilityRequest"
      example:
        bin_transfer_id: 1
        variant_id: 42
        quantity: "3"
        source_bin_location_id: 7
        target_bin_location_id: 9
    UpdateBinTransferRowRequest:
      type: object
      additionalProperties: false
      description: Request payload for updating a bin transfer row.
      properties:
        variant_id:
          type: integer
          description: Updated variant ID.
        quantity:
          type: string
          description: Updated quantity, as a decimal string.
        source_bin_location_id:
          type:
            - integer
            - "null"
          description: Updated source bin ID, or null.
        target_bin_location_id:
          type:
            - integer
            - "null"
          description: Updated target bin ID, or null.
        traceability:
          type: array
          description: Updated batch/serial allocations for the moved quantity.
          items:
            $ref: "#/components/schemas/BinTransferTraceabilityRequest"
      example:
        quantity: "5"
    UpdateBinTransferStatusRequest:
      type: object
      additionalProperties: false
      description: Request payload for changing a bin transfer's status.
      required:
        - status
      properties:
        status:
          description: New status for the bin transfer.
          $ref: "#/components/schemas/BinTransferStatus"
      example:
        status: IN_TRANSIT
    InventoryMovement:
      description: |
        Record of inventory quantity changes caused by transactions like sales, purchases, manufacturing, or adjustments
      allOf:
        - type: object
          properties:
            variant_id:
              type: integer
              description: Identifier of the product variant associated with the movement.
            location_id:
              type: integer
              description: Identifier of the location where the movement occurred.
            resource_type:
              description: The type of resource that caused the movement.
              $ref: "#/components/schemas/InventoryMovementResourceType"
            resource_id:
              type: integer
              description: Identifier of the resource that initiated the movement.
            caused_by_order_no:
              type: string
              description: Order number that triggered the movement.
            caused_by_resource_id:
              type: integer
              description: Identifier for the resource that caused the movement.
            movement_date:
              type: string
              format: date-time
              description: Date and time when the inventory movement occurred.
            quantity_change:
              type: number
              description: The change in quantity as a result of the movement.
            balance_after:
              type: number
              description: The quantity balance after the movement.
            value_per_unit:
              type: number
              description: The value per unit for the movement.
            value_in_stock_after:
              type: number
              description: The total value in stock after the movement.
            average_cost_after:
              type: number
              description: The average cost per unit after the movement.
            rank:
              type: integer
              description: A rank or order index for the movement.
        - $ref: "#/components/schemas/UpdatableEntity"
      required:
        - variant_id
        - location_id
        - resource_type
        - movement_date
        - quantity_change
        - balance_after
        - value_per_unit
        - value_in_stock_after
        - average_cost_after
        - created_at
        - updated_at
      example:
        id: 12345
        variant_id: 3001
        location_id: 1
        resource_type: PurchaseOrderRow
        resource_id: 5001
        caused_by_order_no: PO-2024-001
        caused_by_resource_id: 5001
        movement_date: "2024-01-15T10:30:00.000Z"
        quantity_change: 100.0
        balance_after: 500.0
        value_per_unit: 25.5
        value_in_stock_after: 12750.0
        average_cost_after: 25.5
        rank: 1
        created_at: "2024-01-15T10:30:00.000Z"
        updated_at: "2024-01-15T10:30:00.000Z"
    InventoryMovementListResponse:
      type: object
      description: |
        A list of inventory movement records tracking stock changes, transfers, and adjustments across locations.
      properties:
        data:
          type: array
          description: Array of inventory movement records with transaction details
          items:
            $ref: "#/components/schemas/InventoryMovement"
      required:
        - data
      example:
        data:
          - id: 5001
            variant_id: 2002
            location_id: 1
            resource_type: PurchaseOrderRow
            resource_id: 1001
            caused_by_order_no: PO-2024-001
            caused_by_resource_id: 1001
            movement_type: TRANSFER_IN
            movement_date: "2023-10-15T14:30:00Z"
            quantity: 10.0
            quantity_change: 10.0
            balance_after: 100.0
            cost_per_unit: 12.5
            value_per_unit: 12.5
            total_cost: 125.0
            value_in_stock_after: 1250.0
            average_cost_after: 12.5
            reference_id: 1001
            notes: Received from supplier shipment
            created_at: "2023-10-15T14:30:00Z"
            updated_at: "2023-10-15T14:30:00Z"
    Variant:
      description: Specific SKU of a product or material with unique pricing, configuration, and inventory tracking
      allOf:
        - $ref: "#/components/schemas/UpdatableEntity"
        - type: object
          properties:
            sku:
              type:
                - string
                - "null"
              description: |-
                Stock keeping unit - unique identifier for this variant. Katana allows
                variants to be created without a SKU; the field is always present in the
                response but may be null for such rows.
            sales_price:
              type:
                - number
                - "null"
              description: Price at which this variant is sold to customers
            product_id:
              type:
                - integer
                - "null"
              description: ID of the parent product if this variant belongs to a finished good
            material_id:
              type:
                - integer
                - "null"
              description: ID of the parent material if this variant belongs to a raw material
            purchase_price:
              type: number
[...]
